{# Settings #}
{% set root = "../../../" %}
{% set mainNavActive_1 = "shortcodes" %}
{% set sidebarNavActive_1 = "shortcode-base-portfolios" %}
{% set title = "Cube Portfolio Modern Grid 2" %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
{% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
{% include "html/assets/include/nunjucks/partials/core-css.njk" %}
<link rel="stylesheet" href="{{ root }}assets/vendor/bootstrap/offcanvas.css">
{% include "html/assets/include/nunjucks/partials/core-icons.njk" %}
<link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">
{% include "html/assets/include/nunjucks/partials/css/css-dzsparallaxer.njk" %}
<link rel="stylesheet" href="{{ root }}assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">

{% include "html/assets/include/nunjucks/partials/css/css-showcode.njk" %}

{% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
</head>

<body class="u-body--header-side-push-left u-body--header-side-opened u-has-sidebar-navigation g-overflow-x-hidden">
  <main>
    {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/sidebars/sidebar-shortcode-nav.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/page-title/shortcode-page-title/shortcode-page-title-block.njk" %}

    <section class="g-py-100">
      <div class="container">
        <div id="shortcode">
          <div class="shortcode-html">
            <!-- Cube Portfolio Blocks - Filter -->
            <ul id="filterControls1" class="d-block list-inline text-center g-mb-50">
              <li class="list-inline-item cbp-filter-item cbp-filter-item-active g-brd-around g-brd-gray-light-v4 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-12 rounded g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
                  data-filter="*">All
              </li>
              <li class="list-inline-item cbp-filter-item g-brd-around g-brd-gray-light-v4 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-12 rounded g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
                  data-filter=".identity">Identity
              </li>
              <li class="list-inline-item cbp-filter-item g-brd-around g-brd-gray-light-v4 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-12 rounded g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
                  data-filter=".design">Design
              </li>
              <li class="list-inline-item cbp-filter-item g-brd-around g-brd-gray-light-v4 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-12 rounded g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
                  data-filter=".graphic">Graphic
              </li>
              <li class="list-inline-item cbp-filter-item g-brd-around g-brd-gray-light-v4 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-12 rounded g-transition-0_3 g-px-20 g-py-7 mb-2" role="button"
                  data-filter=".graphic, .identity">Design &amp; Identity
              </li>
            </ul>
            <!-- End Cube Portfolio Blocks - Filter -->

            <!-- Cube Portfolio Blocks - Content -->
            <div class="cbp"
                 data-controls="#filterControls"
                 data-animation="quicksand"
                 data-x-gap="15"
                 data-y-gap="15"
                 data-media-queries='[
                   {"width": 1500, "cols": 2},
                   {"width": 1100, "cols": 2},
                   {"width": 800, "cols": 2},
                   {"width": 480, "cols": 2},
                   {"width": 300, "cols": 1}
                 ]'>
              <!-- Cube Portfolio Blocks - Item -->
              <div class="cbp-item graphic">
                <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-lightred--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                  <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ root }}assets/img-temp/425x250/img4.png" alt="Image Description">
                  <span class="g-font-weight-600 g-font-size-12 text-uppercase">Hi-tech</span>
                  <h3 class="h3 g-font-weight-600 mb-0">Latest VR product</h3>

                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
              <!-- End Cube Portfolio Blocks - Item -->

              <!-- Cube Portfolio Blocks - Item -->
              <div class="cbp-item design">
                <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-cyan--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                  <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ root }}assets/img-temp/425x250/img2.png" alt="Image Description">
                  <span class="g-font-weight-600 g-font-size-12 text-uppercase">Others</span>
                  <h3 class="h3 g-font-weight-600 mb-0">Brochure</h3>

                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
              <!-- End Cube Portfolio Blocks - Item -->

              <!-- Cube Portfolio Blocks - Item -->
              <div class="cbp-item graphic identity">
                <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                  <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ root }}assets/img-temp/425x250/img3.png" alt="Image Description">
                  <span class="g-font-weight-600 g-font-size-12 text-uppercase">Furniture</span>
                  <h3 class="h3 g-font-weight-600 mb-0">Lamp</h3>

                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
              <!-- End Cube Portfolio Blocks - Item -->

              <!-- Cube Portfolio Blocks - Item -->
              <div class="cbp-item identity design">
                <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-purple--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                  <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ root }}assets/img-temp/425x250/img1.png" alt="Image Description">
                  <span class="g-font-weight-600 g-font-size-12 text-uppercase">Clocks</span>
                  <h3 class="h3 g-font-weight-600 mb-0">Alarm Clock</h3>

                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
              <!-- End Cube Portfolio Blocks - Item -->

              <!-- Cube Portfolio Blocks - Item -->
              <div class="cbp-item identity">
                <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-primary--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                  <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ root }}assets/img-temp/425x250/img5.png" alt="Image Description">
                  <span class="g-font-weight-600 g-font-size-12 text-uppercase">Hi-Tech</span>
                  <h3 class="h3 g-font-weight-600 mb-0">Tivoli Radio</h3>

                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
              <!-- End Cube Portfolio Blocks - Item -->

              <!-- Cube Portfolio Blocks - Item -->
              <div class="cbp-item graphic">
                <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-pink--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                  <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ root }}assets/img-temp/425x250/img6.png" alt="Image Description">
                  <span class="g-font-weight-600 g-font-size-12 text-uppercase">Cosmetics</span>
                  <h3 class="h3 g-font-weight-600 mb-0">Spa Cosmetics</h3>

                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
              <!-- End Cube Portfolio Blocks - Item -->

              <!-- Cube Portfolio Blocks - Item -->
              <div class="cbp-item design">
                <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-primary--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                  <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ root }}assets/img-temp/425x250/img10.png" alt="Image Description">
                  <span class="g-font-weight-600 g-font-size-12 text-uppercase">Cosmetic</span>
                  <h3 class="h3 g-font-weight-600 mb-0">Creams</h3>

                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
              <!-- End Cube Portfolio Blocks - Item -->

              <!-- Cube Portfolio Blocks - Item -->
              <div class="cbp-item graphic identity">
                <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-yellow--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                  <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="{{ root }}assets/img-temp/425x250/img7.png" alt="Image Description">
                  <span class="g-font-weight-600 g-font-size-12 text-uppercase">Clocks</span>
                  <h3 class="h3 g-font-weight-600 mb-0">Desk Clock</h3>

                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
              <!-- End Cube Portfolio Blocks - Item -->
            </div>
            <!-- End Cube Portfolio Blocks - Content -->
          </div>

          <div class="shortcode-styles">
            <!-- CSS Implementing Plugins -->
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
          </div>

          <div class="shortcode-scripts">
            <!-- JS Implementing Plugins -->
            <script type="text/plain" src="{{ root }}assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

            <!-- JS Unify -->
            <script type="text/plain" src="{{ root }}assets/js/components/hs.cubeportfolio.js"></script>

            <!-- JS Plugins Init. -->
            <script type="text/plain">
              $(document).on('ready', function () {
                // initialization of cubeportfolio
                $.HSCore.components.HSCubeportfolio.init('.cbp');
              });
            </script>
          </div>
        </div>

        {% set contentTarget = "#shortcode" %}
        {% set modalID = "#modalMarkup" %}
        {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
      </div>
    </section>

    {% include "html/assets/include/nunjucks/partials/blocks/cta/cta-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
  </main>

  {% include "html/assets/include/nunjucks/partials/blocks/modals/modal-markup.njk" %}

  {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

  <!-- JS Implementing Plugins -->
  <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  {% include "html/assets/include/nunjucks/partials/js/js-dzsparallaxer.njk" %}
  <script src="{{ root }}assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

  {% include "html/assets/include/nunjucks/partials/js/js-jquery-ui-core.njk" %}

  <!-- jQuery UI Helpers -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>
  <!-- End jQuery UI Helpers -->

  <!-- jQuery UI Widgets -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>
  <!-- End jQuery UI Widgets -->

  <!-- JS Unify -->
  <script src="{{ root }}assets/js/hs.core.js"></script>

  <script src="{{ root }}assets/js/components/hs.header.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
  <script src="{{ root }}assets/js/components/hs.header-side.js"></script>

  <script src="{{ root }}assets/js/components/hs.cubeportfolio.js"></script>

  <script src="{{ root }}assets/js/components/hs.autocomplete-local-search.js"></script>
  <script src="{{ root }}assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.shortcode-filter.js"></script>

  <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

  {% include "html/assets/include/nunjucks/partials/js/js-show-code.njk" %}

  <!-- JS Customization -->
  <script src="{{ root }}assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
      $.HSCore.components.HSHeaderSide.init($('#sideNav'));

      // initialization of autocomplet
      $.HSCore.components.HSLocalSearchAutocomplete.init('#u-sidebar-navigation__search-autocomplete');

      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });

      // initialization of cubeportfolio
      $.HSCore.components.HSCubeportfolio.init('.cbp');
    });
  </script>
</body>
</html>
