{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "pages" %}
{% set mainNavActive_2 = "pages-profiles" %}
{% set mainNavActive_3 = "page-profile-users-2" %}
{% set title = "Unify Profile Users Contacts | " %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-css.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-icons.njk" %}
    <link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

    {% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
    {% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
  </head>

  <body>
    <main>
      {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

      <!-- Breadcrumb -->
      <section class="g-my-30">
        <div class="container">
          <ul class="u-list-inline">
            <li class="list-inline-item g-mr-7">
              <a class="u-link-v5 g-color-main g-color-primary--hover" href="#!">Home</a>
              <i class="fa fa-angle-right g-ml-7"></i>
            </li>
            <li class="list-inline-item g-mr-7">
              <a class="u-link-v5 g-color-main g-color-primary--hover" href="#!">Pages</a>
              <i class="fa fa-angle-right g-ml-7"></i>
            </li>
            <li class="list-inline-item g-color-primary">
              <span>Profile Users Contacts</span>
            </li>
          </ul>
        </div>
      </section>
      <!-- End Breadcrumb -->

      <section class="g-mb-100">
        <div class="container">
          <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-lg-3 g-mb-50 g-mb-0--lg">
              <!-- User Image -->
              <div class="u-block-hover g-pos-rel">
                <figure>
                  <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="{{ root }}assets/img-temp/400x450/img5.jpg" alt="Image Description">
                </figure>

                <!-- Figure Caption -->
                <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                  <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                    <!-- Figure Social Icons -->
                    <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                      <li class="list-inline-item align-middle g-mx-7">
                        <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                          <i class="icon-note u-line-icon-pro"></i>
                        </a>
                      </li>
                      <li class="list-inline-item align-middle g-mx-7">
                        <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                          <i class="icon-notebook u-line-icon-pro"></i>
                        </a>
                      </li>
                      <li class="list-inline-item align-middle g-mx-7">
                        <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                          <i class="icon-settings u-line-icon-pro"></i>
                        </a>
                      </li>
                    </ul>
                    <!-- End Figure Social Icons -->
                  </div>
                </figcaption>
                <!-- End Figure Caption -->

                <!-- User Info -->
                <span class="g-pos-abs g-top-20 g-left-0">
                  <a class="btn btn-sm u-btn-primary rounded-0" href="#!">Johne Doe</a>
                  <small class="d-block g-bg-black g-color-white g-pa-5">Project Manager</small>
                </span>
                <!-- End User Info -->
              </div>
              <!-- User Image -->

              <!-- Sidebar Navigation -->
              <div class="list-group list-group-border-0 g-mb-40">
                <!-- Overall -->
                <a href="page-profile-main-1.html" class="list-group-item list-group-item-action justify-content-between">
                  <span><i class="icon-home g-pos-rel g-top-1 g-mr-8"></i> Overall</span>
                  <span class="u-label g-font-size-11 g-bg-gray-dark-v2 g-rounded-20 g-px-10">2</span>
                </a>
                <!-- End Overall -->

                <!-- Profile -->
                <a href="page-profile-profile-1.html" class="list-group-item list-group-item-action justify-content-between">
                  <span><i class="icon-cursor g-pos-rel g-top-1 g-mr-8"></i> Profile</span>
                </a>
                <!-- End Profile -->

                <!-- Users Contacts -->
                <a href="page-profile-users-1.html" class="list-group-item justify-content-between active">
                  <span><i class="icon-notebook g-pos-rel g-top-1 g-mr-8"></i> Users Contacts</span>
                </a>
                <!-- End Users Contacts -->

                <!-- My Projects -->
                <a href="page-profile-projects-1.html" class="list-group-item list-group-item-action justify-content-between">
                  <span><i class="icon-layers g-pos-rel g-top-1 g-mr-8"></i> My Projects</span>
                  <span class="u-label g-font-size-11 g-bg-primary g-rounded-20 g-px-10">9</span>
                </a>
                <!-- End My Projects -->

                <!-- Comments -->
                <a href="page-profile-comments-1.html" class="list-group-item list-group-item-action justify-content-between">
                  <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Comments</span>
                  <span class="u-label g-font-size-11 g-bg-pink g-rounded-20 g-px-8">24</span>
                </a>
                <!-- End Comments -->

                <!-- Reviews -->
                <a href="page-profile-reviews-1.html" class="list-group-item list-group-item-action justify-content-between">
                  <span><i class="icon-heart g-pos-rel g-top-1 g-mr-8"></i> Reviews</span>
                </a>
                <!-- End Reviews -->

                <!-- History -->
                <a href="page-profile-history-1.html" class="list-group-item list-group-item-action justify-content-between">
                  <span><i class="icon-fire g-pos-rel g-top-1 g-mr-8"></i> History</span>
                </a>
                <!-- End History -->

                <!-- Settings -->
                <a href="page-profile-settings-1.html" class="list-group-item list-group-item-action justify-content-between">
                  <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Settings</span>
                  <span class="u-label g-font-size-11 g-bg-cyan g-rounded-20 g-px-8">3</span>
                </a>
                <!-- End Settings -->
              </div>
              <!-- End Sidebar Navigation -->

              <!-- Project Progress -->
              <div class="card border-0 rounded-0 g-mb-50">
                <!-- Panel Header -->
                <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
                  <h3 class="h6 mb-0">
                    <i class="icon-layers g-pos-rel g-top-1 g-mr-5"></i> Project Progress
                  </h3>
                  <div class="dropdown g-mb-10 g-mb-0--md">
                    <span class="g-color-primary--hover g-cursor-pointer g-mr-minus-5 g-pa-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-options-vertical g-pos-rel g-top-1"></i>
                    </span>
                    <div class="dropdown-menu dropdown-menu-right rounded-0 g-mt-10">
                      <a class="dropdown-item g-px-10" href="#!">
                        <i class="icon-layers g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> Projects
                      </a>
                      <a class="dropdown-item g-px-10" href="#!">
                        <i class="icon-wallet g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> Wallets
                      </a>
                      <a class="dropdown-item g-px-10" href="#!">
                        <i class="icon-fire g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> Reports
                      </a>
                      <a class="dropdown-item g-px-10" href="#!">
                        <i class="icon-settings g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> Users Setting
                      </a>

                      <div class="dropdown-divider"></div>

                      <a class="dropdown-item g-px-10" href="#!">
                        <i class="icon-plus g-font-size-12 g-color-gray-dark-v5 g-mr-5"></i> View More
                      </a>
                    </div>
                  </div>
                </div>
                <!-- End Panel Header -->

                <!-- Panel Body -->
                <div class="js-scrollbar card-block u-info-v1-1 g-bg-white-gradient-v1--after g-height-300 g-pa-0">
                  <!-- Web Design -->
                  <div class="g-mb-20">
                    <h6 class="g-mb-10">Web Design <span class="float-right g-ml-10">68%</span></h6>
                    <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5">
                      <div class="js-hr-progress-bar-indicator progress-bar g-bg-cyan u-progress-bar--xs" role="progressbar" style="width: 68%;" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small class="g-font-size-12">11% more than last week</small>
                  </div>
                  <!-- End Web Design -->

                  <!-- Unify Project -->
                  <div class="g-mb-20">
                    <h6 class="g-mb-10">Dribbble Shots <span class="float-right g-ml-10">62%</span></h6>
                    <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5">
                      <div class="js-hr-progress-bar-indicator progress-bar g-bg-pink u-progress-bar--xs" role="progressbar" style="width: 62%;" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small class="g-font-size-12">20% less than last week</small>
                  </div>
                  <!-- End Unify Project -->

                  <!-- Unify Project -->
                  <div class="g-mb-20">
                    <h6 class="g-mb-10">Unify Project <span class="float-right g-ml-10">93%</span></h6>
                    <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5">
                      <div class="js-hr-progress-bar-indicator progress-bar g-bg-primary u-progress-bar--xs" role="progressbar" style="width: 93%;" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small class="g-font-size-12">17% more than last week</small>
                  </div>
                  <!-- End Unify Project -->

                  <!-- WordPress Coding -->
                  <div class="g-mb-20">
                    <h6 class="g-mb-10">WordPress Coding <span class="float-right g-ml-10">74%</span></h6>
                    <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5">
                      <div class="js-hr-progress-bar-indicator progress-bar g-bg-black u-progress-bar--xs" role="progressbar" style="width: 74%;" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small class="g-font-size-12">35% more than last week</small>
                  </div>
                  <!-- End WordPress Coding -->

                  <!-- Pixeel Ltd -->
                  <div class="g-mb-20">
                    <h6 class="g-mb-10">Pixeel Ltd <span class="float-right g-ml-10">86%</span></h6>
                    <div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-5">
                      <div class="js-hr-progress-bar-indicator progress-bar g-bg-darkpurple u-progress-bar--xs" role="progressbar" style="width: 86%;" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small class="g-font-size-12">42% more than last week</small>
                  </div>
                  <!-- End Pixeel Ltd -->
                </div>
                <!-- End Panel Body -->
              </div>
              <!-- End Project Progress -->
            </div>
            <!-- End Profile Sidebar -->

            <!-- Profle Content -->
            <div class="col-lg-9">
              <!-- User Block -->
              <div class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40">
                <div class="row">
                  <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                    <!-- User Image -->
                    <div class="u-block-hover g-pos-rel g-mb-20">
                      <figure>
                        <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="{{ root }}assets/img-temp/400x450/img1.jpg" alt="Image Description">
                      </figure>

                      <!-- Figure Caption -->
                      <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                        <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                          <!-- Figure Social Icons -->
                          <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                            <li class="list-inline-item align-middle g-mx-7">
                              <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                                <i class="icon-note u-line-icon-pro"></i>
                              </a>
                            </li>
                            <li class="list-inline-item align-middle g-mx-7">
                              <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                                <i class="icon-notebook u-line-icon-pro"></i>
                              </a>
                            </li>
                            <li class="list-inline-item align-middle g-mx-7">
                              <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                                <i class="icon-settings u-line-icon-pro"></i>
                              </a>
                            </li>
                          </ul>
                          <!-- End Figure Social Icons -->
                        </div>
                      </figcaption>
                      <!-- End Figure Caption -->
                    </div>
                    <!-- User Image -->

                    <!-- User Contact Buttons -->
                    <a class="btn btn-block u-btn-outline-primary g-rounded-50 g-py-12 g-mb-10" href="#!">
                      <i class="icon-user-follow g-pos-rel g-top-1 g-mr-5"></i> Follow Me
                    </a>
                    <a class="btn btn-block u-btn-darkgray g-rounded-50 g-py-12 g-mb-10" href="#!">
                      <i class="icon-call-in g-pos-rel g-top-1 g-mr-5"></i> Contact Me
                    </a>
                    <!-- End User Contact Buttons -->
                  </div>

                  <div class="col-lg-8">
                    <!-- User Details -->
                    <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                      <h2 class="g-font-weight-300 g-mr-10">Kristina Watson</h2>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-dribbble"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-dribbble"></i>
                          </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!-- End User Details -->

                    <!-- User Position -->
                    <h4 class="h6 g-font-weight-300 g-mb-10">
                      <i class="icon-badge g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> Project Manager at Pixeel Ltd.
                    </h4>
                    <!-- End User Position -->

                    <!-- User Info -->
                    <ul class="list-inline g-font-weight-300">
                      <li class="list-inline-item g-mr-20">
                        <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> London, UK
                      </li>
                      <li class="list-inline-item g-mr-20">
                        <i class="icon-check g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> Verified User
                      </li>
                      <li class="list-inline-item g-mr-20">
                        <i class="icon-link g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> <a class="g-color-main g-color-primary--hover" href="#!">hs.c/hsu20</a>
                      </li>
                    </ul>
                    <!-- End User Info -->

                    <hr class="g-brd-gray-light-v4 g-my-20">

                    <p class="lead g-line-height-1_8">About elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellusimp imperdiet molestie est. Dell viverra cursus nibh volutpat at.</p>

                    <hr class="g-brd-gray-light-v4 g-my-20">

                    <!-- User Skills -->
                    <div class="d-flex flex-wrap text-center">
                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-purple g-mb-5"
                             data-circles-value="54"
                             data-circles-max-value="100"
                             data-circles-bg-color="#d3b6c6"
                             data-circles-fg-color="#9b6bcc"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Consulting</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-blue g-mb-5"
                             data-circles-value="72"
                             data-circles-max-value="100"
                             data-circles-bg-color="#bee3f7"
                             data-circles-fg-color="#3498db"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Branding</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-lightred g-mb-5"
                             data-circles-value="81"
                             data-circles-max-value="100"
                             data-circles-bg-color="#ffc2bb"
                             data-circles-fg-color="#e74c3c"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Copywriting</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-primary g-mb-5"
                             data-circles-value="83"
                             data-circles-max-value="100"
                             data-circles-bg-color="#c9ff97"
                             data-circles-fg-color="#72c02c"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Marketing</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mb-20 g-mb-0--lg">
                        <div class="js-pie g-mb-5"
                             data-circles-value="92"
                             data-circles-max-value="100"
                             data-circles-bg-color="#eeeeee"
                             data-circles-fg-color="#111111"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Management</h4>
                      </div>
                      <!-- End Counter Pie Chart -->
                    </div>
                    <!-- End User Skills -->
                  </div>
                </div>
              </div>
              <!-- End User Block -->

              <!-- User Block -->
              <div class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40">
                <div class="row">
                  <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                    <!-- User Image -->
                    <div class="u-block-hover g-pos-rel g-mb-20">
                      <figure>
                        <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="{{ root }}assets/img-temp/400x450/img2.jpg" alt="Image Description">
                      </figure>

                      <!-- Figure Caption -->
                      <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                        <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                          <!-- Figure Social Icons -->
                          <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                            <li class="list-inline-item align-middle g-mx-7">
                              <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                                <i class="icon-note u-line-icon-pro"></i>
                              </a>
                            </li>
                            <li class="list-inline-item align-middle g-mx-7">
                              <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                                <i class="icon-notebook u-line-icon-pro"></i>
                              </a>
                            </li>
                            <li class="list-inline-item align-middle g-mx-7">
                              <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                                <i class="icon-settings u-line-icon-pro"></i>
                              </a>
                            </li>
                          </ul>
                          <!-- End Figure Social Icons -->
                        </div>
                      </figcaption>
                      <!-- End Figure Caption -->
                    </div>
                    <!-- User Image -->

                    <!-- User Contact Buttons -->
                    <a class="btn btn-block u-btn-outline-primary g-rounded-50 g-py-12 g-mb-10" href="#!">
                      <i class="icon-user-follow g-pos-rel g-top-1 g-mr-5"></i> Follow Me
                    </a>
                    <a class="btn btn-block u-btn-darkgray g-rounded-50 g-py-12 g-mb-10" href="#!">
                      <i class="icon-call-in g-pos-rel g-top-1 g-mr-5"></i> Contact Me
                    </a>
                    <!-- End User Contact Buttons -->
                  </div>

                  <div class="col-lg-8">
                    <!-- User Details -->
                    <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                      <h2 class="g-font-weight-300 g-mr-10">Claire Jensen</h2>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-dribbble"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-dribbble"></i>
                          </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!-- End User Details -->

                    <!-- User Position -->
                    <h4 class="h6 g-font-weight-300 g-mb-10">
                      <i class="icon-badge g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> Project Manager at Pixeel Ltd.
                    </h4>
                    <!-- End User Position -->

                    <!-- User Info -->
                    <ul class="list-inline g-font-weight-300">
                      <li class="list-inline-item g-mr-20">
                        <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> London, UK
                      </li>
                      <li class="list-inline-item g-mr-20">
                        <i class="icon-check g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> Verified User
                      </li>
                      <li class="list-inline-item g-mr-20">
                        <i class="icon-link g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> <a class="g-color-main g-color-primary--hover" href="#!">hs.c/hsu20</a>
                      </li>
                    </ul>
                    <!-- End User Info -->

                    <hr class="g-brd-gray-light-v4 g-my-20">

                    <p class="lead g-line-height-1_8">About elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellusimp imperdiet molestie est. Dell viverra cursus nibh volutpat at.</p>

                    <hr class="g-brd-gray-light-v4 g-my-20">

                    <!-- User Skills -->
                    <div class="d-flex flex-wrap text-center">
                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-purple g-mb-5"
                             data-circles-value="54"
                             data-circles-max-value="100"
                             data-circles-bg-color="#d3b6c6"
                             data-circles-fg-color="#9b6bcc"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Consulting</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-blue g-mb-5"
                             data-circles-value="72"
                             data-circles-max-value="100"
                             data-circles-bg-color="#bee3f7"
                             data-circles-fg-color="#3498db"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Branding</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-lightred g-mb-5"
                             data-circles-value="81"
                             data-circles-max-value="100"
                             data-circles-bg-color="#ffc2bb"
                             data-circles-fg-color="#e74c3c"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Copywriting</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-primary g-mb-5"
                             data-circles-value="83"
                             data-circles-max-value="100"
                             data-circles-bg-color="#c9ff97"
                             data-circles-fg-color="#72c02c"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Marketing</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mb-20 g-mb-0--lg">
                        <div class="js-pie g-mb-5"
                             data-circles-value="92"
                             data-circles-max-value="100"
                             data-circles-bg-color="#eeeeee"
                             data-circles-fg-color="#111111"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Management</h4>
                      </div>
                      <!-- End Counter Pie Chart -->
                    </div>
                    <!-- End User Skills -->
                  </div>
                </div>
              </div>
              <!-- End User Block -->

              <!-- User Block -->
              <div class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40">
                <div class="row">
                  <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                    <!-- User Image -->
                    <div class="u-block-hover g-pos-rel g-mb-20">
                      <figure>
                        <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="{{ root }}assets/img-temp/400x450/img4.jpg" alt="Image Description">
                      </figure>

                      <!-- Figure Caption -->
                      <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                        <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                          <!-- Figure Social Icons -->
                          <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                            <li class="list-inline-item align-middle g-mx-7">
                              <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                                <i class="icon-note u-line-icon-pro"></i>
                              </a>
                            </li>
                            <li class="list-inline-item align-middle g-mx-7">
                              <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                                <i class="icon-notebook u-line-icon-pro"></i>
                              </a>
                            </li>
                            <li class="list-inline-item align-middle g-mx-7">
                              <a class="u-icon-v1 u-icon-size--md g-color-white" href="#!">
                                <i class="icon-settings u-line-icon-pro"></i>
                              </a>
                            </li>
                          </ul>
                          <!-- End Figure Social Icons -->
                        </div>
                      </figcaption>
                      <!-- End Figure Caption -->
                    </div>
                    <!-- User Image -->

                    <!-- User Contact Buttons -->
                    <a class="btn btn-block u-btn-outline-primary g-rounded-50 g-py-12 g-mb-10" href="#!">
                      <i class="icon-user-follow g-pos-rel g-top-1 g-mr-5"></i> Follow Me
                    </a>
                    <a class="btn btn-block u-btn-darkgray g-rounded-50 g-py-12 g-mb-10" href="#!">
                      <i class="icon-call-in g-pos-rel g-top-1 g-mr-5"></i> Contact Me
                    </a>
                    <!-- End User Contact Buttons -->
                  </div>

                  <div class="col-lg-8">
                    <!-- User Details -->
                    <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                      <h2 class="g-font-weight-300 g-mr-10">Katarina Williams</h2>
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-dribbble"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-dribbble"></i>
                          </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="#!">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!-- End User Details -->

                    <!-- User Position -->
                    <h4 class="h6 g-font-weight-300 g-mb-10">
                      <i class="icon-badge g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> Project Manager at Pixeel Ltd.
                    </h4>
                    <!-- End User Position -->

                    <!-- User Info -->
                    <ul class="list-inline g-font-weight-300">
                      <li class="list-inline-item g-mr-20">
                        <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> London, UK
                      </li>
                      <li class="list-inline-item g-mr-20">
                        <i class="icon-check g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> Verified User
                      </li>
                      <li class="list-inline-item g-mr-20">
                        <i class="icon-link g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> <a class="g-color-main g-color-primary--hover" href="#!">hs.c/hsu20</a>
                      </li>
                    </ul>
                    <!-- End User Info -->

                    <hr class="g-brd-gray-light-v4 g-my-20">

                    <p class="lead g-line-height-1_8">About elementum tincidunt massa, a pulvinar leo ultricies ut. Ut fringilla lectus tellusimp imperdiet molestie est. Dell viverra cursus nibh volutpat at.</p>

                    <hr class="g-brd-gray-light-v4 g-my-20">

                    <!-- User Skills -->
                    <div class="d-flex flex-wrap text-center">
                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-purple g-mb-5"
                             data-circles-value="54"
                             data-circles-max-value="100"
                             data-circles-bg-color="#d3b6c6"
                             data-circles-fg-color="#9b6bcc"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Consulting</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-blue g-mb-5"
                             data-circles-value="72"
                             data-circles-max-value="100"
                             data-circles-bg-color="#bee3f7"
                             data-circles-fg-color="#3498db"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Branding</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-lightred g-mb-5"
                             data-circles-value="81"
                             data-circles-max-value="100"
                             data-circles-bg-color="#ffc2bb"
                             data-circles-fg-color="#e74c3c"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Copywriting</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mr-40 g-mb-20 g-mb-0--xl">
                        <div class="js-pie g-color-primary g-mb-5"
                             data-circles-value="83"
                             data-circles-max-value="100"
                             data-circles-bg-color="#c9ff97"
                             data-circles-fg-color="#72c02c"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Marketing</h4>
                      </div>
                      <!-- End Counter Pie Chart -->

                      <!-- Counter Pie Chart -->
                      <div class="g-mb-20 g-mb-0--lg">
                        <div class="js-pie g-mb-5"
                             data-circles-value="92"
                             data-circles-max-value="100"
                             data-circles-bg-color="#eeeeee"
                             data-circles-fg-color="#111111"
                             data-circles-radius="30"
                             data-circles-stroke-width="3"
                             data-circles-additional-text="%"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="14">
                         </div>
                        <h4 class="h6 g-font-weight-300">Management</h4>
                      </div>
                      <!-- End Counter Pie Chart -->
                    </div>
                    <!-- End User Skills -->
                  </div>
                </div>
              </div>
              <!-- End User Block -->

              <!-- Pagination -->
              <nav class="text-center" aria-label="Page Navigation">
                <ul class="list-inline">
                  <li class="list-inline-item float-sm-left">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="#!" aria-label="Previous">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i> Previous
                    </span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="list-inline-item g-hidden-sm-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#!">1</a>
                  </li>
                  <li class="list-inline-item g-hidden-sm-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" href="#!">2</a>
                  </li>
                  <li class="list-inline-item g-hidden-sm-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#!">3</a>
                  </li>
                  <li class="list-inline-item g-hidden-sm-down">
                    <a class="g-pa-7-14">...</a>
                  </li>
                  <li class="list-inline-item g-hidden-sm-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#!">80</a>
                  </li>
                  <li class="list-inline-item float-sm-right">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="#!" aria-label="Next">
                    <span aria-hidden="true">
                      Next <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- End Pagination -->
            </div>
            <!-- End Profle Content -->
          </div>
        </div>
      </section>

      {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
      {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
      {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
    </main>

    {% include "html/assets/include/nunjucks/partials/blocks/helpers/outer-spaces-helper.njk" %}

    {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

    <!-- JS Implementing Plugins -->
    <script src="{{ root }}assets/vendor/appear.js"></script>
    <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="{{ root }}assets/vendor/circles/circles.min.js"></script>
    <script src="{{ root }}assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- JS Unify -->
    <script src="{{ root }}assets/js/hs.core.js"></script>
    <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
    <script src="{{ root }}assets/js/components/hs.header.js"></script>
    <script src="{{ root }}assets/js/components/hs.tabs.js"></script>
    <script src="{{ root }}assets/js/components/hs.progress-bar.js"></script>
    <script src="{{ root }}assets/js/components/hs.scrollbar.js"></script>
    <script src="{{ root }}assets/js/components/hs.chart-pie.js"></script>
    <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="{{ root }}assets/js/custom.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of chart pies
        var items = $.HSCore.components.HSChartPie.init('.js-pie');

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init( $('.js-scrollbar') );
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of horizontal progress bars
        setTimeout(function () { // important in this case
          var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
            direction: 'horizontal',
            indicatorSelector: '.js-hr-progress-bar-indicator'
          });
        }, 1);
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
    </script>

    {% set SSCookiePrefix = "unify" %}
    {% set SSDefaultCustomColor = "#72c02c" %}
    {% set SSDefaultOuterSpaces = "0px" %}
    {% set SSDefaultContentFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% set SSDefaultHeadingFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% include "html/assets/include/nunjucks/partials/blocks/style-switcher.njk" %}
  </body>
</html>
