/*------------------------------------
  Buttons
------------------------------------*/

.u-btn-lightblue-v3 {
  color: $g-color-white;
  background-color: $g-color-lightblue-v3;

  &:hover,
  &:focus,
  &.active {
    color: $g-color-white;
  }

  &:hover,
  &.active {
    border-color: $g-color-lightblue-v8;
    background-color: $g-color-lightblue-v8;
  }

  &.disabled,
  &:disabled {
    background-color: $g-color-gray-light-v8;
    color: $g-color-gray-light-v6;
    border-color: $g-color-gray-light-v8;

    &:hover,
    &:focus,
    &.active {
      background-color: $g-color-gray-light-v8;
      color: $g-color-gray-light-v6;
      border-color: $g-color-gray-light-v8;
    }
  }
}