<!-- Top Activity Toggler -->
<a id="activityInvoker" class="text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20" href="#!" aria-controls="activityMenu" aria-haspopup="true" aria-expanded="false"
   data-dropdown-event="click"
   data-dropdown-target="#activityMenu"
   data-dropdown-type="css-animation"
   data-dropdown-animation-in="fadeInRight"
   data-dropdown-animation-out="fadeOutRight"
   data-dropdown-duration="300">
  <i class="hs-admin-align-right g-absolute-centered"></i>
</a>
<!-- End Top Activity Toggler -->