<!-- Top Search Bar (Mobi) -->
<a id="searchInvoker" class="g-hidden-sm-up text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20" href="#!" aria-controls="searchMenu" aria-haspopup="true" aria-expanded="false"
   data-is-mobile-only="true"
   data-dropdown-event="click"
   data-dropdown-target="#searchMenu"
   data-dropdown-type="css-animation"
   data-dropdown-duration="300"
   data-dropdown-animation-in="fadeIn"
   data-dropdown-animation-out="fadeOut">
  <i class="hs-admin-search g-absolute-centered"></i>
</a>
<!-- End Top Search Bar (Mobi) -->