/*------------------------------------
  Checkboxes Themes
------------------------------------*/

.u-check {
  input[type="checkbox"],
  input[type="radio"] {
    &:checked {
      & +,
      & + * {
        .u-check-icon--lightblue-v3 {
          color: $g-color-lightblue-v3;
          border-color: $g-color-gray-light-v7;

          i {
            &::after {
              background-color: $g-color-lightblue-v3;
            }
          }
        }
      }
    }
  }
}
