<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
        <div class="d-lg-flex">
          <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 &copy; All Rights Reserved.</small>
          <ul class="u-list-inline">
            <li class="list-inline-item">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <span>|</span>
            </li>
            <li class="list-inline-item">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Terms of Use</a>
            </li>
            <li class="list-inline-item">
              <span>|</span>
            </li>
            <li class="list-inline-item">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">License</a>
            </li>
            <li class="list-inline-item">
              <span>|</span>
            </li>
            <li class="list-inline-item">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Support</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 align-self-center">
        <ul class="list-inline text-center text-md-right mb-0">
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Skype">
            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-skype"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Pinterest">
            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-pinterest"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Dribbble">
            <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-dribbble"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End Copyright Footer -->