/*------------------------------------
  Buttons Outline
------------------------------------*/

.u-btn-outline-gray-dark-v6 {
  background-color: transparent;
  color: $g-color-gray-dark-v6;
  border-color: $g-color-gray-light-v7;

  &:hover,
  &:focus,
  &.active {
    background-color: transparent;
    color: $g-color-gray-dark-v6;
    border-color: $g-color-lightblue-v3;
  }

  &.disabled,
  &:disabled {
    background-color: transparent;
    color: $g-color-gray-light-v6;
    border-color: $g-color-gray-light-v7;

    &:hover,
    &:focus,
    &.active {
      background-color: transparent;
      color: $g-color-gray-light-v6;
      border-color: $g-color-gray-light-v7;
    }
  }
}