<!-- Navigation -->
<div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-0--lg {% if mainNavAlignment == 'right' %}g-mr-40--lg{% elif mainNavAlignment == 'left' %}g-ml-40--lg{% endif %}" id="navBar">
  <ul class="navbar-nav g-pos-rel 1text-uppercase g-font-size-14 {% if mainNavAlignment == 'right' %}ml-auto{% elif mainNavAlignment == 'left' %}mr-auto{% endif %}">
    <!-- Unify Main -->
    <li class="nav-item g-mx-10--lg g-mx-15--xl">
      <a href="{{ root }}all-demos.html" class="nav-link g-color-primary--hover g-py-7 g-px-0">All Demos</a>
    </li>
    <!-- End Unify Main -->

    <!-- Unify Main -->
    <li class="nav-item g-mx-10--lg g-mx-15--xl">
      <a href="{{ root }}all-demos.html#cbpf=.unify-main" class="nav-link g-color-primary--hover g-py-7 g-px-0" target="_blank">Unify Main</a>
    </li>
    <!-- End Unify Main -->

    <!-- Admin Template -->
    <li class="nav-item  g-mx-10--lg g-mx-15--xl">
      <a href="{{ root }}all-demos.html#cbpf=.admin-dashboard" class="nav-link g-color-primary--hover g-py-7 g-px-0" target="_blank">Admin Template</a>
    </li>
    <!-- End Admin Template -->

    <!-- Admin Template -->
    <li class="nav-item  g-mx-10--lg g-mx-15--xl">
      <a href="{{ root }}all-demos.html#cbpf=.e-commerce" class="nav-link g-color-primary--hover g-py-7 g-px-0" target="_blank">E-Commerce</a>
    </li>
    <!-- End Admin Template -->

    <!-- Admin Template -->
    <li class="nav-item  g-mx-10--lg g-mx-15--xl">
      <a href="{{ root }}all-demos.html#cbpf=.multi-pages" class="nav-link g-color-primary--hover g-py-7 g-px-0" target="_blank">Multi Pages</a>
    </li>
    <!-- End Admin Template -->

    <!-- Admin Template -->
    <li class="nav-item  g-mx-10--lg g-mx-15--xl">
      <a href="{{ root }}all-demos.html#cbpf=.one-pages" class="nav-link g-color-primary--hover g-py-7 g-px-0" target="_blank">One Pages</a>
    </li>
    <!-- End Admin Template -->

    <!-- Shortcodes -->
    <li class="nav-item  g-mx-10--lg g-mx-15--xl">
      <a href="{{ root }}unify-main/shortcodes/index.html" class="nav-link g-color-primary--hover g-py-7 g-px-0" target="_blank">Shortcodes</a>
    </li>
    <!-- End Shortcodes -->
  </ul>
</div>
<!-- End Navigation -->