/*------------------------------------
  Card v1
------------------------------------*/

.u-card-v1 {
  background: $g-color-white;
  border: none;
  box-shadow: 0 0 15px rgba(174,195,209, .5);
  overflow: hidden;
}