{# Settings #}
{% set root = "../../" %}
{% set adminRoot = "../" %}
{% set title = "Checkboxes and Radios" %}
{% set layoutTheme = "dark" %}
{% set isSubMenu7 = "unCollapsed" %}
{% set isSubMenu7Elements = "unCollapsed" %}
{% set activeMenuItem = "forms-elemets-checkboxes-radios" %}
{% set breadcrumbs = [
  {
    breadcrumb: "Dashboard",
    href: "#!"
  }, {
    breadcrumb: " Forms",
    href: "#!"
  }, {
    breadcrumb: " Elements",
    href: "#!"
  }
] %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
{% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
{% include "html/assets/include/nunjucks/partials/core-css.njk" %}
{% include "html/assets/include/nunjucks/partials/core-icons.njk" %}

<link rel="stylesheet" href="{{ adminRoot }}assets/vendor/hs-admin-icons/hs-admin-icons.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="{{ adminRoot }}assets/vendor/bootstrap-select/css/bootstrap-select.min.css">
<link rel="stylesheet" href="{{ adminRoot }}assets/vendor/bootstrap-tagsinput/css/bootstrap-tagsinput.css">

<link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

{% include "html/admin-template/assets/include/nunjucks/partials/css/css-unify-admin.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
</head>

<body>
<main>
	{% include "html/admin-template/assets/include/nunjucks/partials/blocks/headers/header-fixed.njk" %}

	<section class="container-fluid px-0 g-pt-65">
		<div class="row no-gutters g-pos-rel g-overflow-x-hidden">
			{% include "html/admin-template/assets/include/nunjucks/partials/blocks/sidebars/sidebar-static.njk" %}

			<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
				{% include "html/admin-template/assets/include/nunjucks/partials/blocks/breadcrumbs/breadcrumb-v1.njk" %}

				<div class="g-pa-20">
					<h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-28">{{ title }}</h1>

					<div class="row">
						<!-- 1-st column -->
						<div class="col-md-6">
							<!-- Checkboxes -->
							<div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
								<h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Checkboxes</h3>

                <h4 class="h6 g-font-weight-600 g-color-black g-mb-20">Checkboxes Options</h4>

                <!-- Checkboxes Option 1 -->
                <label class="form-check-inline u-check g-pl-25">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" checked="" type="checkbox">
                  <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                    <i class="fa g-font-size-default" data-check-icon="&#xf0c1" data-uncheck-icon="&#xf127"></i>
                  </div>
                  Option 1
                </label>
                <!-- End Checkboxes Option 1 -->

                <!-- Checkboxes Option 2 -->
                <label class="form-check-inline u-check g-pl-25">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" checked="" type="checkbox">
                  <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c"></i>
                  </div>
                  Option 2
                </label>
                <!-- End Checkboxes Option 2 -->

                <!-- Checkboxes Option 3 -->
                <label class="form-check-inline u-check g-pl-25">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" checked="" type="checkbox">
                  <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c"></i>
                  </div>
                  Option 3
                </label>
                <!-- End Checkboxes Option 3 -->

                <!-- Checkboxes Option 4 -->
                <label class="form-check-inline u-check g-pl-25">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" checked="" type="checkbox">
                  <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                    <i></i>
                  </div>
                  Option 4
                </label>
                <!-- Checkboxes Option 4 -->

                <hr class="g-brd-gray-light-v7 g-mx-minus-20">

                <!-- Columned Checkboxes -->
                <h4 class="h6 g-font-weight-600 g-color-black g-mb-20">Columned checkboxes</h4>
                <div class="row g-mb-30">
                  <!-- Left Column -->
                  <div class="col-md-6">
                    <div class="form-group g-mb-10">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" checked="" type="checkbox">
                        <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf00c"></i>
                        </div>
                        Canada
                      </label>
                    </div>

                    <div class="form-group g-mb-10">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                        <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf00c"></i>
                        </div>
                        United Kingdom
                      </label>
                    </div>

                    <div class="form-group g-mb-10 g-mb-0--md">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                        <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf00c"></i>
                        </div>
                        Australia
                      </label>
                    </div>
                  </div>
                  <!-- End Left Column -->

                  <!-- Right Column -->
                  <div class="col-md-6">
                    <div class="form-group g-mb-10">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                        <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf00c"></i>
                        </div>
                        USA
                      </label>
                    </div>

                    <div class="form-group g-mb-10">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                        <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf00c"></i>
                        </div>
                        New Zealand
                      </label>
                    </div>

                    <div class="form-group g-mb-10 g-mb-0--md">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                        <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf00c"></i>
                        </div>
                        Sweden
                      </label>
                    </div>
                  </div>
                  <!-- End Right Column -->
                </div>
                <!-- End Columned Checkboxes -->

                <hr class="g-brd-gray-light-v7 g-mx-minus-20">

                <!-- Inline Checkboxes -->
                <h4 class="h6 g-font-weight-600 g-color-black g-mb-20">Inline checkboxes</h4>
                <div class="g-mb-20">
                  <label class="form-check-inline u-check g-pl-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" checked="" type="checkbox">
                    <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                      <i class="fa" data-check-icon="&#xf00c"></i>
                    </div>
                    USA
                  </label>

                  <label class="form-check-inline u-check g-pl-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                    <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                      <i class="fa" data-check-icon="&#xf00c"></i>
                    </div>
                    Sweden
                  </label>

                  <label class="form-check-inline u-check g-pl-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                    <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                      <i class="fa" data-check-icon="&#xf00c"></i>
                    </div>
                    Canada
                  </label>

                  <label class="form-check-inline u-check g-pl-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                    <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0 g-transition-0_2 g-transition--ease-in">
                      <i class="fa" data-check-icon="&#xf00c"></i>
                    </div>
                    United Kingdom
                  </label>
                </div>
                <!-- End Inline Checkboxes -->

                <hr class="g-brd-gray-light-v7 g-mx-minus-20">

                <!-- Checkboxes Group -->
                <h4 class="h6 g-font-weight-600 g-color-black g-mb-20">Checkboxes Group</h4>
                <div class="btn-group justified-content">
                  <label class="u-check g-pl-0">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" checked="" type="checkbox">
                    <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked rounded-0">Canada</span>
                  </label>
                  <label class="u-check g-pl-0">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                    <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">UK</span>
                  </label>
                  <label class="u-check g-pl-0">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                    <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Sweden</span>
                  </label>
                  <label class="u-check g-pl-0">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                    <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Australia</span>
                  </label>
                  <label class="u-check g-pl-0">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                    <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">USA</span>
                  </label>
                </div>
                <!-- End Checkboxes Group -->
							</div>
							<!-- End Checkboxes -->
						</div>
						<!-- End 1-st column -->

            <!-- 2-nd column -->
            <div class="col-md-6">
              <!-- Radios -->
              <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
                <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Radios</h3>

                <h4 class="h6 g-font-weight-600 g-color-black g-mb-20">Radio options</h4>
                <!-- Radio Option 1 -->
                <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroup1_1" checked="" type="radio">
                  <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf192" data-uncheck-icon="&#xf1db"></i>
                  </div>
                  Option 1
                </label>
                <!-- End Radio Option 1 -->

                <!-- Radio Option 2 -->
                <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroup1_2" checked="" type="radio">
                  <div class="u-check-icon-radio-v5 g-absolute-centered--y g-left-0">
                    <i></i>
                  </div>
                  Option 2
                </label>
                <!-- End Radio Option 2 -->

                <!-- Radio Option 3 -->
                <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroup1_3" checked="" type="radio">
                  <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                    <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                  </div>
                  Option 3
                </label>
                <!-- End Radio Option 3 -->

                <!-- Radio Option 4 -->
                <label class="form-check-inline u-check g-pl-25 ml-0">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroup1_4" checked="" type="radio">
                  <div class="u-check-icon-radio-v6 g-absolute-centered--y g-left-0">
                    <i></i>
                  </div>
                  Option 4
                </label>
                <!-- End Radio Option 4 -->

                <hr class="g-brd-gray-light-v4 g-mx-minus-30">

                <!-- Columned Radios -->
                <h4 class="h6 g-font-weight-600 g-color-black g-mb-20">Columned radios</h4>
                <div class="row g-mb-30">
                  <!-- Left Column -->
                  <div class="col-md-6">
                    <div class="form-group g-mb-10">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroup2_1" checked="" type="radio">
                        <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf192" data-uncheck-icon="&#xf1db"></i>
                        </div>
                        USA
                      </label>
                    </div>

                    <div class="form-group g-mb-10">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroup2_1" type="radio">
                        <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf192" data-uncheck-icon="&#xf1db"></i>
                        </div>
                        Canada
                      </label>
                    </div>

                    <div class="form-group g-mb-10 g-mb-0--md">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroup2_1" type="radio">
                        <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf192" data-uncheck-icon="&#xf1db"></i>
                        </div>
                        Greenland
                      </label>
                    </div>
                  </div>
                  <!-- End Left Column -->

                  <!-- Right Column -->
                  <div class="col-md-6">
                    <div class="form-group g-mb-10">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroup2_1" type="radio">
                        <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf192" data-uncheck-icon="&#xf1db"></i>
                        </div>
                        New Zealand
                      </label>
                    </div>

                    <div class="form-group g-mb-10">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroup2_1" type="radio">
                        <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf192" data-uncheck-icon="&#xf1db"></i>
                        </div>
                        United Kingdom
                      </label>
                    </div>

                    <div class="form-group g-mb-10 g-mb-0--md">
                      <label class="u-check g-pl-25">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroup2_1" type="radio">
                        <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                          <i class="fa" data-check-icon="&#xf192" data-uncheck-icon="&#xf1db"></i>
                        </div>
                        Sweden
                      </label>
                    </div>
                  </div>
                  <!-- End Right Column -->
                </div>
                <!-- End Columned Radios -->

                <hr class="g-brd-gray-light-v4 g-mx-minus-30">

                <h4 class="h6 g-font-weight-600 g-color-black g-mb-20">Inline radios</h4>
                <div class="g-mb-15">
                  <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" checked="" type="radio">
                    <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                      <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                    </div>
                    USA
                  </label>

                  <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                    <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                      <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                    </div>
                    Canada
                  </label>

                  <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                    <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                      <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                    </div>
                    United Kingdom
                  </label>

                  <label class="form-check-inline u-check g-pl-25 ml-0">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radInline1_1" type="radio">
                    <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-18 g-height-18">
                      <i class="g-absolute-centered d-block g-width-10 g-height-10 g-bg-primary--checked"></i>
                    </div>
                    Sweden
                  </label>
                </div>

                <hr class="g-brd-gray-light-v4 g-mx-minus-30">

                <h4 class="h6 g-font-weight-600 g-color-black g-mb-20">Radio Group</h4>
                <div class="btn-group justified-content">
                  <label class="u-check">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" checked="" type="radio">
                    <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked rounded-0">USA</span>
                  </label>
                  <label class="u-check">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio">
                    <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Greenland</span>
                  </label>
                  <label class="u-check">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio">
                    <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">UK</span>
                  </label>
                  <label class="u-check">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio">
                    <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Sweden</span>
                  </label>
                  <label class="u-check">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio">
                    <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked g-brd-left-none--md rounded-0">Canada</span>
                  </label>
                </div>
              </div>
              <!-- End Radios -->
            </div>
            <!-- End 2-nd column -->
					</div>
				</div>

				{% include "html/admin-template/assets/include/nunjucks/partials/blocks/footers/footer-sticky.njk" %}
			</div>
		</div>
	</section>
</main>

{% include "html/admin-template/assets/include/nunjucks/partials/blocks/modals/project-form.njk" %}

{% include "html/admin-template/assets/include/nunjucks/partials/core-js.njk" %}

<!-- JS Plugins Init. -->
<script src="{{ root }}assets/vendor/appear.js"></script>
<script src="{{ adminRoot }}assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="{{ root }}assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ adminRoot }}assets/vendor/bloodhound-js/js/bloodhound.min.js"></script>
<script src="{{ adminRoot }}assets/vendor/bloodhound-js/js/typeahead.jquery.min.js"></script>
<script src="{{ adminRoot }}assets/vendor/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>

<!-- JS Unify -->
<script src="{{ root }}assets/js/hs.core.js"></script>
<script src="{{ adminRoot }}assets/js/components/hs.side-nav.js"></script>
<script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
<script src="{{ root }}assets/js/components/hs.dropdown.js"></script>
<script src="{{ root }}assets/js/components/hs.scrollbar.js"></script>
<script src="{{ root }}assets/js/components/hs.count-qty.js"></script>
<script src="{{ root }}assets/js/helpers/hs.focus-state.js"></script>

<!-- JS Custom -->
<script src="{{ root }}assets/js/custom.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of custom select
    $('.js-select').selectpicker();

    // initialization of sidebar navigation component
    $.HSCore.components.HSSideNav.init('.js-side-nav');

    // initialization of hamburger
    $.HSCore.helpers.HSHamburgers.init('.hamburger');

    // initialization of HSDropdown component
    $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
      dropdownHideOnScroll: false
    });

    // initialization of custom scrollbar
    $.HSCore.components.HSScrollBar.init($('.js-custom-scroll'));

    // initialization of forms
    $.HSCore.components.HSCountQty.init('.js-quantity');
  });
</script>
</body>
</html>
