{# Settings #}
{% set root = "../../" %}
{% set adminRoot = "../" %}
{% set title = "Text Inputs" %}
{% set layoutTheme = "dark" %}
{% set isSubMenu7 = "unCollapsed" %}
{% set isSubMenu7Elements = "unCollapsed" %}
{% set activeMenuItem = "form-elements-text-inputs" %}
{% set breadcrumbs = [
  {
    breadcrumb: "Dashboard",
    href: "#!"
  }, {
    breadcrumb: " Forms",
    href: "#!"
  }, {
    breadcrumb: " Elements",
    href: "#!"
  }
] %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
{% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
{% include "html/assets/include/nunjucks/partials/core-css.njk" %}
{% include "html/assets/include/nunjucks/partials/core-icons.njk" %}

<link rel="stylesheet" href="{{ adminRoot }}assets/vendor/hs-admin-icons/hs-admin-icons.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="{{ adminRoot }}assets/vendor/bootstrap-select/css/bootstrap-select.min.css">
<link rel="stylesheet" href="{{ adminRoot }}assets/vendor/bootstrap-tagsinput/css/bootstrap-tagsinput.css">

<link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

{% include "html/admin-template/assets/include/nunjucks/partials/css/css-unify-admin.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
</head>

<body>
<main>
	{% include "html/admin-template/assets/include/nunjucks/partials/blocks/headers/header-fixed.njk" %}

	<section class="container-fluid px-0 g-pt-65">
		<div class="row no-gutters g-pos-rel g-overflow-x-hidden">
			{% include "html/admin-template/assets/include/nunjucks/partials/blocks/sidebars/sidebar-static.njk" %}

			<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
				{% include "html/admin-template/assets/include/nunjucks/partials/blocks/breadcrumbs/breadcrumb-v1.njk" %}

				<div class="g-pa-20">
					<h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-28">{{ title }}</h1>

					<div class="row">
						<!-- 1-st column -->
						<div class="col-md-6">
							<!-- Basic Text Inputs -->
							<div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
								<h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Basic Text Inputs</h3>

                <!-- Default Input -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-1_1">Default Input</label>

                  <div class="g-pos-rel">
	                  <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
	                  	<i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
	                	</span>
	                  <input id="inputGroup-1_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10" type="text" placeholder="Placeholder">
                	</div>
              	</div>
              	<!-- End Default Input -->

                <!-- With Text Line -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-1_2">With Text Line</label>

                  <div class="g-pos-rel">
	                  <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
	                  	<i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
	               		</span>
	                  <input id="inputGroup-1_2" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10" type="text" placeholder="Placeholder">
		                <small class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5">We use this only for statistics</small>
	              	</div>
								</div>
								<!-- End With Text Line -->

                <!-- With Icon -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-1_3">With Icon</label>

									<div class="g-pos-rel">
										<span class="g-pos-abs g-top-0 g-right-0 d-block g-width-50 h-100">
	                    <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-gray-light-v6"></i>
	                  </span>
	                  <input id="inputGroup-1_3" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10" type="text" placeholder="Placeholder">
                	</div>
								</div>
								<!-- End With Icon -->

                <!-- With Button (Colorful BG) -->
                <div class="form-group">
	                <label class="g-mb-10" for="inputGroup-1_4">With Button (Colorful BG)</label>

	                <div class="g-pos-rel">
	                  <button class="btn u-input-btn--v1 g-width-40 g-bg-primary g-rounded-right-4" type="submit">
	                    <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-white"></i>
	                  </button>
	                  <input id="inputGroup-1_4" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3 g-rounded-4 g-px-14 g-py-10" type="text" placeholder="Placeholder">
	                </div>
								</div>
								<!-- End With Button (Colorful BG) -->
							</div>
							<!-- End Basic Text Inputs -->

							<!-- Square Inputs -->
							<div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
								<h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Square Inputs</h3>

                <!-- Default Input -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-2_1">Default Input</label>

                  <div class="g-pos-rel">
	                  <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
	                  	<i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
	                	</span>
	                  <input id="inputGroup-2_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 g-px-14 g-py-10" type="text" placeholder="Placeholder">
                	</div>
              	</div>
              	<!-- End Default Input -->

                <!-- With Text Line -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-2_2">With Text Line</label>

                  <div class="g-pos-rel">
	                  <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
	                  	<i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
	               		</span>
	                  <input id="inputGroup-2_2" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 g-px-14 g-py-10" type="text" placeholder="Placeholder">
	                  <small class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5">We use this only for statistics</small>
                	</div>
                </div>
								<!-- End With Text Line -->

                <!-- With Icon -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-2_3">With Icon</label>

									<div class="g-pos-rel">
										<span class="g-pos-abs g-top-0 g-right-0 d-block g-width-50 h-100">
	                    <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-gray-light-v6"></i>
	                  </span>
	                  <input id="inputGroup-2_3" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 g-px-14 g-py-10" type="text" placeholder="Placeholder">
                	</div>
								</div>
								<!-- End With Icon -->

                <!-- With Icon v.2 -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-2_4">With Icon v.2</label>

                  <div class="g-pos-rel">
	                  <span class="g-absolute-centered--y g-right-0 d-block g-width-50 g-height-22 g-brd-left g-brd-gray-light-v7">
	                  	<i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-gray-light-v6"></i>
	                	</span>
	                  <input id="inputGroup-2_4" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 g-px-14 g-py-10" type="text" placeholder="Placeholder">
                	</div>
								</div>
								<!-- End With Icon v.2 -->

                <!-- With Button (Colorful BG) -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-2_5">With Button (Colorful BG)</label>

	                <div class="g-pos-rel">
	                  <button class="btn u-input-btn--v1 g-width-40 g-bg-primary rounded-0" type="submit">
	                    <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-white"></i>
	                  </button>
	                  <input id="inputGroup-2_5" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3 rounded-0 g-px-14 g-py-10" type="text" placeholder="Placeholder">
	                </div>
								</div>
								<!-- End With Button (Colorful BG) -->

                <!-- With Button v.2 (Colorful BG) -->
                <div class="form-group g-pb-4">
	                <label class="g-mb-10" for="inputGroup-2_6">With Button v.2 (Colorful BG)</label>

	                <div class="g-pos-rel">
	                  <button class="btn u-input-btn--v1 g-left-0 g-width-40 g-bg-primary rounded-0" type="submit">
	                    <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-white"></i>
	                  </button>
	                  <input id="inputGroup-2_6" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3 rounded-0 g-px-14 g-py-10 g-pl-55" type="text" placeholder="Placeholder">
	                </div>
								</div>
								<!-- End With Button v.2 (Colorful BG) -->
							</div>
							<!-- End Square Inputs -->
						</div>
						<!-- End 1-st column -->

						<!-- 2-nd column -->
						<div class="col-md-6">
							<!-- Rounded Text Inputs -->
							<div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
								<h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Rounded Text Inputs</h3>

                <!-- Default Input -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-3_1">Default Input</label>

	                <div class="g-pos-rel">
	                  <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
	                  	<i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
	                	</span>
	                  <input id="inputGroup-3_1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-20 g-px-14 g-py-10" type="text" placeholder="Placeholder">
	                </div>
              	</div>
              	<!-- End Default Input -->

                <!-- With Text Line -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-3_2">With Text Line</label>

	                <div class="g-pos-rel">
	                  <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
	                  	<i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
	               		</span>
	                  <input id="inputGroup-3_2" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-20 g-px-14 g-py-10" type="text" placeholder="Placeholder">
	                  <small class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5">We use this only for statistics</small>
	                </div>
								</div>
								<!-- End With Text Line -->

                <!-- With Icon -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-3_3">With Icon</label>

	                <div class="g-pos-rel">
										<span class="g-pos-abs g-top-0 g-right-0 d-block g-width-50 h-100">
                      <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-gray-light-v6"></i>
                    </span>
                     <input id="inputGroup-3_3" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-20 g-px-14 g-py-10" type="text" placeholder="Placeholder">
	                </div>
								</div>
								<!-- End With Icon -->

                <!-- With Button (Colorful BG) -->
                <div class="form-group">
	                <label class="g-mb-10" for="inputGroup-3_4">With Button (Colorful BG)</label>

	                <div class="g-pos-rel">
	                  <button class="btn u-input-btn--v1 g-width-40 g-bg-primary g-rounded-right-20" type="submit">
	                    <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-white"></i>
	                  </button>
	                  <input id="inputGroup-3_4" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3 g-rounded-20 g-px-14 g-py-10" type="text" placeholder="Placeholder">
	                </div>
								</div>
								<!-- End With Button (Colorful BG) -->
							</div>
							<!-- End Rounded Text Inputs -->

							<!-- Line Text Inputs -->
							<div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">
								<h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Line Text Inputs</h3>

                <!-- Default Input -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-4_1">Default Input</label>

	                <div class="g-pos-rel">
	                  <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
	                  	<i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
	                	</span>
	                  <input id="inputGroup-4_1" class="form-control form-control-md g-brd-none g-brd-bottom g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 px-0 g-py-10" type="text" placeholder="Placeholder">
	                </div>
              	</div>
              	<!-- End Default Input -->

                <!-- With Text Line -->
                <div class="g-mb-30">
	                <label class="g-mb-10" for="inputGroup-4_2">With Text Line</label>

	                <div class="form-group g-pos-rel">
	                  <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
	                  	<i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
	               		</span>
	                  <input id="inputGroup-4_2" class="form-control form-control-md g-brd-none g-brd-bottom g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 px-0 g-py-10" type="text" placeholder="Placeholder">
	                  <small class="g-font-weight-300 g-font-size-12 g-color-gray-dark-v6 g-pt-5">We use this only for statistics</small>
	                </div>
								</div>
								<!-- End With Text Line -->

                <!-- With Icon -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-4_3">With Icon</label>

	                <div class="g-pos-rel">
										<span class="g-pos-abs g-top-0 g-right-0 d-block g-width-50 h-100">
                      <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-gray-light-v6"></i>
                    </span>
                    <input id="inputGroup-4_3" class="form-control form-control-md g-brd-none g-brd-bottom g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 px-0 g-py-10" type="text" placeholder="Placeholder">
	                </div>
								</div>
								<!-- End With Icon -->

                <!-- With Icon v.2 -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-4_4">With Icon v.2</label>

                  <div class="g-pos-rel">
                    <span class="g-absolute-centered--y g-right-0 d-block g-width-50 g-height-22 g-brd-left g-brd-gray-light-v7">
                    	<i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-gray-light-v6"></i>
                  	</span>
                    <input id="inputGroup-4_4" class="form-control form-control-md g-brd-none g-brd-bottom g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 px-0 g-py-10" type="text" placeholder="Placeholder">
                  </div>
								</div>
								<!-- End With Icon v.2 -->

                <!-- With Button (Colorful BG) -->
                <div class="form-group g-mb-30">
	                <label class="g-mb-10" for="inputGroup-4_5">With Button (Colorful BG)</label>

	                <div class="g-pos-rel">
	                  <button class="btn u-input-btn--v1 g-width-40 g-bg-primary" type="submit">
	                    <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-white"></i>
	                  </button>
	                  <input id="inputGroup-4_5" class="form-control form-control-md g-brd-none g-brd-bottom g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 px-0 g-py-10" type="text" placeholder="Placeholder">
	                </div>
								</div>
								<!-- End With Button (Colorful BG) -->

                <!-- With Button v.2 (Colorful BG) -->
                <div class="form-group">
	                <label class="g-mb-10" for="inputGroup-4_6">With Button v.2 (Colorful BG)</label>

                  <div class="g-pos-rel">
                    <button class="btn u-input-btn--v3 g-left-0 g-width-40 g-height-40 g-bg-primary g-rounded-4" type="submit">
                      <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-white"></i>
                    </button>
                    <input id="inputGroup-4_6" class="form-control form-control-md g-brd-none g-brd-bottom g-brd-gray-light-v7 g-brd-gray-light-v3--focus rounded-0 px-0 g-py-15 g-pl-55" type="text" placeholder="Placeholder">
                  </div>
								</div>
								<!-- End With Button v.2 (Colorful BG) -->
							</div>
							<!-- End Line Text Inputs -->
						</div>
						<!-- End 2-nd column -->
					</div>
				</div>

				{% include "html/admin-template/assets/include/nunjucks/partials/blocks/footers/footer-sticky.njk" %}
			</div>
		</div>
	</section>
</main>

{% include "html/admin-template/assets/include/nunjucks/partials/blocks/modals/project-form.njk" %}

{% include "html/admin-template/assets/include/nunjucks/partials/core-js.njk" %}

<!-- JS Plugins Init. -->
<script src="{{ root }}assets/vendor/appear.js"></script>
<script src="{{ adminRoot }}assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="{{ root }}assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ adminRoot }}assets/vendor/bloodhound-js/js/bloodhound.min.js"></script>
<script src="{{ adminRoot }}assets/vendor/bloodhound-js/js/typeahead.jquery.min.js"></script>
<script src="{{ adminRoot }}assets/vendor/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>

<!-- JS Unify -->
<script src="{{ root }}assets/js/hs.core.js"></script>
<script src="{{ adminRoot }}assets/js/components/hs.side-nav.js"></script>
<script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
<script src="{{ root }}assets/js/components/hs.dropdown.js"></script>
<script src="{{ root }}assets/js/components/hs.scrollbar.js"></script>
<script src="{{ root }}assets/js/components/hs.count-qty.js"></script>
<script src="{{ root }}assets/js/helpers/hs.focus-state.js"></script>

<!-- JS Custom -->
<script src="{{ root }}assets/js/custom.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of custom select
    $('.js-select').selectpicker();

    // initialization of sidebar navigation component
    $.HSCore.components.HSSideNav.init('.js-side-nav');

    // initialization of hamburger
    $.HSCore.helpers.HSHamburgers.init('.hamburger');

    // initialization of HSDropdown component
    $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
      dropdownHideOnScroll: false
    });

    // initialization of custom scrollbar
    $.HSCore.components.HSScrollBar.init($('.js-custom-scroll'));

    // initialization of forms
    $.HSCore.components.HSCountQty.init('.js-quantity');
  });
</script>
</body>
</html>
