/*------------------------------------
  Tabs v9
------------------------------------*/

/* Tabs v9
------------------------------------*/
@media(min-width: $g-md) {
  .u-nav-v9 {
    & .nav-link.active {
      background-color: $g-color-gray-light-v5;
    }

    & .nav-link.active {
      color: $g-color-black;
    }

    & .nav-link.active .nav-link-number {
      color: $g-color-white;
      background-color: $g-color-primary;
    }
  }
}
