/*------------------------------------
  Header Admin (Sidebar)
------------------------------------*/
.u-header-sidebar {
  .u-header__section--admin-dark & {
    background-color: $g-color-darkblue-v4;
  }

  .u-header__section--admin-light & {
    background-color: $g-color-white;
    box-shadow: -4px 2px 15px 0 rgba(0,0,0, .05);
  }
}