<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Polyonic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Documentation</ion-card-subtitle>
      <ion-card-title>Resources</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item href="https://beta.ionicframework.com/docs/">
          <ion-icon slot="start" color="medium" name="book"></ion-icon>
          <ion-label>Ionic Documentation</ion-label>
        </ion-item>
        <ion-item href="https://electronjs.org/docs">
          <ion-icon slot="start" color="medium" name="book"></ion-icon>
          <ion-label>Electron Documentation</ion-label>
        </ion-item>
        <ion-item href="https://beta.ionicframework.com/docs/building/scaffolding">
          <ion-icon slot="start" color="medium" name="build"></ion-icon>
          <ion-label>Scaffold Out Your App</ion-label>
        </ion-item>
        <ion-item href="https://beta.ionicframework.com/docs/layout/structure">
          <ion-icon slot="start" color="medium" name="grid"></ion-icon>
           <ion-label>Change Your App Layout</ion-label>
        </ion-item>
        <ion-item href="https://beta.ionicframework.com/docs/theming/basics">
          <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
          <ion-label>Theme Your App</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>System</ion-card-subtitle>
      <ion-card-title>We are using</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- All of the Node.js APIs are available in this renderer process. -->
      <span *ngIf="electron.process && electron.isElectronApp">
        <pre>
          Node v{{electron.process.versions.node}}
          Chromium v{{electron.process.versions.chrome}}
          Electron v{{electron.process.versions.electron}}
        </pre>
      </span>
      Using PouchDB for our Database<small><pre>{{dbInfo | json}}</pre></small>
    </ion-card-content>
  </ion-card>
</ion-content>
