/*------------------------------------
  Background Image Style
------------------------------------*/
.g-bg-img-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}