{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "shortcodes" %}
{% set sidebarNavActive_1 = "shortcode-blocks-news-small" %}
{% set title = "News Small" %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
{% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
{% include "html/assets/include/nunjucks/partials/core-css.njk" %}
{% include "html/assets/include/nunjucks/partials/core-icons.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-dzsparallaxer.njk" %}
<link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

{% include "html/assets/include/nunjucks/partials/css/css-showcode.njk" %}

{% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
</head>

<body class="u-body--header-side-push-left u-body--header-side-opened u-has-sidebar-navigation g-overflow-x-hidden">
  <main>
    {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/sidebars/sidebar-shortcode-nav.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/page-title/shortcode-page-title/shortcode-page-title-block.njk" %}

    <section>
      <!-- News Block 01 -->
      <section class="g-py-80">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Small News Blocks
              <span class="g-color-primary g-ml-5">#01</span>
            </h2>
          </div>

          <div id="shortcode1">
            <div class="shortcode-html">
              <div class="row">
                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <span class="g-font-size-12">
                      <a class="g-color-gray-dark-v5" href="#!">Evan Bartlett</a>
                    </span>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Cameron's silence on defence is shameful</a>
                    </h3>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <span class="g-font-size-12">
                      <a class="g-color-gray-dark-v5" href="#!">Jonathan Owen</a>
                    </span>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Architects plan to stop skyscrapers from blocking out sunlight</a>
                    </h3>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <span class="g-font-size-12">
                      <a class="g-color-gray-dark-v5" href="#!">James Doe</a>
                    </span>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Cooltex is one of the best technology company of our age and future</a>
                    </h3>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <span class="g-font-size-12">
                      <a class="g-color-gray-dark-v5" href="#!">Albert Coolmen</a>
                    </span>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Some text goes here with plain English and much more other texts go there..</a>
                    </h3>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <span class="g-font-size-12">
                      <a class="g-color-gray-dark-v5" href="#!">Evan Bartlett</a>
                    </span>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Cameron's silence on defence is shameful</a>
                    </h3>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <span class="g-font-size-12">
                      <a class="g-color-gray-dark-v5" href="#!">Jonathan Owen</a>
                    </span>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Architects plan to stop skyscrapers from blocking out sunlight</a>
                    </h3>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <span class="g-font-size-12">
                      <a class="g-color-gray-dark-v5" href="#!">Susie Lau</a>
                    </span>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Fashion's first selfies: It was a 16th century German..</a>
                    </h3>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <span class="g-font-size-12">
                      <a class="g-color-gray-dark-v5" href="#!">John Rentoul</a>
                    </span>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">How to run a ticket: Best 10 point approaches for people who stands..</a>
                    </h3>
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>
          </div>

          {% set contentTarget = "#shortcode1" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End News Block 01 -->

      <hr class="g-brd-gray-light-v4 m-0">

      <!-- News Block 02 -->
      <section class="g-py-80">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Small News Blocks
              <span class="g-color-primary g-ml-5">#02</span>
            </h2>
          </div>

          <div id="shortcode2">
            <div class="shortcode-html">
              <div class="row">
                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <h3 class="h6 g-mb-5">
                      <a class="g-color-main g-color-primary--hover" href="#!">Incredible product and quality: Unify best template of the year</a>
                    </h3>
                    <span class="g-font-size-12 g-color-gray-dark-v5">
                      July 08, 2017
                    </span>
                  </article>
                  <!-- End Article -->

                  <hr class="g-my-15">

                  <!-- Article -->
                  <article>
                    <h3 class="h6 g-mb-5">
                      <a class="g-color-main g-color-primary--hover" href="#!">Unify - Responsive Botostrap Template made our project super cool!</a>
                    </h3>
                    <span class="g-font-size-12 g-color-gray-dark-v5">
                      July 24, 2017
                    </span>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <h3 class="h6 g-mb-5">
                      <a class="g-color-main g-color-primary--hover" href="#!">Updated terms &amp; conditions and more in v2.0 Unify release.</a>
                    </h3>
                    <span class="g-font-size-12 g-color-gray-dark-v5">
                      August 06, 2017
                    </span>
                  </article>
                  <!-- End Article -->

                  <hr class="g-my-15">

                  <!-- Article -->
                  <article>
                    <h3 class="h6 g-mb-5">
                      <a class="g-color-main g-color-primary--hover" href="#!">Award winning digital agency: Unify</a>
                    </h3>
                    <span class="g-font-size-12 g-color-gray-dark-v5">
                      August 15, 2017
                    </span>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <h3 class="h6 g-mb-5">
                      <a class="g-color-main g-color-primary--hover" href="#!">Trusted by over 30000 creative people</a>
                    </h3>
                    <span class="g-font-size-12 g-color-gray-dark-v5">
                      August 06, 2017
                    </span>
                  </article>
                  <!-- End Article -->

                  <hr class="g-my-15">

                  <!-- Article -->
                  <article>
                    <h3 class="h6 g-mb-5">
                      <a class="g-color-main g-color-primary--hover" href="#!">Over thousands of components help you to boost your project</a>
                    </h3>
                    <span class="g-font-size-12 g-color-gray-dark-v5">
                      August 15, 2017
                    </span>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <h3 class="h6 g-mb-5">
                      <a class="g-color-main g-color-primary--hover" href="#!">Incredible product and quality: Unify best template of the year</a>
                    </h3>
                    <span class="g-font-size-12 g-color-gray-dark-v5">
                      July 08, 2017
                    </span>
                  </article>
                  <!-- End Article -->

                  <hr class="g-my-15">

                  <!-- Article -->
                  <article>
                    <h3 class="h6 g-mb-5">
                      <a class="g-color-main g-color-primary--hover" href="#!">Unify Responsive Botostrap Template</a>
                    </h3>
                    <span class="g-font-size-12 g-color-gray-dark-v5">
                      July 24, 2017
                    </span>
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>
          </div>

          {% set contentTarget = "#shortcode2" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End News Block 02 -->

      <hr class="g-brd-gray-light-v4 m-0">

      <!-- News Block 03 -->
      <section class="g-py-80">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Small News Blocks
              <span class="g-color-primary g-ml-5">#03</span>
            </h2>
          </div>

          <div id="shortcode3">
            <div class="shortcode-html">
              <div class="row">
                <div class="col-sm-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Wireframe approach for the news blocks and pages</a>
                    </h3>

                    <ul class="list-inline g-font-size-12 g-color-gray-dark-v5 g-mb-5">
                      <li class="list-inline-item">Aug 24, 2017</li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v5" href="#!">Web</a>
                        ,
                        <a class="g-color-gray-dark-v5" href="#!">UX Design</a>
                      </li>
                    </ul>

                    <p class="g-font-size-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio leo.</p>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">It is a long established fact that a reader</a>
                    </h3>

                    <ul class="list-inline g-font-size-12 g-color-gray-dark-v5 g-mb-5">
                      <li class="list-inline-item">Aug 17, 2017</li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v5" href="#!">Artificial Intelligence</a>
                        ,
                      </li>
                    </ul>

                    <p class="g-font-size-12">Pellentesque efficitur blandit dui, porta cursus velit imperdiet sit amet.</p>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-sm-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Some post title will be implimented here and It's cool!</a>
                    </h3>

                    <ul class="list-inline g-font-size-12 g-color-gray-dark-v5 g-mb-5">
                      <li class="list-inline-item">Aug 17, 2017</li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v5" href="#!">Artificial Intelligence</a>
                        ,
                      </li>
                    </ul>

                    <p class="g-font-size-12">Pellentesque efficitur blandit dui, porta cursus velit imperdiet sit amet.</p>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Many people like component based themes and prefer</a>
                    </h3>

                    <ul class="list-inline g-font-size-12 g-color-gray-dark-v5 g-mb-5">
                      <li class="list-inline-item">Aug 07, 2017</li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v5" href="#!">HTML</a>
                        ,
                        <a class="g-color-gray-dark-v5" href="#!">Coding</a>
                      </li>
                    </ul>

                    <p class="g-font-size-12">Integer vehicula sed justo ac dapibus. In sodales nunc non varius accumsan.</p>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-sm-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Incredible product and quality: Unify best template of the year</a>
                    </h3>

                    <ul class="list-inline g-font-size-12 g-color-gray-dark-v5 g-mb-5">
                      <li class="list-inline-item">Aug 24, 2017</li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v5" href="#!">Web</a>
                        ,
                        <a class="g-color-gray-dark-v5" href="#!">UX Design</a>
                      </li>
                    </ul>

                    <p class="g-font-size-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam odio leo.</p>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Updated terms & conditions and more in v2.0 Unify release.</a>
                    </h3>

                    <ul class="list-inline g-font-size-12 g-color-gray-dark-v5 g-mb-5">
                      <li class="list-inline-item">Aug 17, 2017</li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v5" href="#!">Artificial Intelligence</a>
                        ,
                      </li>
                    </ul>

                    <p class="g-font-size-12">Pellentesque efficitur blandit dui, porta cursus velit imperdiet sit amet.</p>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-sm-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Architects plan to stop skyscrapers from blocking out sunlight</a>
                    </h3>

                    <ul class="list-inline g-font-size-12 g-color-gray-dark-v5 g-mb-5">
                      <li class="list-inline-item">Aug 17, 2017</li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v5" href="#!">Artificial Intelligence</a>
                        ,
                      </li>
                    </ul>

                    <p class="g-font-size-12">Pellentesque efficitur blandit dui, porta cursus velit imperdiet sit amet.</p>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Some text goes here with plain English and much more other texts..</a>
                    </h3>

                    <ul class="list-inline g-font-size-12 g-color-gray-dark-v5 g-mb-5">
                      <li class="list-inline-item">Aug 07, 2017</li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v5" href="#!">HTML</a>
                        ,
                        <a class="g-color-gray-dark-v5" href="#!">Coding</a>
                      </li>
                    </ul>

                    <p class="g-font-size-12">Integer vehicula sed justo ac dapibus. In sodales nunc non varius accumsan.</p>
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>
          </div>

          {% set contentTarget = "#shortcode3" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End News Block 03 -->

      <hr class="g-brd-gray-light-v4 m-0">

      <!-- News Block 04 -->
      <section class="g-py-80">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Small News Blocks
              <span class="g-color-primary g-ml-5">#04</span>
            </h2>
          </div>

          <div id="shortcode4">
            <div class="shortcode-html">
              <div class="row">
                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <div class="g-font-size-12 g-mb-5">
                      <i class="icon-clock align-middle g-mr-5"></i>
                      Aug 16, 2017
                    </div>

                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">You've been making French Pie all wrong - Until Now</a>
                    </h3>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <div class="g-font-size-12 g-mb-5">
                      <i class="icon-clock align-middle g-mr-5"></i>
                      Aug 02, 2017
                    </div>

                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Unify facts, study finds - sensitive to gluten without having coeliac disease</a>
                    </h3>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <div class="g-font-size-12 g-mb-5">
                      <i class="icon-clock align-middle g-mr-5"></i>
                      July 18, 2017
                    </div>

                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Why your next cup of cofee with milk will cost you more</a>
                    </h3>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <div class="g-font-size-12 g-mb-5">
                      <i class="icon-clock align-middle g-mr-5"></i>
                      July 12, 2017
                    </div>

                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Incredible product and quality: Unify best template of the year</a>
                    </h3>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <div class="g-font-size-12 g-mb-5">
                      <i class="icon-clock align-middle g-mr-5"></i>
                      Aug 16, 2017
                    </div>

                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Some post title will be implimented here and It's cool!</a>
                    </h3>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <div class="g-font-size-12 g-mb-5">
                      <i class="icon-clock align-middle g-mr-5"></i>
                      Aug 02, 2017
                    </div>

                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Wireframe approach for the news blocks and pages</a>
                    </h3>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-lg-3 g-mb-20">
                  <!-- Article -->
                  <article>
                    <div class="g-font-size-12 g-mb-5">
                      <i class="icon-clock align-middle g-mr-5"></i>
                      July 18, 2017
                    </div>

                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">Over thousands of components help you to boost your project</a>
                    </h3>
                  </article>
                  <!-- End Article -->

                  <hr class="g-mt-20 g-mb-15">

                  <!-- Article -->
                  <article>
                    <div class="g-font-size-12 g-mb-5">
                      <i class="icon-clock align-middle g-mr-5"></i>
                      July 12, 2017
                    </div>

                    <h3 class="h6">
                      <a class="g-color-main g-color-primary--hover" href="#!">How to run a ticket: Best 10 point approaches for people who stands..</a>
                    </h3>
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>
          </div>

          {% set contentTarget = "#shortcode4" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End News Block 04 -->

      <hr class="g-brd-gray-light-v4 m-0">

      <!-- News Block 05 -->
      <section class="g-py-80 g-pb-60">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Small News Blocks
              <span class="g-color-primary g-ml-5">#05</span>
            </h2>
          </div>

          <div id="shortcode5">
            <div class="shortcode-html">
              <div class="row">
                <div class="col-lg-4">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-40 g-height-40 rounded-circle" src="{{ root }}assets/img-temp/100x100/img1.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <strong class="g-mr-5">Htmlstream</strong>
                        <a class="g-color-gray-dark-v4 g-mr-5" href="#!">@Htmlstream</a>
                      </h3>

                      <p class="g-color-gray-dark-v4 g-mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                      <a href="#!">https://goo.gl/Zjd6Bj</a>
                    </div>
                  </article>
                  <!-- End Article -->

                  <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-20">

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-40 g-height-40 rounded-circle" src="{{ root }}assets/img-temp/100x100/img2.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <strong class="g-mr-5">Wrapbootstrap</strong>
                        <a class="g-color-gray-dark-v4 g-mr-5" href="#!">@Wrapbootstrap</a>
                      </h3>

                      <p class="g-color-gray-dark-v4 g-mb-5">Sed ultrices velit vitae tortor posuere ultrices. Aliquam laoreet lorem et vulputate porta.</p>

                      <a href="#!">https://goo.gl/Zjd6Bj</a>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-lg-4">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-40 g-height-40 rounded-circle" src="{{ root }}assets/img-temp/100x100/img3.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <strong class="g-mr-5">Pixeel</strong>
                        <a class="g-color-gray-dark-v4 g-mr-5" href="#!">@PixeelStudio</a>
                      </h3>

                      <p class="g-color-gray-dark-v4 g-mb-5">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>

                      <a href="#!">https://goo.gl/Zjd6Bj</a>
                    </div>
                  </article>
                  <!-- End Article -->

                  <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-20">

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-40 g-height-40 rounded-circle" src="{{ root }}assets/img-temp/100x100/img4.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <strong class="g-mr-5">Ketty</strong>
                        <a class="g-color-gray-dark-v4 g-mr-5" href="#!">@Ketty</a>
                      </h3>

                      <p class="g-color-gray-dark-v4 g-mb-5">Sed ultrices velit vitae tortor posuere ultrices. Aliquam laoreet lorem et vulputate porta.</p>

                      <a href="#!">https://goo.gl/Zjd6Bj</a>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-lg-4">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-40 g-height-40 rounded-circle" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <strong class="g-mr-5">Maria</strong>
                        <a class="g-color-gray-dark-v4 g-mr-5" href="#!">@Maria</a>
                      </h3>

                      <p class="g-color-gray-dark-v4 g-mb-5">Dummy asopdu is simply bandc text of the printing and typesetting industry.</p>

                      <a href="#!">https://goo.gl/Zjd6Bj</a>
                    </div>
                  </article>
                  <!-- End Article -->

                  <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-20">

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-40 g-height-40 rounded-circle" src="{{ root }}assets/img-temp/100x100/img6.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <strong class="g-mr-5">Natashaa</strong>
                        <a class="g-color-gray-dark-v4 g-mr-5" href="#!">@Natashaa</a>
                      </h3>

                      <p class="g-color-gray-dark-v4 g-mb-5">Pellentesque turpis lacus, tempus et fermentum vitae, dignissim ornare purus.</p>

                      <a href="#!">https://goo.gl/Zjd6Bj</a>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>
          </div>

          {% set contentTarget = "#shortcode5" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End News Block 05 -->

      <hr class="g-brd-gray-light-v4 m-0">

      <!-- News Block 06 -->
      <section class="g-py-80">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Small News Blocks
              <span class="g-color-primary g-ml-5">#06</span>
            </h2>
          </div>

          <div id="shortcode6">
            <div class="shortcode-html">
              <div class="row">
                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img8.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Government plans to test new primary school pupils and teachers..</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 30, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            12
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img9.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">5 Best cofee places with free WiFi in Victoria, BC</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 18, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            56
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img10.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Top 7 Luxury places to visit around Victoria, BC</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 11, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            46
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img11.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Top 10 Luxury Hotels - 5 Star Best Luxury Hotels</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 07, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            24
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img12.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Coding Week, 10 best premium templates</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 20, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            18
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img13.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Stylish things to do, see and buy this week</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 16, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            31
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>
          </div>

          {% set contentTarget = "#shortcode6" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End News Block 06 -->

      <hr class="g-brd-gray-light-v4 m-0">

      <!-- News Block 07 -->
      <section class="g-py-80">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Small News Blocks
              <span class="g-color-primary g-ml-5">#07</span>
            </h2>
          </div>

          <div id="shortcode7">
            <div class="shortcode-html">
              <div class="row">
                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="rounded-circle g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img1.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Best dessert recipes for breakfast which will make your day</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 20, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            18
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="rounded-circle g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img8.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Stylish things to do, see and purchase only this week</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 16, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            31
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="rounded-circle g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img4.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Government plans to test new primary school pupils and teachers..</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 07, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            24
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="rounded-circle g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img13.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Top 10 Luxury Hotels - 5 Star Best Luxury Hotels</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 11, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            46
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="rounded-circle g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img10.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Coding Week, 10 best premium templates of all time - Unify</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          June 24, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            32
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="rounded-circle g-width-64 g-height-64" src="{{ root }}assets/img-temp/100x100/img11.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">What will fashion be like in 25 years, check out in Unify blog</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          June 12, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            07
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>
          </div>

          {% set contentTarget = "#shortcode7" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End News Block 07 -->

      <hr class="g-brd-gray-light-v4 m-0">

      <!-- News Block 08 -->
      <section class="g-py-80">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Small News Blocks
              <span class="g-color-primary g-ml-5">#08</span>
            </h2>
          </div>

          <div id="shortcode8">
            <div class="shortcode-html">
              <div class="row">
                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-120 g-height-70" src="{{ root }}assets/img-temp/140x80/img1.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">8 health benefits and drawbacks of coffee</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 30, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            12
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-120 g-height-70" src="{{ root }}assets/img-temp/140x80/img2.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">5 Best cofee places with free WiFi in Victoria, BC</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 18, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            56
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-120 g-height-70" src="{{ root }}assets/img-temp/140x80/img3.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Top 7 Luxury places to visit around Victoria, BC</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 11, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            46
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-120 g-height-70" src="{{ root }}assets/img-temp/140x80/img4.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Top 10 Luxury Hotels - 5 Star Best Luxury Hotels</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 07, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            24
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-120 g-height-70" src="{{ root }}assets/img-temp/140x80/img5.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">10 Most beautiful beaches</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 20, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            18
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <a class="d-flex mr-3" href="#!">
                      <img class="g-width-120 g-height-70" src="{{ root }}assets/img-temp/140x80/img6.jpg" alt="Image Description">
                    </a>

                    <div class="media-body">
                      <h3 class="h6">
                        <a class="g-color-main g-color-primary--hover" href="#!">Stylish things to do, see and buy this week</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 16, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                            <i class="icon-bubbles align-middle"></i>
                            31
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>
          </div>

          {% set contentTarget = "#shortcode8" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End News Block 08 -->

      <hr class="g-brd-gray-light-v4 m-0">

      <!-- News Block 09 -->
      <section class="g-py-80">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Small News Blocks
              <span class="g-color-primary g-ml-5">#09</span>
            </h2>
          </div>

          <div id="shortcode9">
            <div class="shortcode-html">
              <div class="row">
                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <figure class="d-flex mr-3 g-pos-rel">
                      <img class="g-width-140 g-height-80" src="{{ root }}assets/img-temp/140x80/img1.jpg" alt="Image Description">

                      <figcaption class="g-pos-abs g-top-5 g-left-5">
                        <a class="btn btn-sm u-btn-darkgray rounded-0" href="#!">
                          <i class="fa fa-play g-mr-5"></i>
                          0:46
                        </a>
                      </figcaption>
                    </figure>

                    <div class="media-body">
                      <h3 class="g-font-size-16">
                        <a class="g-color-main g-color-primary--hover" href="#!">8 health benefits and drawbacks of coffee</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 26, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">
                            <i class="icon-bubbles align-middle mr-1"></i>
                            24
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <figure class="d-flex mr-3 g-pos-rel">
                      <img class="g-width-140 g-height-80" src="{{ root }}assets/img-temp/140x80/img2.jpg" alt="Image Description">

                      <figcaption class="g-pos-abs g-top-5 g-left-5">
                        <a class="btn btn-sm u-btn-darkgray rounded-0" href="#!">
                          <i class="fa fa-play g-mr-5"></i>
                          1:35
                        </a>
                      </figcaption>
                    </figure>

                    <div class="media-body">
                      <h3 class="g-font-size-16">
                        <a class="g-color-main g-color-primary--hover" href="#!">5 Best cofee places with free WiFi in Victoria, BC</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 22, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">
                            <i class="icon-bubbles align-middle mr-1"></i>
                            24
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <figure class="d-flex mr-3 g-pos-rel">
                      <img class="g-width-140 g-height-80" src="{{ root }}assets/img-temp/140x80/img3.jpg" alt="Image Description">

                      <figcaption class="g-pos-abs g-top-5 g-left-5">
                        <a class="btn btn-sm u-btn-darkgray rounded-0" href="#!">
                          <i class="fa fa-play g-mr-5"></i>
                          2:14
                        </a>
                      </figcaption>
                    </figure>

                    <div class="media-body">
                      <h3 class="g-font-size-16">
                        <a class="g-color-main g-color-primary--hover" href="#!">Top 7 Luxury places to visit around Victoria, BC</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 18, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">
                            <i class="icon-bubbles align-middle mr-1"></i>
                            24
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <figure class="d-flex mr-3 g-pos-rel">
                      <img class="g-width-140 g-height-80" src="{{ root }}assets/img-temp/140x80/img4.jpg" alt="Image Description">

                      <figcaption class="g-pos-abs g-top-5 g-left-5">
                        <a class="btn btn-sm u-btn-darkgray rounded-0" href="#!">
                          <i class="fa fa-play g-mr-5"></i>
                          1:07
                        </a>
                      </figcaption>
                    </figure>

                    <div class="media-body">
                      <h3 class="g-font-size-16">
                        <a class="g-color-main g-color-primary--hover" href="#!">Top 10 Luxury Hotels - 5 Star Best Luxury Hotels</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 16, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">
                            <i class="icon-bubbles align-middle mr-1"></i>
                            24
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-md-6 col-lg-4 g-mb-20">
                  <!-- Article -->
                  <article class="media g-mb-20">
                    <figure class="d-flex mr-3 g-pos-rel">
                      <img class="g-width-140 g-height-80" src="{{ root }}assets/img-temp/140x80/img5.jpg" alt="Image Description">

                      <figcaption class="g-pos-abs g-top-5 g-left-5">
                        <a class="btn btn-sm u-btn-darkgray rounded-0" href="#!">
                          <i class="fa fa-play g-mr-5"></i>
                          1:54
                        </a>
                      </figcaption>
                    </figure>

                    <div class="media-body">
                      <h3 class="g-font-size-16">
                        <a class="g-color-main g-color-primary--hover" href="#!">10 Most beautiful and popular beaches in the Wrold</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 12, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">
                            <i class="icon-bubbles align-middle mr-1"></i>
                            24
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->

                  <!-- Article -->
                  <article class="media g-mb-20">
                    <figure class="d-flex mr-3 g-pos-rel">
                      <img class="g-width-140 g-height-80" src="{{ root }}assets/img-temp/140x80/img6.jpg" alt="Image Description">

                      <figcaption class="g-pos-abs g-top-5 g-left-5">
                        <a class="btn btn-sm u-btn-darkgray rounded-0" href="#!">
                          <i class="fa fa-play g-mr-5"></i>
                          0:28
                        </a>
                      </figcaption>
                    </figure>

                    <div class="media-body">
                      <h3 class="g-font-size-16">
                        <a class="g-color-main g-color-primary--hover" href="#!">Stylish things to do, buy one get 2 free</a>
                      </h3>

                      <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                          July 09, 2017
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                          <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">
                            <i class="icon-bubbles align-middle mr-1"></i>
                            24
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>
              </div>
            </div>
          </div>

          {% set contentTarget = "#shortcode9" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End News Block 09 -->

      <hr class="g-brd-gray-light-v4 m-0">

      <!-- News Block 10 -->
      <section class="g-bg-secondary g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">News Blocks
              <span class="g-color-primary g-ml-5">#10</span>
            </h2>
          </div>

          <div id="shortcode10">
            <div class="shortcode-html">
              <!-- Video Blocks -->
              <div class="row g-mb-30">
                <div class="col-sm-6 col-lg-3 g-mb-30">
                  <!-- Fancybox Video -->
                  <div class="u-shadow-v36 g-brd-around g-brd-4 g-brd-white g-brd-primary--hover rounded g-pos-rel g-transition-0_2">
                    <img class="img-fluid" src="{{ root }}assets/img-temp/600x350/img4.jpg" alt="Image Description">
                    <a class="js-fancybox g-absolute-centered" href="javascript:;"
                       data-src="//www.youtube.com/watch?v=FxiskmF16gU"
                       data-speed="350"
                       data-caption="Video">
                      <span class="u-icon-v3 u-icon-size--lg g-color-white g-color-primary--hover g-bg-transparent g-font-size-30 g-rounded-50x g-cursor-pointer">
                        <i class="g-pos-rel g-left-2 fa fa-play"></i>
                      </span>
                    </a>
                  </div>
                  <!-- End Fancybox Video -->
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-30">
                  <!-- Fancybox Video -->
                  <div class="u-shadow-v36 g-brd-around g-brd-4 g-brd-white g-brd-primary--hover rounded g-pos-rel g-transition-0_2">
                    <img class="img-fluid" src="{{ root }}assets/img-temp/600x350/img6.jpg" alt="Image Description">
                    <a class="js-fancybox g-absolute-centered" href="javascript:;"
                       data-src="//www.youtube.com/watch?v=FxiskmF16gU"
                       data-speed="350"
                       data-caption="Video">
                      <span class="u-icon-v3 u-icon-size--lg g-color-white g-color-primary--hover g-bg-transparent g-font-size-30 g-rounded-50x g-cursor-pointer">
                        <i class="g-pos-rel g-left-2 fa fa-play"></i>
                      </span>
                    </a>
                  </div>
                  <!-- End Fancybox Video -->
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-30">
                  <!-- Fancybox Video -->
                  <div class="u-shadow-v36 g-brd-around g-brd-4 g-brd-white g-brd-primary--hover rounded g-pos-rel g-transition-0_2">
                    <img class="img-fluid" src="{{ root }}assets/img-temp/600x350/img7.jpg" alt="Image Description">
                    <a class="js-fancybox g-absolute-centered" href="javascript:;"
                       data-src="//www.youtube.com/watch?v=FxiskmF16gU"
                       data-speed="350"
                       data-caption="Video">
                      <span class="u-icon-v3 u-icon-size--lg g-color-white g-color-primary--hover g-bg-transparent g-font-size-30 g-rounded-50x g-cursor-pointer">
                        <i class="g-pos-rel g-left-2 fa fa-play"></i>
                      </span>
                    </a>
                  </div>
                  <!-- End Fancybox Video -->
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-30">
                  <!-- Fancybox Video -->
                  <div class="u-shadow-v36 g-brd-around g-brd-4 g-brd-white g-brd-primary--hover rounded g-pos-rel g-transition-0_2">
                    <img class="img-fluid" src="{{ root }}assets/img-temp/600x350/img8.jpg" alt="Image Description">
                    <a class="js-fancybox g-absolute-centered" href="javascript:;"
                       data-src="//www.youtube.com/watch?v=FxiskmF16gU"
                       data-speed="350"
                       data-caption="Video">
                      <span class="u-icon-v3 u-icon-size--lg g-color-white g-color-primary--hover g-bg-transparent g-font-size-30 g-rounded-50x g-cursor-pointer">
                        <i class="g-pos-rel g-left-2 fa fa-play"></i>
                      </span>
                    </a>
                  </div>
                  <!-- End Fancybox Video -->
                </div>
              </div>
              <!-- End Video Blocks -->
            </div>

            <div class="shortcode-styles">
              <!-- CSS Implementing Plugins -->
              <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/fancybox/jquery.fancybox.css">
            </div>

            <div class="shortcode-scripts">
              <!-- JS Implementing Plugins -->
              <script type="text/plain" src="{{ root }}assets/vendor/fancybox/jquery.fancybox.min.js"></script>

              <!-- JS Unify -->
              <script type="text/plain" src="{{ root }}assets/js/components/hs.popup.js"></script>

              <!-- JS Plugins Init. -->
              <script type="text/plain">
                $(document).ready(function () {
                  // initialization of popups
                  $.HSCore.components.HSPopup.init('.js-fancybox');
                });
              </script>
            </div>
          </div>

          {% set contentTarget = "#shortcode10" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End News Block 10 -->
    </section>

    {% include "html/assets/include/nunjucks/partials/blocks/cta/cta-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
  </main>

  {% include "html/assets/include/nunjucks/partials/blocks/modals/modal-markup.njk" %}

  {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

  <!-- JS Implementing Plugins -->
  <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  {% include "html/assets/include/nunjucks/partials/js/js-dzsparallaxer.njk" %}

  {% include "html/assets/include/nunjucks/partials/js/js-jquery-ui-core.njk" %}

  <!-- jQuery UI Helpers -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>

  <!-- jQuery UI Widgets -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>

  <!-- JS Unify -->
  <script src="{{ root }}assets/js/hs.core.js"></script>
  <script src="{{ root }}assets/js/components/hs.header.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
  <script src="{{ root }}assets/js/components/hs.header-side.js"></script>
  <script src="{{ root }}assets/js/components/hs.autocomplete-local-search.js"></script>
  <script src="{{ root }}assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.shortcode-filter.js"></script>
  <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

  {% include "html/assets/include/nunjucks/partials/js/js-show-code.njk" %}

  <!-- JS Custom -->
  <script src="{{ root }}assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');

      // initialization of popups
      $.HSCore.components.HSPopup.init('.js-fancybox');
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
      $.HSCore.components.HSHeaderSide.init($('#sideNav'));

      // initialization of autocomplet
      $.HSCore.components.HSLocalSearchAutocomplete.init('#u-sidebar-navigation__search-autocomplete');

      // initialization of HSMegaMenu plugin
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });
    });
  </script>
</body>
</html>
