{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "shortcodes" %}
{% set sidebarNavActive_1 = "shortcode-base-maps-with-pins" %}
{% set title = "Maps with Pins" %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
{% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
{% include "html/assets/include/nunjucks/partials/core-css.njk" %}
{% include "html/assets/include/nunjucks/partials/core-icons.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-dzsparallaxer.njk" %}
<link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

{% include "html/assets/include/nunjucks/partials/css/css-showcode.njk" %}

{% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
</head>

<body class="u-body--header-side-push-left u-body--header-side-opened u-has-sidebar-navigation g-overflow-x-hidden">
  <main>
    {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/sidebars/sidebar-shortcode-nav.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/page-title/shortcode-page-title/shortcode-page-title-base.njk" %}

    <section>
      <div class="g-py-100">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="shortcode1">
                <div class="shortcode-html">
                  <img class="js-pin-map img-fluid" src="{{ root }}assets/img/maps/map.png"
                       easypin-id="map-pin">

                  <div style="display: none;"
                       easypin-tpl>
                    <popover>
                      <div class="text-center text-uppercase u-ns-bg-v1-bottom g-absolute-centered--x g-bg-black g-width-170 g-mb-40">
                        <img class="img-fluid" src="{[image_url]}" alt="{[title]}">

                        <div class="g-pa-25">
                          <h5 class="g-color-primary g-font-weight-600 g-font-size-10 g-mb-9">{[date]}</h5>
                          <h4 class="g-color-gray-light-v1 g-font-weight-600er g-font-size-9 g-mb-10">
                            <i class="fa fa-map-marker g-valign-middle g-color-primary g-font-size-default"></i>
                            <span class="g-valign-middle">{[location]}</span>
                          </h4>
                          <h2 class="g-color-white g-font-weight-600er g-font-size-14 mb-0">{[title]}</h2>
                        </div>
                      </div>
                    </popover>

                    <marker>
                      <div class="point"></div>
                    </marker>
                  </div>
                </div>

                <div class="shortcode-scripts">
                  <!-- JS Implementing Plugins -->
                  <script type="text/plain" src="{{ root }}assets/vendor/jquery.easypin.custom/dist/jquery.easypin.js"></script>

                  <!-- JS Unify -->
                  <script type="text/plain" src="{{ root }}assets/js/components/hs.map.pin.js"></script>

                  <!-- JS Plugins Init. -->
                  <script type="text/plain">
                    $(document).on('ready', function () {
                      // initialization of pin map
                      var markers1 = {
                        0: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img1.jpg",
                          "date": "17:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget1",
                          "coords": {
                            "lat": "149",
                            "long": "168"
                          }
                        },
                        1: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img2.jpg",
                          "date": "17:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget2",
                          "coords": {
                            "lat": "179",
                            "long": "205"
                          }
                        },
                        2: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img3.jpg",
                          "date": "17:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget3",
                          "coords": {
                            "lat": "241",
                            "long": "373"
                          }
                        },
                        3: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img4.jpg",
                          "date": "17:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget4",
                          "coords": {
                            "lat": "543",
                            "long": "244"
                          }
                        },
                        4: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img5.jpg",
                          "date": "17:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget5",
                          "coords": {
                            "lat": "601",
                            "long": "268"
                          }
                        },
                        5: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img6.jpg",
                          "date": "17:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget6",
                          "coords": {
                            "lat": "636",
                            "long": "260"
                          }
                        },
                        6: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img7.jpg",
                          "date": "117:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget7",
                          "coords": {
                            "lat": "614",
                            "long": "118"
                          }
                        },
                        7: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img8.jpg",
                          "date": "17:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget8",
                          "coords": {
                            "lat": "701",
                            "long": "70.125"
                          }
                        },
                        8: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img17.jpg",
                          "date": "17:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget9",
                          "coords": {
                            "lat": "950",
                            "long": "177"
                          }
                        },
                        9: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img15.jpg",
                          "date": "17:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget10",
                          "coords": {
                            "lat": "1079",
                            "long": "463"
                          }
                        },
                        10: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img7.jpg",
                          "date": "17:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget 11",
                          "coords": {
                            "lat": "717",
                            "long": "455"
                          }
                        },
                        11: {
                          "image_url": "{{ root }}assets/img-temp/400x270/img5.jpg",
                          "date": "17:48, April 27, 2015",
                          "location": "South Africa",
                          "title": "Proin egestas purus eget 12",
                          "coords": {
                            "lat": "625",
                            "long": "510"
                          }
                        },
                        canvas: {
                          src: '{{ root }}assets/img/maps/map.svg',
                          width: 1170,
                          height: 594
                        }
                      };

                      $.HSCore.components.HSPinMap.init('.js-pin-map', {
                        data: {
                          "map-pin": markers1
                        }
                      });
                    });
                  </script>
                </div>
              </div>

              {% set contentTarget = "#shortcode1" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        </div>
      </div>
    </section>

    {% include "html/assets/include/nunjucks/partials/blocks/cta/cta-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
  </main>

  {% include "html/assets/include/nunjucks/partials/blocks/modals/modal-markup.njk" %}

  {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

  <!-- JS Implementing Plugins -->
  <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  {% include "html/assets/include/nunjucks/partials/js/js-dzsparallaxer.njk" %}
  <script src="{{ root }}assets/vendor/jquery.easypin.custom/dist/jquery.easypin.js"></script>

  {% include "html/assets/include/nunjucks/partials/js/js-jquery-ui-core.njk" %}

  <!-- jQuery UI Helpers -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>

  <!-- jQuery UI Widgets -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>

  <!-- JS Unify -->
  <script src="{{ root }}assets/js/hs.core.js"></script>

  <script src="{{ root }}assets/js/components/hs.header.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
  <script src="{{ root }}assets/js/components/hs.header-side.js"></script>

  <script src="{{ root }}assets/js/components/hs.map.pin.js"></script>

  <script src="{{ root }}assets/js/components/hs.autocomplete-local-search.js"></script>
  <script src="{{ root }}assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.shortcode-filter.js"></script>

  <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

  {% include "html/assets/include/nunjucks/partials/js/js-show-code.njk" %}

  <!-- JS Custom -->
  <script src="{{ root }}assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');

      // initialization of pin map
      var markers1 = {
        0: {
          "image_url": "../../assets/img-temp/400x270/img1.jpg",
          "date": "17:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget1",
          "coords": {
            "lat": "149",
            "long": "168"
          }
        },
        1: {
          "image_url": "../../assets/img-temp/400x270/img2.jpg",
          "date": "17:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget2",
          "coords": {
            "lat": "179",
            "long": "205"
          }
        },
        2: {
          "image_url": "../../assets/img-temp/400x270/img3.jpg",
          "date": "17:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget3",
          "coords": {
            "lat": "241",
            "long": "373"
          }
        },
        3: {
          "image_url": "../../assets/img-temp/400x270/img4.jpg",
          "date": "17:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget4",
          "coords": {
            "lat": "543",
            "long": "244"
          }
        },
        4: {
          "image_url": "../../assets/img-temp/400x270/img5.jpg",
          "date": "17:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget5",
          "coords": {
            "lat": "601",
            "long": "268"
          }
        },
        5: {
          "image_url": "../../assets/img-temp/400x270/img6.jpg",
          "date": "17:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget6",
          "coords": {
            "lat": "636",
            "long": "260"
          }
        },
        6: {
          "image_url": "../../assets/img-temp/400x270/img7.jpg",
          "date": "117:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget7",
          "coords": {
            "lat": "614",
            "long": "118"
          }
        },
        7: {
          "image_url": "../../assets/img-temp/400x270/img8.jpg",
          "date": "17:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget8",
          "coords": {
            "lat": "701",
            "long": "70.125"
          }
        },
        8: {
          "image_url": "../../assets/img-temp/400x270/img17.jpg",
          "date": "17:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget9",
          "coords": {
            "lat": "950",
            "long": "177"
          }
        },
        9: {
          "image_url": "../../assets/img-temp/400x270/img15.jpg",
          "date": "17:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget10",
          "coords": {
            "lat": "1079",
            "long": "463"
          }
        },
        10: {
          "image_url": "../../assets/img-temp/400x270/img7.jpg",
          "date": "17:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget 11",
          "coords": {
            "lat": "717",
            "long": "455"
          }
        },
        11: {
          "image_url": "../../assets/img-temp/400x270/img5.jpg",
          "date": "17:48, April 27, 2015",
          "location": "South Africa",
          "title": "Proin egestas purus eget 12",
          "coords": {
            "lat": "625",
            "long": "510"
          }
        },
        canvas: {
          src: '../../assets/img/maps/map.svg',
          width: 1170,
          height: 594
        }
      };

      $.HSCore.components.HSPinMap.init('.js-pin-map', {
        data: {
          "map-pin": markers1
        }
      });
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
      $.HSCore.components.HSHeaderSide.init($('#sideNav'));

      // initialization of autocomplet
      $.HSCore.components.HSLocalSearchAutocomplete.init('#u-sidebar-navigation__search-autocomplete');

      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });
    });
  </script>
</body>
</html>
