{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "shortcodes" %}
{% set sidebarNavActive_1 = "shortcode-base-breadcrumbs" %}
{% set title = "Breadcrumbs" %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
{% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
{% include "html/assets/include/nunjucks/partials/core-css.njk" %}
{% include "html/assets/include/nunjucks/partials/core-icons.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-dzsparallaxer.njk" %}
<link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

{% include "html/assets/include/nunjucks/partials/css/css-showcode.njk" %}

{% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
</head>

<body class="u-body--header-side-push-left u-body--header-side-opened u-has-sidebar-navigation g-overflow-x-hidden">
  <main>
    {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/sidebars/sidebar-shortcode-nav.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/page-title/shortcode-page-title/shortcode-page-title-base.njk" %}

    <section>
      <!-- Breadcrumbs #01 -->
      <section class="g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Breadcrumbs
              <span class="g-color-primary g-ml-5">#01</span>
            </h2>
          </div>
        </div>

        <!-- Bordered Breadcrumbs -->
        <div class="g-mb-20">
          <div id="shortcode1">
            <div class="shortcode-html">
              <section class="g-brd-top g-brd-bottom g-brd-gray-light-v4 g-py-50">
                <div class="container">
                  <div class="d-sm-flex text-center">
                    <div class="align-self-center">
                      <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Breadcrumbs</h2>
                    </div>

                    <div class="align-self-center ml-auto">
                      <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-main" href="#!">Home</a>
                          <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-main" href="#!">Pages</a>
                          <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                          <span>About Us</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode1" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Bordered Breadcrumbs -->

        <!-- Light Breadcrumbs -->
        <div class="g-mb-20">
          <div id="shortcode2">
            <div class="shortcode-html">
              <section class="g-bg-gray-light-v5 g-py-50">
                <div class="container">
                  <div class="d-sm-flex text-center">
                    <div class="align-self-center">
                      <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Breadcrumbs</h2>
                    </div>

                    <div class="align-self-center ml-auto">
                      <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-main" href="#!">Home</a>
                          <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-main" href="#!">Pages</a>
                          <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                          <span>About Us</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode2" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Light Breadcrumbs -->

        <!-- Dark Breadcrumbs -->
        <div class="g-mb-20">
          <div id="shortcode3">
            <div class="shortcode-html">
              <section class="g-bg-gray-dark-v1 g-color-white g-py-50">
                <div class="container">
                  <div class="d-sm-flex text-center">
                    <div class="align-self-center">
                      <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Breadcrumbs</h2>
                    </div>

                    <div class="align-self-center ml-auto">
                      <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-white g-color-primary--hover" href="#!">Home</a>
                          <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-white g-color-primary--hover" href="#!">Pages</a>
                          <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                          <span>About Us</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode3" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Dark Breadcrumbs -->

        <!-- Primary Breadcrumbs -->
        <div class="g-mb-20">
          <div id="shortcode4">
            <div class="shortcode-html">
              <section class="g-bg-primary g-color-white g-py-50">
                <div class="container">
                  <div class="d-sm-flex text-center">
                    <div class="align-self-center">
                      <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Breadcrumbs</h2>
                    </div>

                    <div class="align-self-center ml-auto">
                      <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-white g-color-black--hover" href="#!">Home</a>
                          <i class="g-color-white g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-white g-color-black--hover" href="#!">Pages</a>
                          <i class="g-color-white g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-black">
                          <span>About Us</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode4" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Primary Breadcrumbs -->

        <!-- Light Pattern Breadcrumbs -->
        <div class="g-mb-20">
          <div id="shortcode5">
            <div class="shortcode-html">
              <section class="g-bg-gray-light-v5 g-py-50" style="background-image: url({{ root }}assets/img/bg/pattern2.png);">
                <div class="container">
                  <div class="d-sm-flex text-center">
                    <div class="align-self-center">
                      <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Breadcrumbs</h2>
                    </div>

                    <div class="align-self-center ml-auto">
                      <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-main" href="#!">Home</a>
                          <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-main" href="#!">Pages</a>
                          <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                          <span>About Us</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode5" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Light Pattern Breadcrumbs -->

        <!-- Dark Pattern Breadcrumbs -->
        <div class="g-mb-20">
          <div id="shortcode6">
            <div class="shortcode-html">
              <section class="g-color-white g-bg-gray-dark-v1 g-py-50" style="background-image: url({{ root }}assets/img/bg/pattern3.png);">
                <div class="container">
                  <div class="d-sm-flex text-center">
                    <div class="align-self-center">
                      <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Breadcrumbs</h2>
                    </div>

                    <div class="align-self-center ml-auto">
                      <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-white g-color-primary--hover" href="#!">Home</a>
                          <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                          <a class="u-link-v5 g-color-white g-color-primary--hover" href="#!">Pages</a>
                          <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                          <span>About Us</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode6" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Dark Pattern Breadcrumbs -->
      </section>
      <!-- End Breadcrumbs #01 -->

      <!-- Breadcrumbs #02 -->
      <section class="g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Breadcrumbs
              <span class="g-color-primary g-ml-5">#02</span>
            </h2>
          </div>
        </div>

        <!-- Light Breadcrumbs -->
        <div class="g-mb-20">
          <div id="shortcode7">
            <div class="shortcode-html">
              <section class="g-brd-top g-brd-bottom g-brd-gray-light-v4 g-py-50">
                <div class="container g-bg-cover__inner">
                  <header class="g-mb-20">
                    <h3 class="h5 g-font-weight-300 g-mb-5">Breadcrumbs</h3>
                    <h2 class="h1 g-font-weight-300 text-uppercase">Maecenas
                      <span class="g-color-primary">enim</span>
                      sapien
                    </h2>
                  </header>

                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-7">
                      <a class="u-link-v5 g-color-main" href="#!">Home</a>
                      <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-mr-7">
                      <a class="u-link-v5 g-color-main" href="#!">Pages</a>
                      <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                      <span>About Us</span>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode7" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Light Breadcrumbs -->

        <!-- Light Breadcrumbs -->
        <div class="g-mb-20">
          <div id="shortcode8">
            <div class="shortcode-html">
              <section class="g-bg-gray-light-v5 g-py-50">
                <div class="container g-bg-cover__inner">
                  <header class="g-mb-20">
                    <h3 class="h5 g-font-weight-300 g-mb-5">Breadcrumbs</h3>
                    <h2 class="h1 g-font-weight-300 text-uppercase">Maecenas
                      <span class="g-color-primary">enim</span>
                      sapien
                    </h2>
                  </header>

                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-7">
                      <a class="u-link-v5 g-color-main" href="#!">Home</a>
                      <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-mr-7">
                      <a class="u-link-v5 g-color-main" href="#!">Pages</a>
                      <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                      <span>About Us</span>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode8" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Light Breadcrumbs -->

        <!-- Dark Breadcrumbs -->
        <div class="g-mb-20">
          <div id="shortcode9">
            <div class="shortcode-html">
              <section class="g-bg-gray-dark-v1 g-color-white g-py-50 g-mb-20">
                <div class="container g-bg-cover__inner">
                  <header class="g-mb-20">
                    <h3 class="h5 g-font-weight-300 g-mb-5">Breadcrumbs</h3>
                    <h2 class="h1 g-font-weight-300 text-uppercase">Maecenas
                      <span class="g-color-primary">enim</span>
                      sapien
                    </h2>
                  </header>

                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-7">
                      <a class="u-link-v5 g-color-white g-color-primary--hover" href="#!">Home</a>
                      <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-mr-7">
                      <a class="u-link-v5 g-color-white g-color-primary--hover" href="#!">Pages</a>
                      <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                      <span>About Us</span>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode9" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Dark Breadcrumbs -->

        <!-- Primary Breadcrumbs -->
        <div class="g-mb-20">
          <div id="shortcode10">
            <div class="shortcode-html">
              <section class="g-bg-primary g-color-white g-py-50 g-mb-20">
                <div class="container g-bg-cover__inner">
                  <header class="g-mb-20">
                    <h3 class="h5 g-font-weight-300 g-mb-5">Breadcrumbs</h3>
                    <h2 class="h1 g-font-weight-300 text-uppercase">Maecenas
                      <span class="g-color-black">enim</span>
                      sapien
                    </h2>
                  </header>

                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-7">
                      <a class="u-link-v5 g-color-white g-color-black--hover" href="#!">Home</a>
                      <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-mr-7">
                      <a class="u-link-v5 g-color-white g-color-black--hover" href="#!">Pages</a>
                      <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-color-black">
                      <span>About Us</span>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode10" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Primary Breadcrumbs -->

        <!-- Image Breadcrumbs -->
        <div class="g-mb-20">
          <div id="shortcode11">
            <div class="shortcode-html">
              <section class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_5--after g-color-white g-py-50 g-mb-20" style="background-image: url({{ root }}assets/img-temp/1920x800/img4.jpg);">
                <div class="container g-bg-cover__inner">
                  <header class="g-mb-20">
                    <h3 class="h5 g-font-weight-300 g-mb-5">Breadcrumbs</h3>
                    <h2 class="h1 g-font-weight-300 text-uppercase">Maecenas
                      <span class="g-color-primary">enim</span>
                      sapien
                    </h2>
                  </header>

                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-7">
                      <a class="u-link-v5 g-color-white g-color-primary--hover" href="#!">Home</a>
                      <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-mr-7">
                      <a class="u-link-v5 g-color-white g-color-primary--hover" href="#!">Pages</a>
                      <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                      <span>About Us</span>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode11" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Image Breadcrumbs -->
      </section>
      <!-- End Breadcrumbs #02 -->
    </section>

    {% include "html/assets/include/nunjucks/partials/blocks/cta/cta-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
  </main>

  {% include "html/assets/include/nunjucks/partials/blocks/modals/modal-markup.njk" %}

  {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

  <!-- JS Implementing Plugins -->
  <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  {% include "html/assets/include/nunjucks/partials/js/js-dzsparallaxer.njk" %}

  {% include "html/assets/include/nunjucks/partials/js/js-jquery-ui-core.njk" %}

  <!-- jQuery UI Helpers -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>

  <!-- jQuery UI Widgets -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>

  <!-- JS Unify -->
  <script src="{{ root }}assets/js/hs.core.js"></script>

  <script src="{{ root }}assets/js/components/hs.header.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
  <script src="{{ root }}assets/js/components/hs.header-side.js"></script>

  <script src="{{ root }}assets/js/components/hs.autocomplete-local-search.js"></script>
  <script src="{{ root }}assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.shortcode-filter.js"></script>

  <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

  {% include "html/assets/include/nunjucks/partials/js/js-show-code.njk" %}

  <!-- JS Custom -->
  <script src="{{ root }}assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
      $.HSCore.components.HSHeaderSide.init($('#sideNav'));

      // initialization of autocomplet
      $.HSCore.components.HSLocalSearchAutocomplete.init('#u-sidebar-navigation__search-autocomplete');

      // initialization of HSMegaMenu plugin
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });
    });
  </script>
</body>
</html>
