{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "shortcodes" %}
{% set sidebarNavActive_1 = "shortcode-blocks-testimonials" %}
{% set title = "Testimonials" %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
{% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
{% include "html/assets/include/nunjucks/partials/core-css.njk" %}
{% include "html/assets/include/nunjucks/partials/core-icons.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-dzsparallaxer.njk" %}
<link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

{% include "html/assets/include/nunjucks/partials/css/css-showcode.njk" %}

{% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
</head>

<body class="u-body--header-side-push-left u-body--header-side-opened u-has-sidebar-navigation g-overflow-x-hidden">
  <main>
    {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/sidebars/sidebar-shortcode-nav.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/page-title/shortcode-page-title/shortcode-page-title-block.njk" %}

    <section>
      <!-- Testimonials v1 -->
      <section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#01</span>
            </h2>
          </div>

          <div id="shortcode1">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row no-gutters">
                <div class="col-md-6 col-lg-4 g-brd-right g-brd-gray-light-v4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v20--hover g-bg-white--hover text-center g-rounded-4 g-transition-0_3 g-pa-30">
                    <blockquote class="lead u-blockquote-v6 g-font-style-italic g-mb-35">Your customer support is the best I have experienced with any theme I have purchased. You have a theme that far exceeds all others. Thanks for providing such a fantastic theme, all your efforts are greatly appreciated on our end.</blockquote>
                    <img class="img-thumbnail g-width-70 g-height-70 g-brd-gray-light-v7 rounded-circle g-mb-20" src="{{ root }}assets/img-temp/100x100/img14.jpg" alt="Image Description">
                    <h4 class="h5 g-color-black g-mb-0">Lewis Dean</h4>
                    <em class="g-color-gray-dark-v4 g-font-style-normal">Google Inc.</em>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-md-6 col-lg-4 g-brd-right g-brd-gray-light-v4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v20--hover g-bg-white--hover text-center g-rounded-4 g-transition-0_3 g-pa-30">
                    <blockquote class="lead u-blockquote-v6 g-font-style-italic g-mb-35">Thanks for this great update!!! However it's somewhat always a bit frustrating when I spent a lot of time trying to add features that were missing by myself and seeing updates including it in a way which is 300% nicer. Great job guys!</blockquote>
                    <img class="img-thumbnail g-width-70 g-height-70 g-brd-gray-light-v7 rounded-circle g-mb-20" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description ">
                    <h4 class="h5 g-color-black g-mb-0 ">Julia Cooper</h4>
                    <em class="g-color-gray-dark-v4 g-font-style-normal">Yahoo Co.</em>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-md-6 col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v20--hover g-bg-white--hover text-center g-rounded-4 g-transition-0_3 g-pa-30">
                    <blockquote class="lead u-blockquote-v6 g-font-style-italic g-mb-35 ">Your customer support is the best I have experienced with any theme I have purchased. You have a theme that far exceeds all others. Thanks for providing such a fantastic theme, all your efforts are greatly appreciated on our end.</blockquote>
                    <img class="img-thumbnail g-width-70 g-height-70 g-brd-gray-light-v7 rounded-circle g-mb-20" src="{{ root }}assets/img-temp/100x100/img7.jpg" alt="Image Description">
                    <h4 class="h5 g-color-black g-mb-0">Jack Powell</h4>
                    <em class="g-color-gray-dark-v4 g-font-style-normal">Apple Ltd.</em>
                  </div>
                  <!-- End Testimonials -->
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          {% set contentTarget = "#shortcode1" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v1 -->

      <!-- Testimonials v2 -->
      <section class="g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Testimonials
              <span class="g-color-primary g-ml-5">#02</span>
            </h2>
          </div>

          <div id="shortcode2">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row">
                <div class="col-lg-6 g-mb-30">
                  <!-- Testimonials -->
                  <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-gray-light-v5 g-rounded-4 g-transition-0_3 g-pa-20">
                    <div class="d-flex mr-4">
                      <img class="g-width-70 g-height-70 rounded-circle" src="{{ root }}assets/img-temp/100x100/img14.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <blockquote class="lead g-mb-15">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great.</blockquote>
                      <h4 class="h6 g-font-weight-700 g-mb-0">Alex Pottorf</h4>
                      <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-6 g-mb-30">
                  <!-- Testimonials -->
                  <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-gray-light-v5 g-rounded-4 g-transition-0_3 g-pa-20">
                    <div class="d-flex mr-4">
                      <img class="g-width-70 g-height-70 rounded-circle" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <blockquote class="lead g-mb-15">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                      <h4 class="h6 g-font-weight-700 g-mb-0">Angela Danil</h4>
                      <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-6 g-mb-30">
                  <!-- Testimonials -->
                  <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-gray-light-v5 g-rounded-4 g-transition-0_3 g-pa-20">
                    <div class="d-flex mr-4">
                      <img class="g-width-70 g-height-70 rounded-circle" src="{{ root }}assets/img-temp/100x100/img7.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <blockquote class="lead g-mb-15">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great.</blockquote>
                      <h4 class="h6 g-font-weight-700 g-mb-0">Alex Pottorf</h4>
                      <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-6 g-mb-30">
                  <!-- Testimonials -->
                  <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-gray-light-v5 g-rounded-4 g-transition-0_3 g-pa-20">
                    <div class="d-flex mr-4">
                      <img class="g-width-70 g-height-70 rounded-circle" src="{{ root }}assets/img-temp/100x100/img6.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <blockquote class="lead g-mb-15">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                      <h4 class="h6 g-font-weight-700 g-mb-0">Angela Danil</h4>
                      <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          {% set contentTarget = "#shortcode2" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v2 -->

      <!-- Testimonials v3 -->
      <section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Testimonials
              <span class="g-color-primary g-ml-5">#03</span>
            </h2>
          </div>

          <div id="shortcode3">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row">
                <div class="col-lg-6 g-mb-30">
                  <!-- Testimonials -->
                  <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
                    <div class="d-flex mr-4">
                      <img class="g-width-70 g-height-70 rounded-circle" src="{{ root }}assets/img-temp/100x100/img14.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <blockquote class="lead g-mb-15">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great.</blockquote>
                      <h4 class="h6 g-font-weight-700 g-mb-0">Alex Pottorf</h4>
                      <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-6 g-mb-30">
                  <!-- Testimonials -->
                  <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
                    <div class="d-flex mr-4">
                      <img class="g-width-70 g-height-70 rounded-circle" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <blockquote class="lead g-mb-15">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                      <h4 class="h6 g-font-weight-700 g-mb-0">Angela Danil</h4>
                      <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-6 g-mb-30">
                  <!-- Testimonials -->
                  <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
                    <div class="d-flex mr-4">
                      <img class="g-width-70 g-height-70 rounded-circle" src="{{ root }}assets/img-temp/100x100/img7.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <blockquote class="lead g-mb-15">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great.</blockquote>
                      <h4 class="h6 g-font-weight-700 g-mb-0">Alex Pottorf</h4>
                      <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-6 g-mb-30">
                  <!-- Testimonials -->
                  <div class="media g-brd-bottom g-brd-3 g-brd-gray-light-v4 g-brd-primary--hover g-bg-white g-rounded-4 g-transition-0_3 g-pa-20">
                    <div class="d-flex mr-4">
                      <img class="g-width-70 g-height-70 rounded-circle" src="{{ root }}assets/img-temp/100x100/img6.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <blockquote class="lead g-mb-15">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                      <h4 class="h6 g-font-weight-700 g-mb-0">Angela Danil</h4>
                      <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Customer</em>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          {% set contentTarget = "#shortcode3" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v3 -->

      <!-- Testimonials v4 -->
      <section class="g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Testimonials
              <span class="g-color-primary g-ml-5">#04</span>
            </h2>
          </div>

          <div id="shortcode4">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row">
                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="g-brd-around g-brd-blue g-pa-40">
                    <blockquote class="lead text-center g-mb-40">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                    <div class="d-flex justify-content-center">
                      <img class="align-self-center g-width-40 g-height-40 rounded-circle mr-3" src="{{ root }}assets/img-temp/100x100/img14.jpg" alt="Image Description">
                      <div>
                        <h4 class="h5 align-self-center g-mb-5">Alex Peterson</h4>
                        <div class="js-rating align-self-center g-color-yellow g-font-size-10" data-rating="5" data-spacing="3" data-backward-icons-classes="fa fa-star"></div>
                      </div>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="g-brd-around g-brd-pink g-pa-40">
                    <blockquote class="lead text-center g-mb-40">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help.</blockquote>
                    <div class="d-flex justify-content-center">
                      <img class="align-self-center g-width-40 g-height-40 rounded-circle mr-3" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
                      <div>
                        <h4 class="h5 align-self-center g-mb-5">Emma Smith</h4>
                        <div class="js-rating align-self-center g-color-yellow g-font-size-10" data-rating="5" data-spacing="3" data-backward-icons-classes="fa fa-star"></div>
                      </div>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="g-brd-around g-brd-purple g-pa-40">
                    <blockquote class="lead text-center g-mb-40">Your customer support is the best I have experienced with any theme I have purchased. You have a theme that far exceeds all others.</blockquote>
                    <div class="d-flex justify-content-center">
                      <img class="align-self-center g-width-40 g-height-40 rounded-circle mr-3" src="{{ root }}assets/img-temp/100x100/img4.jpg" alt="Image Description">
                      <div>
                        <h4 class="h5 align-self-center g-mb-5">Anna Pretty</h4>
                        <div class="js-rating align-self-center g-color-yellow g-font-size-10" data-rating="5" data-spacing="3" data-backward-icons-classes="fa fa-star"></div>
                      </div>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>
              </div>
              <!-- End Testimonials -->
            </div>

            <div class="shortcode-scripts">
              <!-- JS Unify -->
              <script type="text/plain" src="{{ root }}assets/js/components/hs.rating.js"></script>

              <!-- JS Plugins Init. -->
              <script type="text/plain">
                $(document).on('ready', function () {
                  // initialization of rating
                  $.HSCore.components.HSRating.init($('.js-rating'), {
                    spacing: 4
                  });
                });
              </script>
            </div>
          </div>

          {% set contentTarget = "#shortcode4" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v4 -->

      <!-- Testimonials v5 -->
      <section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#05</span>
            </h2>
          </div>

          <div id="shortcode5">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="text-center">
                    <img class="g-width-120 g-height-120 g-brd-around g-brd-5 g-brd-white rounded-circle" src="{{ root }}assets/img-temp/125x125/img4.jpg" alt="Image Description">
                    <div class="g-py-25">
                      <h4 class="h5 g-color-black text-uppercase g-mb-0">Mary Brown</h4>
                      <em class="g-color-primary">Designer</em>
                    </div>
                    <blockquote class="lead g-line-height-1_8 g-mb-25">" Thanks a lot. You have no idea how much I appreciate all your help. You are not just a great designer but an amazing human being, because so many people won't give a rat ass about what happen to their clients AFTER THE SALE, and you are not. Again, thanks a lot. "</blockquote>
                    <div class="js-rating align-self-center g-color-yellow" data-rating="5" data-spacing="5" data-backward-icons-classes="fa fa-star"></div>
                  </div>
                </div>
              </div>
              <!-- End Testimonials -->
            </div>

            <div class="shortcode-scripts">
              <!-- JS Unify -->
              <script type="text/plain" src="{{ root }}assets/js/components/hs.rating.js"></script>

              <!-- JS Plugins Init. -->
              <script type="text/plain">
                $(document).on('ready', function () {
                  // initialization of rating
                  $.HSCore.components.HSRating.init($('.js-rating'), {
                    spacing: 4
                  });
                });
              </script>
            </div>
          </div>

          {% set contentTarget = "#shortcode5" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v5 -->

      <!-- Testimonials v6 -->
      <section class="g-py-50">
        <div class="text-center g-mb-50">
          <h2 class="h4 g-mb-0">Testimonials
            <span class="g-color-primary g-ml-5">#06</span>
          </h2>
        </div>

        <div id="shortcode6">
          <div class="shortcode-html">
            <div class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-black-opacity-0_7--after">
              <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background-image: url({{ root }}assets/img-temp/1920x1080/img1.jpg);"></div>

              <div class="container g-bg-cover__inner g-pt-120 g-pb-90">
                <!-- Testimonials -->
                <div class="row">
                  <div class="col-md-6 col-lg-4">
                    <!-- Testimonials -->
                    <div class="g-brd-around g-brd-1 g-brd-white-opacity-0_6 g-bg-white-opacity-0_2 g-color-white text-center rounded g-px-40 g-py-60 g-mb-30">
                      <img class="g-width-100 g-height-100 g-brd-3 g-brd-style-solid g-brd-white rounded-circle g-mb-30" src="{{ root }}assets/img-temp/100x100/img14.jpg" alt="Image Description">
                      <h4>David Lawrence</h4>
                      <em class="d-block g-color-primary g-font-style-normal g-mb-5">Software Developer</em>
                      <blockquote class="lead u-blockquote-v2 g-mb-0">Your customer support is the best I have experienced with any theme I have purchased. You have a theme that far exceeds all others.</blockquote>
                    </div>
                    <!-- End Testimonials -->
                  </div>

                  <div class="col-md-6 col-lg-4">
                    <!-- Testimonials -->
                    <div class="g-brd-around g-brd-1 g-brd-white-opacity-0_6 g-bg-white-opacity-0_2 g-color-white text-center rounded g-px-40 g-py-60 g-mb-30">
                      <img class="g-width-100 g-height-100 g-brd-3 g-brd-style-solid g-brd-white rounded-circle g-mb-30" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
                      <h4>Angela Danil</h4>
                      <em class="d-block g-color-primary g-font-style-normal g-mb-5">Web Designer</em>
                      <blockquote class="lead u-blockquote-v2 g-mb-0">Dear Htmlstream Inc., I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                    </div>
                    <!-- End Testimonials -->
                  </div>

                  <div class="col-md-6 col-lg-4">
                    <!-- Testimonials -->
                    <div class="g-brd-around g-brd-1 g-brd-white-opacity-0_6 g-bg-white-opacity-0_2 g-color-white text-center rounded g-px-40 g-py-60 g-mb-30">
                      <img class="g-width-100 g-height-100 g-brd-3 g-brd-style-solid g-brd-white rounded-circle g-mb-30" src="{{ root }}assets/img-temp/100x100/img17.jpg" alt="Image Description">
                      <h4>Sand Gogh</h4>
                      <em class="d-block g-color-primary g-font-style-normal g-mb-5">Software Developer</em>
                      <blockquote class="lead u-blockquote-v2 g-mb-0">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help.</blockquote>
                    </div>
                    <!-- End Testimonials -->
                  </div>
                </div>
                <!-- End Testimonials -->
              </div>
            </div>
          </div>

          <div class="shortcode-styles">
            <!-- CSS Implementing Plugins -->
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
          </div>

          <div class="shortcode-scripts">
            <!-- JS Implementing Plugins -->
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
          </div>
        </div>

        {% set SCExtendedClasses = "container" %}
        {% set contentTarget = "#shortcode6" %}
        {% set modalID = "#modalMarkup" %}
        {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
      </section>
      <!-- End Testimonials v6 -->

      <!-- Testimonials v7 -->
      <section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#07</span>
            </h2>
          </div>

          <div id="shortcode7">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row">
                <div class="col-md-4 g-mb-30">
                  <!-- Testimonials -->
                  <blockquote class="media u-blockquote-v5 g-bg-blue g-color-white g-rounded-5 g-pa-25 g-pl-55 g-mb-30">
                    <div class="media-body">
                      <p class="lead g-mb-0">First of all, thank you very much for making this theme! It is beautiful both when looked at in the browser and especially also when looking at the HTML, CSS etc. source code.</p>
                    </div>
                  </blockquote>
                  <div class="text-center">
                    <img class="g-width-75 g-height-75 g-brd-around g-brd-4 g-brd-blue rounded-circle g-mb-10" src="{{ root }}assets/img-temp/100x100/img6.jpg" alt="Image Description">
                    <h4 class="h5 g-font-weight-600 g-mb-0">Sara</h4>
                    <span class="g-color-gray-dark-v5 g-font-size-13">Happy customer</span>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-md-4 g-mb-30">
                  <!-- Testimonials -->
                  <blockquote class="media u-blockquote-v5 g-bg-blue g-color-white g-rounded-10 g-pa-25 g-pl-55 g-mb-30">
                    <div class="media-body">
                      <p class="lead g-mb-0">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help with some fiddly setup issues.</p>
                    </div>
                  </blockquote>
                  <div class="text-center">
                    <img class="g-width-75 g-height-75 g-brd-around g-brd-4 g-brd-blue rounded-circle g-mb-10" src="{{ root }}assets/img-temp/100x100/img14.jpg" alt="Image Description">
                    <h4 class="h5 g-font-weight-600 g-mb-0">Peter</h4>
                    <span class="g-color-gray-dark-v5 g-font-size-13">Happy customer</span>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-md-4 g-mb-30">
                  <!-- Testimonials -->
                  <blockquote class="media u-blockquote-v5 g-bg-blue g-color-white g-rounded-5 g-pa-25 g-pl-55 g-mb-30">
                    <div class="media-body">
                      <p class="lead g-mb-0">Your customer support is the best I have experienced with any theme I have purchased. You have a theme that far exceeds all others. Thanks for such a fantastic theme.</p>
                    </div>
                  </blockquote>
                  <div class="text-center">
                    <img class="g-width-75 g-height-75 g-brd-around g-brd-4 g-brd-blue rounded-circle g-mb-10" src="{{ root }}assets/img-temp/100x100/img17.jpg" alt="Image Description">
                    <h4 class="h5 g-font-weight-600 g-mb-0">Mark</h4>
                    <span class="g-color-gray-dark-v5 g-font-size-13">Happy customer</span>
                  </div>
                  <!-- End Testimonials -->
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          {% set contentTarget = "#shortcode7" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v7 -->

      <!-- Testimonials v8 -->
      <section class="g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#08</span>
            </h2>
          </div>

          <div id="shortcode8">
            <div class="shortcode-html">
              <div class="row">
                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-bg-white g-bg-cyan-gradient-opacity-v1 g-color-white text-center rounded g-px-40 g-py-60">
                    <img class="g-brd-around g-brd-3 g-brd-white g-width-80 g-height-80 rounded-circle g-mb-20" src="{{ root }}assets/img-temp/100x100/img7.jpg" alt="Image Description">
                    <h4 class="h5 g-font-weight-700 g-mb-0">Daniel Ramirez</h4>
                    <em class="d-block g-color-white-opacity-0_7 g-font-style-normal g-font-size-13 g-mb-20">Customer</em>
                    <blockquote class="lead g-mb-0">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help with some fiddly setup issues.</blockquote>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-bg-white g-bg-cyan-gradient-opacity-v1 g-color-white text-center rounded g-px-40 g-py-60">
                    <img class="g-brd-around g-brd-3 g-brd-white g-width-80 g-height-80 rounded-circle g-mb-20" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
                    <h4 class="h5 g-font-weight-700 g-mb-0">Sara Olsson</h4>
                    <em class="d-block g-color-white-opacity-0_7 g-font-style-normal g-font-size-13 g-mb-20">Customer</em>
                    <blockquote class="lead g-mb-0">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help with some fiddly setup issues.</blockquote>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-bg-white g-bg-cyan-gradient-opacity-v1 g-color-white text-center rounded g-px-40 g-py-60">
                    <img class="g-brd-around g-brd-3 g-brd-white g-width-80 g-height-80 rounded-circle g-mb-20" src="{{ root }}assets/img-temp/100x100/img14.jpg" alt="Image Description">
                    <h4 class="h5 g-font-weight-700 g-mb-0">James Peterson</h4>
                    <em class="d-block g-color-white-opacity-0_7 g-font-style-normal g-font-size-13 g-mb-20">Customer</em>
                    <blockquote class="lead g-mb-0">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help with some fiddly setup issues.</blockquote>
                  </div>
                  <!-- End Testimonials -->
                </div>
              </div>
            </div>
          </div>

          {% set contentTarget = "#shortcode8" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v8 -->

      <!-- Testimonials v9 -->
      <section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#09</span>
            </h2>
          </div>

          <div id="shortcode9">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row">
                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <article class="g-bg-cyan-gradient-opacity-v1 g-pa-5">
                    <div class="g-pa-30">
                      <header class="g-mb-20">
                        <h3 class="h4 g-color-white g-mb-0">Alex Peterson</h3>
                        <em class="d-block g-color-white-opacity-0_7 g-font-style-normal g-font-size-12 text-uppercase">Google Inc.</em>
                      </header>
                      <blockquote class="lead g-color-white g-mb-25">Your customer support is the best I have experienced with any theme I have purchased. You have a theme that far exceeds all others.</blockquote>
                      <em class="d-block g-color-white-opacity-0_7 g-font-style-normal g-font-size-12 text-uppercase">Support</em>
                      <div class="js-rating align-self-center g-color-white" data-rating="5" data-spacing="2" data-backward-icons-classes="fa fa-star"></div>
                    </div>
                  </article>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <article class="g-bg-cyan-gradient-opacity-v1 g-pa-5">
                    <div class="g-pa-30">
                      <header class="g-mb-20">
                        <h3 class="h4 g-color-white g-mb-0">Emma Watson</h3>
                        <em class="d-block g-color-white-opacity-0_7 g-font-style-normal g-font-size-12 text-uppercase">Apple Inc.</em>
                      </header>
                      <blockquote class="lead g-color-white g-mb-25">Dear Htmlstream Inc., I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                      <em class="d-block g-color-white-opacity-0_7 g-font-style-normal g-font-size-12 text-uppercase">Design</em>
                      <div class="js-rating align-self-center g-color-white" data-rating="5" data-spacing="2" data-backward-icons-classes="fa fa-star"></div>
                    </div>
                  </article>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <article class="g-bg-cyan-gradient-opacity-v1 g-pa-5">
                    <div class="g-pa-30">
                      <header class="g-mb-20">
                        <h3 class="h4 g-color-white g-mb-0">Leyla Mour</h3>
                        <em class="d-block g-color-white-opacity-0_7 g-font-style-normal g-font-size-12 text-uppercase">Microsoft Inc.</em>
                      </header>
                      <blockquote class="lead g-color-white g-mb-25">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help.</blockquote>
                      <em class="d-block g-color-white-opacity-0_7 g-font-style-normal g-font-size-12 text-uppercase">Code</em>
                      <div class="js-rating align-self-center g-color-white" data-rating="5" data-spacing="2" data-backward-icons-classes="fa fa-star"></div>
                    </div>
                  </article>
                  <!-- End Testimonials -->
                </div>
              </div>
              <!-- End Testimonials -->
            </div>

            <div class="shortcode-scripts">
              <!-- JS Unify -->
              <script type="text/plain" src="{{ root }}assets/js/components/hs.rating.js"></script>

              <!-- JS Plugins Init. -->
              <script type="text/plain">
                $(document).on('ready', function () {
                  // initialization of rating
                  $.HSCore.components.HSRating.init($('.js-rating'), {
                    spacing: 4
                  });
                });
              </script>
            </div>
          </div>

          {% set contentTarget = "#shortcode9" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v9 -->

      <!-- Testimonials v10 -->
      <section class="g-py-50">
        <div class="text-center g-mb-50">
          <h2 class="h4 g-mb-0">Testimonials
            <span class="g-color-primary g-ml-5">#10</span>
          </h2>
        </div>

        <div id="shortcode10">
          <div class="shortcode-html">
            <div class="g-bg-cover g-bg-size-cover g-bg-pos-center g-bg-black-opacity-0_7--after" style="background-image: url({{ root }}assets/img-temp/1920x1080/img2.jpg);">
              <div class="container g-bg-cover__inner g-py-120">
                <!-- Testimonials -->
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <div class="d-flex justify-content-between">
                      <img class="align-self-center g-brd-around g-brd-4 g-brd-primary g-width-100 g-height-100 rounded-circle mr-5" src="{{ root }}assets/img-temp/125x125/img4.jpg" alt="Image Description">
                      <div class="align-self-center g-color-white text-sm-left">
                        <blockquote class="media lead">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help with some fiddly setup issues.</blockquote>
                        <h4 class="h5 g-color-primary g-mb-0">Daniella Ramirez</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Testimonials -->
              </div>
            </div>
          </div>
        </div>

        {% set contentTarget = "#shortcode10" %}
        {% set modalID = "#modalMarkup" %}
        {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
      </section>
      <!-- End Testimonials v10 -->

      <!-- Testimonials v11 -->
      <section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#11</span>
            </h2>
          </div>

          <div id="shortcode11">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row">
                <div class="col-md-6 g-mb-50">
                  <!-- Testimonials -->
                  <blockquote class="lead u-blockquote-v1 rounded g-pl-60 g-pr-30 g-py-30 g-mb-40">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                  <div class="media">
                    <img class="d-flex align-self-center rounded-circle g-brd-around g-brd-3 g-brd-white g-width-50 mr-3" src="{{ root }}assets/img-temp/100x100/img7.jpg" alt="Image Description">
                    <div class="media-body align-self-center">
                      <h4 class="h6 g-font-weight-700 g-mb-0">Alex Pottorf</h4>
                      <em class="g-color-gray-dark-v4 g-font-style-normal">Web Developer</em>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-md-6 g-mb-50">
                  <!-- Testimonials -->
                  <blockquote class="lead u-blockquote-v1 rounded g-pl-60 g-pr-30 g-py-30 g-mb-40">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help with some fiddly setup issues.</blockquote>
                  <div class="media">
                    <img class="d-flex align-self-center rounded-circle g-brd-around g-brd-3 g-brd-white g-width-50 mr-3" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
                    <div class="media-body align-self-center">
                      <h4 class="h6 g-font-weight-700 g-mb-0">Bastien Rojanawisut</h4>
                      <em class="g-color-gray-dark-v4 g-font-style-normal">UX/UI Designer</em>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          {% set contentTarget = "#shortcode11" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v11 -->

      <!-- Testimonials v12 -->
      <section class="g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#12</span>
            </h2>
          </div>

          <div id="shortcode12">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row">
                <div class="col-md-6 g-mb-50">
                  <!-- Testimonials -->
                  <div class="g-pos-rel g-pt-40">
                    <em class="g-color-gray-light-v5 g-font-size-120 g-pos-abs g-top-minus-15 g-left-minus-15 g-z-index-minus-1"> &#8220; </em>
                    <blockquote class="lead g-font-style-italic g-line-height-2 g-pl-30 g-mb-30">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                    <div class="media">
                      <img class="d-flex align-self-center g-width-50 g-height-50 rounded-circle mr-3" src="{{ root }}assets/img-temp/100x100/img7.jpg" alt="Image Description">
                      <div class="media-body align-self-center">
                        <h4 class="h5 g-font-weight-700 g-mb-0">Daniel Ramirez</h4>
                        <span class="d-block g-color-gray-dark-v4">Designer</span>
                      </div>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-md-6 g-mb-50">
                  <!-- Testimonials -->
                  <div class="g-pos-rel g-pt-40">
                    <em class="g-color-gray-light-v5 g-font-size-120 g-pos-abs g-top-minus-15 g-left-minus-15 g-z-index-minus-1"> &#8220; </em>
                    <blockquote class="lead g-font-style-italic g-line-height-2 g-pl-30 g-mb-30">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help with some fiddly setup issues.</blockquote>
                    <div class="media">
                      <img class="d-flex align-self-center g-width-50 g-height-50 rounded-circle mr-3" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
                      <div class="media-body align-self-center">
                        <h4 class="h5 g-font-weight-700 g-mb-0">Sara Anderson</h4>
                        <span class="d-block g-color-gray-dark-v4">Designer</span>
                      </div>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          {% set contentTarget = "#shortcode12" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- Testimonials v12 -->

      <hr class="g-brd-gray-light-v4 g-my-0">

      <!-- Testimonials v13 -->
      <section class="g-py-50">
        <div class="text-center g-mb-50">
          <h2 class="h4 g-mb-0">Testimonials
            <span class="g-color-primary g-ml-5">#13</span>
          </h2>
        </div>

        <div id="shortcode13">
          <div class="shortcode-html">
            <div class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-black-opacity-0_8--after">
              <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background: url({{ root }}assets/img-temp/720x299/img1.jpg);"></div>
              <div class="container g-bg-cover__inner g-py-100">
                <!-- Testimonials -->
                <div class="row justify-content-center">
                  <div class="col-lg-9">
                    <div class="text-center g-z-index-1 text-uppercase">
                      <blockquote class="g-color-white g-font-size-28 g-mb-20">If you can design one thing,
                        <span class="g-color-primary g-font-weight-700">you can design</span>
                        everything. Just believe it.
                      </blockquote>
                      <h4 class="h6 g-color-white-opacity-0_6 g-mb-0">- Kathy Reyes -</h4>
                    </div>
                  </div>
                </div>
                <!-- End Testimonials -->
              </div>
            </div>
          </div>

          <div class="shortcode-styles">
            <!-- CSS Implementing Plugins -->
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
          </div>

          <div class="shortcode-scripts">
            <!-- JS Implementing Plugins -->
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
          </div>
        </div>

        {% set SCExtendedClasses = "container" %}
        {% set contentTarget = "#shortcode13" %}
        {% set modalID = "#modalMarkup" %}
        {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
      </section>
      <!-- End Testimonials v13 -->

      <!-- Testimonials v14 -->
      <section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#14</span>
            </h2>
          </div>

          <div id="shortcode14">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                  <blockquote class="u-blockquote-v4 g-color-primary--before g-color-primary--after g-font-size-35 g-line-height-1_8 g-mb-50">If you can design one thing,
                    <span class="g-brd-bottom--dotted g-brd-2 g-brd-primary g-color-primary g-pb-5">you can</span>
                    design everything. Just
                    <span class="g-brd-bottom--dotted g-brd-2 g-brd-primary g-color-primary g-pb-5">believe</span>
                    it.
                  </blockquote>
                  <h4 class="h6 g-font-weight-700 text-uppercase g-mb-0">
                    <span class="d-inline-block g-width-40 g-height-2 g-bg-primary g-pos-rel g-top-minus-3 mr-2"></span>
                    Kathy Reyes
                  </h4>
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          {% set contentTarget = "#shortcode14" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- Testimonials v14 -->

      <!-- Testimonials v15 -->
      <section class="g-py-50">
        <div class="text-center g-mb-50">
          <h2 class="h4 g-mb-0">Testimonials
            <span class="g-color-primary g-ml-5">#15</span>
          </h2>
        </div>

        <div id="shortcode15">
          <div class="shortcode-html">
            <div class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-white-opacity-0_9--after">
              <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background: url({{ root }}assets/img-temp/720x299/img1.jpg);"></div>
              <div class="container g-bg-cover__inner g-py-100">
                <!-- Testimonials -->
                <div class="row justify-content-center">
                  <div class="col-lg-9">
                    <div class="text-center g-z-index-1 text-uppercase">
                      <blockquote class="g-font-size-28 g-mb-20">If you can design one thing,
                        <span class="g-color-primary g-font-weight-700">you can design</span>
                        everything. Just believe it.
                      </blockquote>
                      <h4 class="h6 g-mb-0">- Kathy Reyes -</h4>
                    </div>
                  </div>
                </div>
                <!-- End Testimonials -->
              </div>
            </div>
          </div>

          <div class="shortcode-styles">
            <!-- CSS Implementing Plugins -->
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
          </div>

          <div class="shortcode-scripts">
            <!-- JS Implementing Plugins -->
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
          </div>
        </div>

        {% set SCExtendedClasses = "container" %}
        {% set contentTarget = "#shortcode15" %}
        {% set modalID = "#modalMarkup" %}
        {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
      </section>
      <!-- End Testimonials v15 -->

      <!-- Testimonials v16 -->
      <section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#16</span>
            </h2>
          </div>

          <div id="shortcode16">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row">
                <div class="col-lg-4 g-mt-50 g-mb-90">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-bg-white text-center rounded g-pb-40 g-px-30">
                    <img class="g-brd-7 g-brd-style-solid g-brd-white g-width-100 g-height-100 rounded-circle g-pull-50x-up" src="{{ root }}assets/img-temp/100x100/img6.jpg" alt="Image Description">
                    <div class="g-mt-minus-20">
                      <h4 class="h6 g-color-primary g-font-weight-600 text-uppercase g-mb-5">Carla Harris</h4>
                      <em class="d-block g-color-gray-dark-v4 g-font-style-normal g-font-size-13 g-mb-20">Happy customer</em>
                      <i class="d-block g-color-primary g-font-size-50 g-line-height-0_7 g-pos-rel g-top-15 g-mb-20">&#8220;</i>
                      <blockquote class="g-color-black g-font-style-italic g-font-size-20 g-line-height-1_4">Great theme maker. I wish they would create more themes.</blockquote>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-4 g-mt-50 g-mb-90">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-bg-white text-center rounded g-pb-40 g-px-30">
                    <img class="g-brd-7 g-brd-style-solid g-brd-white g-width-100 g-height-100 rounded-circle g-pull-50x-up" src="{{ root }}assets/img-temp/100x100/img4.jpg" alt="Image Description">
                    <div class="g-mt-minus-20">
                      <h4 class="h6 g-color-primary g-font-weight-600 text-uppercase g-mb-5">Simone Gomez</h4>
                      <em class="d-block g-color-gray-dark-v4 g-font-style-normal g-font-size-13 g-mb-20">Happy customer</em>
                      <i class="d-block g-color-primary g-font-size-50 g-line-height-0_7 g-pos-rel g-top-15 g-mb-20">&#8220;</i>
                      <blockquote class="g-color-black g-font-style-italic g-font-size-20 g-line-height-1_4">I'm very impressed with the theme and customer support! Thanks</blockquote>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-4 g-mt-50">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-bg-white text-center rounded g-pb-40 g-px-30">
                    <img class="g-brd-7 g-brd-style-solid g-brd-white g-width-100 g-height-100 rounded-circle g-pull-50x-up" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
                    <div class="g-mt-minus-20">
                      <h4 class="h6 g-color-primary g-font-weight-600 text-uppercase g-mb-5">Dianna Kimwealth</h4>
                      <em class="d-block g-color-gray-dark-v4 g-font-style-normal g-font-size-13 g-mb-20">Happy customer</em>
                      <i class="d-block g-color-primary g-font-size-50 g-line-height-0_7 g-pos-rel g-top-15 g-mb-20">&#8220;</i>
                      <blockquote class="g-color-black g-font-style-italic g-font-size-20 g-line-height-1_4">Unify - The best template i have ever found in the last 10 years! Great!</blockquote>
                    </div>
                  </div>
                  <!-- End Testimonials -->
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          {% set contentTarget = "#shortcode16" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v16 -->

      <!-- Testimonials v17 -->
      <section class="g-py-50">
        <div class="text-center g-mb-50">
          <h2 class="h4 g-mb-0">Testimonials
            <span class="g-color-primary g-ml-5">#17</span>
          </h2>
        </div>

        <div id="shortcode17">
          <div class="shortcode-html">
            <div class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-black-opacity-0_7--after">
              <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background-image: url({{ root }}assets/img-temp/1920x1080/img1.jpg);"></div>
              <div class="container g-bg-cover__inner g-py-120">
                <!-- Testimonials -->
                <div class="text-center g-px-100--lg">
                  <i class="d-block g-color-primary g-font-size-60 g-line-height-0_7 g-pos-rel g-top-20">&#8220;</i>
                  <blockquote class="g-color-white g-font-size-25 g-py-40">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                  <h4 class="h6 g-color-white-opacity-0_7 text-uppercase g-mb-0">
                    Bastian, <em class="g-font-style-normal g-color-primary">Client</em>
                  </h4>
                </div>
                <!-- End Testimonials -->
              </div>
            </div>
          </div>

          <div class="shortcode-styles">
            <!-- CSS Implementing Plugins -->
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
          </div>

          <div class="shortcode-scripts">
            <!-- JS Implementing Plugins -->
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
          </div>
        </div>

        {% set SCExtendedClasses = "container" %}
        {% set contentTarget = "#shortcode17" %}
        {% set modalID = "#modalMarkup" %}
        {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
      </section>
      <!-- End Testimonials v17 -->

      <!-- Testimonials v18 -->
      <section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#18</span>
            </h2>
          </div>

          <div id="shortcode18">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row">
                <div class="col-md-6 col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-bg-white text-center rounded g-pt-20 g-pb-40 g-px-40">
                    <i class="d-block g-color-cyan g-font-size-50 g-line-height-0_7 g-pos-rel g-top-20">&#8220;</i>
                    <blockquote class="lead u-blockquote-v6 g-py-20">Dear Htmlstream Inc., I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</blockquote>
                    <img class="g-width-70 g-height-70 g-brd-2 g-brd-style-solid g-brd-cyan rounded-circle g-mb-20" src="{{ root }}assets/img-temp/100x100/img14.jpg" alt="Image Description">
                    <h4 class="h5 g-color-cyan g-mb-0">Lewis Dean</h4>
                    <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Google Inc.</em>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-md-6 col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-bg-white text-center rounded g-pt-20 g-pb-40 g-px-40">
                    <i class="d-block g-color-pink g-font-size-50 g-line-height-0_7 g-pos-rel g-top-20">&#8220;</i>
                    <blockquote class="lead u-blockquote-v6 g-py-20">Your customer support is the best I have experienced with any theme I have purchased. You have a theme that far exceeds all others.</blockquote>
                    <img class="g-width-70 g-height-70 g-brd-2 g-brd-style-solid g-brd-pink rounded-circle g-mb-20" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description ">
                    <h4 class="h5 g-color-pink g-mb-0 ">Julia Cooper</h4>
                    <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Yahoo Co.</em>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-md-6 col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-bg-white text-center rounded g-pt-20 g-pb-40 g-px-40">
                    <i class="d-block g-color-purple g-font-size-50 g-line-height-0_7 g-pos-rel g-top-20">&#8220;</i>
                    <blockquote class="lead u-blockquote-v6 g-py-20">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help.</blockquote>
                    <img class="g-width-70 g-height-70 g-brd-2 g-brd-style-solid g-brd-purple rounded-circle g-mb-20" src="{{ root }}assets/img-temp/100x100/img7.jpg" alt="Image Description">
                    <h4 class="h5 g-color-purple g-mb-0">Jack Powell</h4>
                    <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Apple Ltd.</em>
                  </div>
                  <!-- End Testimonials -->
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          {% set contentTarget = "#shortcode18" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v18 -->

      <!-- Testimonials v19 -->
      <section class="g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#19</span>
            </h2>
          </div>

          <div id="shortcode19">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row justify-content-center">
                <div class="col-md-5">
                  <div class="text-center">
                    <i class="d-block g-color-gray-light-v1 g-font-size-50 g-line-height-0_7 g-pos-rel g-top-15 g-mb-20">&#8220;</i>
                    <blockquote class="g-color-black g-font-style-italic g-font-weight-600 g-font-size-20 g-mb-30">Unify - The best template i have ever found in the last 10 years! Great!</blockquote>
                    <h4 class="h6 g-color-gray-dark-v5 g-font-weight-600 g-mb-30">Twitter / 7 hours ago</h4>
                    <i class="d-block g-color-twitter g-font-size-30 fa fa-twitter"></i>
                  </div>
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          {% set contentTarget = "#shortcode19" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v19 -->

      <!-- Testimonials v20 -->
      <section class="g-bg-gray-light-v5 g-py-100">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#20</span>
            </h2>
          </div>

          <div id="shortcode20">
            <div class="shortcode-html">
              <div class="row">
                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-brd-bottom g-brd-3 g-brd-cyan-gradient-opacity-v1 g-bg-white text-center g-px-35 g-py-60">
                    <img class="g-brd-x g-brd-y g-brd-3 g-brd-cyan-gradient-opacity-v1 g-width-80 g-height-80 g-mb-30" src="{{ root }}assets/img-temp/100x100/img7.jpg" alt="Image Description">
                    <h4 class="h5 g-color-cyan-gradient-opacity-v1 g-font-weight-700 g-mb-0">Daniel Ramirez</h4>
                    <em class="d-block g-color-gray-dark-v4 g-font-style-normal g-font-size-13 g-mb-20">Customer</em>
                    <blockquote class="lead g-mb-0">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help with some fiddly setup issues.</blockquote>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-brd-bottom g-brd-3 g-brd-cyan-gradient-opacity-v1 g-bg-white text-center g-px-35 g-py-60">
                    <img class="g-brd-x g-brd-y g-brd-3 g-brd-cyan-gradient-opacity-v1 g-width-80 g-height-80 g-mb-30" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
                    <h4 class="h5 g-color-cyan-gradient-opacity-v1 g-font-weight-700 g-mb-0">Sara Olsson</h4>
                    <em class="d-block g-color-gray-dark-v4 g-font-style-normal g-font-size-13 g-mb-20">Customer</em>
                    <blockquote class="lead g-mb-0">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help with some fiddly setup issues.</blockquote>
                  </div>
                  <!-- End Testimonials -->
                </div>

                <div class="col-lg-4 g-mb-30">
                  <!-- Testimonials -->
                  <div class="u-shadow-v19 g-brd-bottom g-brd-3 g-brd-cyan-gradient-opacity-v1 g-bg-white text-center g-px-35 g-py-60">
                    <img class="g-brd-x g-brd-y g-brd-3 g-brd-cyan-gradient-opacity-v1 g-width-80 g-height-80 g-mb-30" src="{{ root }}assets/img-temp/100x100/img14.jpg" alt="Image Description">
                    <h4 class="h5 g-color-cyan-gradient-opacity-v1 g-font-weight-700 g-mb-0">James Peterson</h4>
                    <em class="d-block g-color-gray-dark-v4 g-font-style-normal g-font-size-13 g-mb-20">Customer</em>
                    <blockquote class="lead g-mb-0">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help with some fiddly setup issues.</blockquote>
                  </div>
                  <!-- End Testimonials -->
                </div>
              </div>
            </div>
          </div>

          {% set contentTarget = "#shortcode20" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- End Testimonials v20 -->

      <!-- Testimonials v21 -->
      <section class="container g-py-100">
        <div class="text-center g-mb-50">
          <h2 class="h4 g-mb-0">Testimonials
            <span class="g-color-primary g-ml-5">#21</span>
          </h2>
        </div>

        <div id="shortcode21">
          <div class="shortcode-html">
            <!-- Testimonials -->
            <div class="row align-items-stretch no-gutters g-bg-black text-center">
              <div class="col-lg-6 g-pa-60">
                <img class="g-width-70 g-height-70 g-brd-3 g-brd-style-solid g-brd-white rounded-circle g-mb-30" src="{{ root }}assets/img-temp/100x100/img6.jpg" alt="Image Description">
                <blockquote class="u-blockquote-v3 g-color-white g-font-size-22 g-mb-30">Everyone knows that debugging is twice as hard as writing a program in the first place. So if you're as clever as you can be when you write it, how will you ever debug it.</blockquote>
                <h4 class="h5 g-color-primary g-mb-0">Jimmy Howell</h4>
                <span class="d-block g-color-white-opacity-0_7">Director</span>
              </div>
              <div class="col-lg-6 g-bg-size-cover g-min-height-300" data-bg-img-src="{{ root }}assets/img-temp/900x900/img1.jpg"></div>
            </div>
            <!-- End Testimonials -->
          </div>
        </div>

        {% set contentTarget = "#shortcode21" %}
        {% set modalID = "#modalMarkup" %}
        {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
      </section>
      <!-- Testimonials v21 -->

      <hr class="g-brd-gray-light-v4 g-my-0">

      <!-- Testimonials v22 -->
      <section class="container g-py-100">
        <div class="text-center g-mb-50">
          <h2 class="h4 g-mb-0">Testimonials
            <span class="g-color-primary g-ml-5">#22</span>
          </h2>
        </div>

        <div id="shortcode22">
          <div class="shortcode-html">
            <!-- Testimonials -->
            <div class="row justify-content-center g-pt-100--md">
              <div class="col-md-6 col-lg-4">
                <div class="g-brd-around g-brd-5 g-brd-gray-light-v3 g-py-80 g-pl-50 g-pr-80">
                  <i class="d-block g-color-black-opacity-0_5 g-font-size-40 g-line-height-0_7 g-pos-rel g-top-15 g-mb-25">&#8220;</i>
                  <blockquote class="g-color-black-opacity-0_8 g-font-size-22 g-line-height-1_8 g-mb-40">Great theme maker. I wish they would
                    <em>create more themes</em>.
                  </blockquote>
                  <h4 class="g-color-black g-font-weight-700 g-font-size-13 text-uppercase g-mb-0">
                    <span class="d-inline-block g-width-40 g-height-2 g-bg-black-opacity-0_4 g-pos-rel g-top-minus-3 mr-2"></span>
                    Dan Watson
                  </h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 g-hidden-sm-down g-bg-size-cover g-min-height-300 g-pos-rel g-top-minus-70 g-ml-minus-50" data-bg-img-src="{{ root }}assets/img-temp/900x900/img2.jpg"></div>
            </div>
            <!-- End Testimonials -->
          </div>
        </div>

        {% set contentTarget = "#shortcode22" %}
        {% set modalID = "#modalMarkup" %}
        {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
      </section>
      <!-- Testimonials v22 -->

      <hr class="g-brd-gray-light-v4 g-my-0">

      <!-- Testimonials v23 -->
      <section class="g-py-50">
        <div class="text-center g-mb-50">
          <h2 class="h4 g-mb-0">Testimonials
            <span class="g-color-primary g-ml-5">#23</span>
          </h2>
        </div>

        <div id="shortcode23">
          <div class="shortcode-html">
            <div class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-black-opacity-0_5--after">
              <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background-image: url({{ root }}assets/img-temp/1920x800/img4.jpg);"></div>
              <div class="container g-bg-cover__inner g-py-100">
                <!-- Testimonials -->
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <div class="g-brd-x g-brd-y g-brd-3 g-brd-cyan-gradient-opacity-v1 g-color-white text-center g-z-index-1 g-pa-30">
                      <blockquote class="u-blockquote-v4 g-font-size-30 g-mb-30">If you can design one thing, you can design everything. Just believe it.</blockquote>
                      <h4 class="h5 g-color-cyan g-font-weight-700 text-uppercase g-mb-0">Kathy Reyes</h4>
                    </div>
                  </div>
                </div>
                <!-- End Testimonials -->
              </div>
            </div>
          </div>

          <div class="shortcode-styles">
            <!-- CSS Implementing Plugins -->
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
          </div>

          <div class="shortcode-scripts">
            <!-- JS Implementing Plugins -->
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
          </div>
        </div>

        {% set SCExtendedClasses = "container" %}
        {% set contentTarget = "#shortcode23" %}
        {% set modalID = "#modalMarkup" %}
        {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
      </section>
      <!-- End Testimonials v23 -->

      <hr class="g-brd-gray-light-v4 g-my-0">

      <!-- Testimonials v24 -->
      <section class="g-py-100">
        <div class="container">
          <div class="text-center g-mb-70">
            <h2 class="h4 g-mb-0">Testimonials
              <span class="g-color-primary g-ml-5">#24</span>
            </h2>
          </div>

          <div id="shortcode24">
            <div class="shortcode-html">
              <!-- Testimonials -->
              <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 g-hidden-sm-down g-bg-size-cover g-bg-pos-center g-min-height-300" data-bg-img-src="{{ root }}assets/img-temp/900x900/img1.jpg"></div>
                <div class="col-md-6 col-lg-4 g-py-40 g-px-20">
                  <div class="g-brd-around g-brd-6 g-brd-pink">
                    <div class="g-brd-around g-brd-4 g-brd-white g-bg-pink g-py-80 g-pl-50 g-pr-80 g-pos-rel g-z-index-1 g-ml-minus-50">
                      <i class="d-block g-color-white-opacity-0_9 g-font-size-40 g-line-height-0_7 g-pos-rel g-top-15 g-mb-25">&#8220;</i>
                      <blockquote class="g-color-white-opacity-0_9 g-font-size-22 g-line-height-1_8 g-mb-40">Great theme maker. I wish they would create more themes.</blockquote>
                      <h4 class="g-color-white g-font-weight-700 g-font-size-13 text-uppercase g-mb-0">
                        <span class="d-inline-block g-width-40 g-height-2 g-bg-white-opacity-0_8 g-pos-rel g-top-minus-3 mr-2"></span>
                        Dan Watson
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Testimonials -->
            </div>
          </div>

          {% set contentTarget = "#shortcode24" %}
          {% set modalID = "#modalMarkup" %}
          {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
        </div>
      </section>
      <!-- Testimonials v24 -->

      <!-- Testimonials v25 -->
      <section class="g-py-100">
        <div class="text-center g-mb-70">
          <h2 class="h4 g-mb-0">Testimonials
            <span class="g-color-primary g-ml-5">#25</span>
          </h2>
        </div>

        <div id="shortcode25">
          <div class="shortcode-html">
            <!-- Quote -->
            <div class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
              <div class="divimage dzsparallaxer--target w-100 g-bg-size-cover g-bg-img-hero g-bg-cover g-bg-black-opacity-0_6--after" style="height: 130%; background-image: url({{ root }}assets/img-temp/1920x1080/img50.jpg);"></div>

              <div class="container text-center g-bg-cover__inner g-py-100">
                <blockquote class="g-color-white g-font-size-30 g-font-size-40--md g-line-height-1_4 g-mb-50">
                  <span class="g-color-primary g-font-size-90 g-line-height-0_7 g-pos-rel g-top-30">&#8220;</span>
                  If you can design one thing you can design everything. Just believe it.
                  <span class="g-color-primary g-font-size-90 g-line-height-0_7 g-pos-rel g-top-30">&#8221;</span>
                </blockquote>
                <h4 class="g-color-white g-font-size-15 text-uppercase mb-1">
                  <span class="d-inline-block align-middle g-width-40 g-height-2 g-bg-primary mr-3"></span>
                  Hmlstream
                </h4>
              </div>
            </div>
            <!-- End Quote -->
          </div>

          <div class="shortcode-styles">
            <!-- CSS Implementing Plugins -->
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
            <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
          </div>

          <div class="shortcode-scripts">
            <!-- JS Implementing Plugins -->
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
            <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
          </div>
        </div>

        {% set contentTarget = "#shortcode25" %}
        {% set modalID = "#modalMarkup" %}
        {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
      </section>
      <!-- Testimonials v25 -->
    </section>

    {% include "html/assets/include/nunjucks/partials/blocks/cta/cta-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
  </main>

  {% include "html/assets/include/nunjucks/partials/blocks/modals/modal-markup.njk" %}

  {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

  <!-- JS Implementing Plugins -->
  <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  {% include "html/assets/include/nunjucks/partials/js/js-dzsparallaxer.njk" %}

  {% include "html/assets/include/nunjucks/partials/js/js-jquery-ui-core.njk" %}

  <!-- jQuery UI Helpers -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>

  <!-- jQuery UI Widgets -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>

  <!-- JS Unify -->
  <script src="{{ root }}assets/js/hs.core.js"></script>

  <script src="{{ root }}assets/js/components/hs.header.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
  <script src="{{ root }}assets/js/components/hs.header-side.js"></script>

  <script src="{{ root }}assets/js/components/hs.rating.js"></script>

  <script src="{{ root }}assets/js/components/hs.autocomplete-local-search.js"></script>
  <script src="{{ root }}assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.shortcode-filter.js"></script>

  <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

  {% include "html/assets/include/nunjucks/partials/js/js-show-code.njk" %}

  <!-- JS Custom -->
  <script src="{{ root }}assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');

      // initialization of rating
      $.HSCore.components.HSRating.init($('.js-rating'), {
        spacing: 4
      });
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
      $.HSCore.components.HSHeaderSide.init($('#sideNav'));

      // initialization of autocomplet
      $.HSCore.components.HSLocalSearchAutocomplete.init('#u-sidebar-navigation__search-autocomplete');

      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });
    });
  </script>
</body>
</html>
