{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "shortcodes" %}
{% set sidebarNavActive_1 = "shortcode-base-tags" %}
{% set title = "Tags" %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
{% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
{% include "html/assets/include/nunjucks/partials/core-css.njk" %}
{% include "html/assets/include/nunjucks/partials/core-icons.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-dzsparallaxer.njk" %}
<link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

{% include "html/assets/include/nunjucks/partials/css/css-showcode.njk" %}

{% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
</head>

<body class="u-body--header-side-push-left u-body--header-side-opened u-has-sidebar-navigation g-overflow-x-hidden">
  <main>
    {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/sidebars/sidebar-shortcode-nav.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/page-title/shortcode-page-title/shortcode-page-title-base.njk" %}

    <section>
      <!-- Simple Tags -->
      <section class="g-py-100">
        <div class="container">
          <!-- Heading -->
          <header class="g-mb-80">
            <div class="u-heading-v6-2 text-uppercase">
              <h2 class="h4 u-heading-v6__title g-font-weight-300">Simple Tags</h2>
            </div>
            <div class="g-pl-90">
              <p>Unify simple tags are built with global classes and It can be changed to any colros and sizes.</p>
            </div>
          </header>
          <!-- End Heading -->

          <!-- Simple Plain -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Simple plain</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode1">
                <div class="shortcode-html">
                  <!-- Simple Plain -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Web Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Economy</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Sport</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Marketing</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Books</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Elections</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Flickr</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Politics</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Education</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Web Hosting</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">Wrapbootstrap</a>
                    </li>
                  </ul>
                  <!-- End Simple Plain -->
                </div>
              </div>

              {% set contentTarget = "#shortcode1" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Simple Plain -->

          <hr class="g-brd-gray-light-v4 g-my-50">

          <!-- Simple Colored -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Simple colored</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode2">
                <div class="shortcode-html">
                  <!-- Simple Colored -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-green g-brd-around g-brd-green g-bg-green--hover g-color-white--hover g-py-4 g-px-10" href="#!">Web Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-black g-brd-around g-brd-black g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Marketing</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-red g-brd-around g-brd-red g-bg-red--hover g-color-white--hover g-py-4 g-px-10" href="#!">Economy</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-blue g-brd-around g-brd-blue g-bg-blue--hover g-color-white--hover g-py-4 g-px-10" href="#!">Sport</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-pink g-brd-around g-brd-pink g-bg-pink--hover g-color-white--hover g-py-4 g-px-10" href="#!">Books</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-purple g-brd-around g-brd-purple g-bg-purple--hover g-color-white--hover g-py-4 g-px-10" href="#!">Elections</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-orange g-brd-around g-brd-orange g-bg-orange--hover g-color-white--hover g-py-4 g-px-10" href="#!">Flickr</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-yellow g-bg-yellow--hover g-color-main--hover g-py-4 g-px-10" href="#!">Politics</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-cyan g-brd-around g-brd-cyan g-bg-cyan--hover g-color-white--hover g-py-4 g-px-10" href="#!">Education</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-bluegray g-brd-around g-brd-bluegray g-bg-bluegray--hover g-color-white--hover g-py-4 g-px-10" href="#!">Web Hosting</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-deeporange g-brd-around g-brd-deeporange g-bg-deeporange--hover g-color-white--hover g-py-4 g-px-10" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-teal g-brd-around g-brd-teal g-bg-teal--hover g-color-white--hover g-py-4 g-px-10" href="#!">Wrapbootstrap</a>
                    </li>
                  </ul>
                  <!-- End Simple Colored -->
                </div>
              </div>

              {% set contentTarget = "#shortcode2" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Simple Colored -->

          <hr class="g-brd-gray-light-v4 g-my-50">

          <!-- Background Gray Colored -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Background gray colored</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode3">
                <div class="shortcode-html">
                  <!-- Background Gray Colored -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Web Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Marketing</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Economy</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Sport</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Books</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Elections</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Flickr</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Politics</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Education</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Web Hosting</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Wrapbootstrap</a>
                    </li>
                  </ul>
                  <!-- End Background Gray Colored -->
                </div>
              </div>

              {% set contentTarget = "#shortcode3" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Background Light Colored -->

          <hr class="g-brd-gray-light-v4 g-my-50">

          <!-- Background Light Colored -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Background light colored</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode4">
                <div class="shortcode-html">
                  <!-- Background Light Colored -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-green g-brd-around g-brd-green g-bg-green-opacity-0_1 g-bg-green--hover g-color-white--hover g-py-4 g-px-10" href="#!">Web Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-black g-brd-around g-brd-black g-bg-black-opacity-0_1 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">Marketing</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-red g-brd-around g-brd-red g-bg-red-opacity-0_1 g-bg-red--hover g-color-white--hover g-py-4 g-px-10" href="#!">Economy</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-blue g-brd-around g-brd-blue g-bg-blue-opacity-0_1 g-bg-blue--hover g-color-white--hover g-py-4 g-px-10" href="#!">Sport</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-pink g-brd-around g-brd-pink g-bg-pink-opacity-0_1 g-bg-pink--hover g-color-white--hover g-py-4 g-px-10" href="#!">Books</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-purple g-brd-around g-brd-purple g-bg-purple-opacity-0_1 g-bg-purple--hover g-color-white--hover g-py-4 g-px-10" href="#!">Elections</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-orange g-brd-around g-brd-orange g-bg-orange-opacity-0_1 g-bg-orange--hover g-color-white--hover g-py-4 g-px-10" href="#!">Flickr</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-yellow g-bg-yellow-opacity-0_1 g-bg-yellow--hover g-color-main--hover g-py-4 g-px-10" href="#!">Politics</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-cyan g-brd-around g-brd-cyan g-bg-cyan-opacity-0_1 g-bg-cyan--hover g-color-white--hover g-py-4 g-px-10" href="#!">Education</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-bluegray g-brd-around g-brd-bluegray g-bg-bluegray-opacity-0_1 g-bg-bluegray--hover g-color-white--hover g-py-4 g-px-10" href="#!">Web Hosting</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-deeporange g-brd-around g-brd-deeporange g-bg-deeporange-opacity-0_1 g-bg-deeporange--hover g-color-white--hover g-py-4 g-px-10" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-teal g-brd-around g-brd-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-py-4 g-px-10" href="#!">Wrapbootstrap</a>
                    </li>
                  </ul>
                  <!-- End Background Light Colored -->
                </div>
              </div>

              {% set contentTarget = "#shortcode4" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Background Light Colored -->

          <hr class="g-brd-gray-light-v4 g-my-50">

          <!-- Background Plain Colored -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Background plain colored</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode5">
                <div class="shortcode-html">
                  <!-- Background Plain Colored -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-green g-bg-black--hover g-py-4 g-px-10" href="#!">Web Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-black g-bg-black--hover g-py-4 g-px-10" href="#!">Marketing</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-red g-bg-black--hover g-py-4 g-px-10" href="#!">Economy</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-blue g-bg-black--hover g-py-4 g-px-10" href="#!">Sport</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-pink g-bg-black--hover g-py-4 g-px-10" href="#!">Books</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-purple g-bg-black--hover g-py-4 g-px-10" href="#!">Elections</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-orange g-bg-black--hover g-py-4 g-px-10" href="#!">Flickr</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-yellow g-bg-black--hover g-py-4 g-px-10" href="#!">Politics</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-cyan g-bg-black--hover g-py-4 g-px-10" href="#!">Education</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-bluegray g-bg-black--hover g-py-4 g-px-10" href="#!">Web Hosting</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-deeporange g-bg-black--hover g-py-4 g-px-10" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-teal g-bg-black--hover g-py-4 g-px-10" href="#!">Wrapbootstrap</a>
                    </li>
                  </ul>
                  <!-- End Background Plain Colored -->
                </div>
              </div>

              {% set contentTarget = "#shortcode5" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Background Plain Colored -->
        </div>
      </section>
      <!-- End Simple Tags -->

      <hr class="g-brd-gray-light-v4 my-0">

      <!-- Rounded Simple Tags -->
      <section class="g-py-100">
        <div class="container">
          <!-- Heading -->
          <header class="g-mb-80">
            <div class="u-heading-v6-2 text-uppercase">
              <h2 class="h4 u-heading-v6__title g-font-weight-300">Rounded Simple Tags</h2>
            </div>
            <div class="g-pl-90">
              <p>Unify simple tags are built with global classes and It can be changed to any colros and sizes.</p>
            </div>
          </header>
          <!-- End Heading -->

          <!-- Simple Plain -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Simple plain</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode6">
                <div class="shortcode-html">
                  <!-- Simple Plain -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Web Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Economy</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Sport</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Marketing</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Books</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Elections</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Flickr</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Politics</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Education</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Web Hosting</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Wrapbootstrap</a>
                    </li>
                  </ul>
                  <!-- End Simple Plain -->
                </div>
              </div>

              {% set contentTarget = "#shortcode6" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Simple Plain -->

          <hr class="g-brd-gray-light-v4 g-my-50">

          <!-- Simple Colored -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Simple colored</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode7">
                <div class="shortcode-html">
                  <!-- Simple Colored -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-green g-brd-around g-brd-green g-bg-green--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Web Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-black g-brd-around g-brd-black g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Marketing</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-red g-brd-around g-brd-red g-bg-red--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Economy</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-blue g-brd-around g-brd-blue g-bg-blue--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Sport</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-pink g-brd-around g-brd-pink g-bg-pink--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Books</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-purple g-brd-around g-brd-purple g-bg-purple--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Elections</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-orange g-brd-around g-brd-orange g-bg-orange--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Flickr</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-yellow g-bg-yellow--hover g-color-main--hover g-rounded-50 g-py-4 g-px-15" href="#!">Politics</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-cyan g-brd-around g-brd-cyan g-bg-cyan--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Education</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-bluegray g-brd-around g-brd-bluegray g-bg-bluegray--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Web Hosting</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-deeporange g-brd-around g-brd-deeporange g-bg-deeporange--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-teal g-brd-around g-brd-teal g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Wrapbootstrap</a>
                    </li>
                  </ul>
                  <!-- End Simple Colored -->
                </div>
              </div>

              {% set contentTarget = "#shortcode7" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Simple Colored -->

          <hr class="g-brd-gray-light-v4 g-my-50">

          <!-- Background Gray Colored -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Background gray colored</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode8">
                <div class="shortcode-html">
                  <!-- Background Gray Colored -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Web Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Marketing</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Economy</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Sport</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Books</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Elections</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Flickr</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Politics</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Education</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Web Hosting</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Wrapbootstrap</a>
                    </li>
                  </ul>
                  <!-- End Background Gray Colored -->
                </div>
              </div>

              {% set contentTarget = "#shortcode8" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Background Light Colored -->

          <hr class="g-brd-gray-light-v4 g-my-50">

          <!-- Background Light Colored -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Background light colored</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode9">
                <div class="shortcode-html">
                  <!-- Background Light Colored -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-green g-brd-around g-brd-green g-bg-green-opacity-0_1 g-bg-green--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Web Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-black g-brd-around g-brd-black g-bg-black-opacity-0_1 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Marketing</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-red g-brd-around g-brd-red g-bg-red-opacity-0_1 g-bg-red--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Economy</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-blue g-brd-around g-brd-blue g-bg-blue-opacity-0_1 g-bg-blue--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Sport</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-pink g-brd-around g-brd-pink g-bg-pink-opacity-0_1 g-bg-pink--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Books</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-purple g-brd-around g-brd-purple g-bg-purple-opacity-0_1 g-bg-purple--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Elections</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-orange g-brd-around g-brd-orange g-bg-orange-opacity-0_1 g-bg-orange--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Flickr</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-yellow g-bg-yellow-opacity-0_1 g-bg-yellow--hover g-color-main--hover g-rounded-50 g-py-4 g-px-15" href="#!">Politics</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-cyan g-brd-around g-brd-cyan g-bg-cyan-opacity-0_1 g-bg-cyan--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Education</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-bluegray g-brd-around g-brd-bluegray g-bg-bluegray-opacity-0_1 g-bg-bluegray--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Web Hosting</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-deeporange g-brd-around g-brd-deeporange g-bg-deeporange-opacity-0_1 g-bg-deeporange--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-teal g-brd-around g-brd-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Wrapbootstrap</a>
                    </li>
                  </ul>
                  <!-- End Background Light Colored -->
                </div>
              </div>

              {% set contentTarget = "#shortcode9" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Background Light Colored -->

          <hr class="g-brd-gray-light-v4 g-my-50">

          <!-- Background Plain Colored -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Background plain colored</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode10">
                <div class="shortcode-html">
                  <!-- Background Plain Colored -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-green g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">Web Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-black g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">Marketing</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-red g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">Economy</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-blue g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">Sport</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-pink g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">Books</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-purple g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">Elections</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-orange g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">Flickr</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-yellow g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Politics</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-cyan g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">Education</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-bluegray g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">Web Hosting</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-deeporange g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-teal g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">Wrapbootstrap</a>
                    </li>
                  </ul>
                  <!-- End Background Plain Colored -->
                </div>
              </div>

              {% set contentTarget = "#shortcode10" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Background Plain Colored -->
        </div>
      </section>
      <!-- End Rounded Simple Tags -->

      <!-- Icon Tags -->
      <section class="g-py-100">
        <div class="container">
          <!-- Heading -->
          <header class="g-mb-80">
            <div class="u-heading-v6-2 text-uppercase">
              <h2 class="h4 u-heading-v6__title g-font-weight-300">Icon Tags</h2>
            </div>
            <div class="g-pl-90">
              <p>Unify simple tags are built with global classes and It can be changed to any colros and sizes.</p>
            </div>
          </header>
          <!-- End Heading -->

          <!-- Mixed Colors -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Mixed colors</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode11">
                <div class="shortcode-html">
                  <!-- Mixed Colors -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-py-4 g-px-10" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Web Design
                      </a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-pink g-brd-around g-brd-pink g-bg-pink--hover g-color-white--hover g-py-4 g-px-10" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Economy
                      </a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-py-4 g-px-10" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Sport
                      </a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-blue g-brd-around g-brd-blue g-bg-blue-opacity-0_1 g-bg-blue--hover g-color-white--hover g-py-4 g-px-10" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Marketing
                      </a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-darkpurple g-bg-black--hover g-py-4 g-px-10" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Books
                      </a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-black g-bg-primary--hover g-py-4 g-px-10" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Elections
                      </a>
                    </li>
                  </ul>
                  <!-- End Mixed Colors -->
                </div>
              </div>

              {% set contentTarget = "#shortcode11" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Mixed Colors -->

          <hr class="g-brd-gray-light-v4 g-my-50">

          <!-- Mixed Rounded Colors -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Mixed rounded colors</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode12">
                <div class="shortcode-html">
                  <!-- Mixed Rounded Colors -->
                  <ul class="u-list-inline">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Web Design
                      </a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-pink g-brd-around g-brd-pink g-bg-pink--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Economy
                      </a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-main g-bg-gray-light-v4 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Sport
                      </a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-blue g-brd-around g-brd-blue g-bg-blue-opacity-0_1 g-bg-blue--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Marketing
                      </a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-darkpurple g-bg-black--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Books
                      </a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-white g-bg-black g-bg-primary--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                        <i class="fa fa-tag mr-1"></i>
                        Elections
                      </a>
                    </li>
                  </ul>
                  <!-- End Mixed Rounded Colors -->
                </div>
              </div>

              {% set contentTarget = "#shortcode12" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Mixed Rounded Colors -->
        </div>
      </section>
      <!-- End Icon Tags -->

      <hr class="g-brd-gray-light-v4 my-0">

      <!-- Icon Tags -->
      <section class="g-py-100">
        <div class="container">
          <!-- Heading -->
          <header class="g-mb-80">
            <div class="u-heading-v6-2 text-uppercase">
              <h2 class="h4 u-heading-v6__title g-font-weight-300">Dark Background</h2>
            </div>
            <div class="g-pl-90">
              <p>Unify simple tags are built with global classes and It can be changed to any colros and sizes.</p>
            </div>
          </header>
          <!-- End Heading -->

          <!-- Light Colors -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Light colors</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode13">
                <div class="shortcode-html">
                  <!-- Light Colors -->
                  <div class="g-bg-gray-dark-v1 g-pa-30 g-mb-20">
                    <ul class="u-list-inline">
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-white g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          Web Design
                        </a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-white g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          Economy
                        </a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-white g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          IT
                        </a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-white g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          Marketing
                        </a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-white g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          Books
                        </a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-white g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          Education
                        </a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-white g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          Sport
                        </a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-white g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          Unify
                        </a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-white g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          Htmlstream
                        </a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-gray-light-v5 g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          Pixeels
                        </a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-gray-light-v5 g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          Politics
                        </a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 font-bold g-color-gray-light-v5 g-brd-around g-brd-gray-dark-v5 g-bg-primary--hover g-brd-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">
                          <i class="fa fa-tag mr-1"></i>
                          Arts
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- End Light Colors -->
                </div>
              </div>

              {% set contentTarget = "#shortcode13" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Light Colors -->

          <hr class="g-brd-gray-light-v4 g-my-50">

          <!-- Mixed Colors -->
          <div class="row">
            <div class="col-md-3">
              <h3 class="h4 g-font-weight-300">Mixed colors</h3>
            </div>

            <div class="col-md-9">
              <div id="shortcode14">
                <div class="shortcode-html">
                  <!-- Mixed Colors -->
                  <div class="g-bg-gray-dark-v1 g-pa-30 g-mb-20">
                    <ul class="u-list-inline">
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-green g-brd-around g-brd-green g-bg-green--hover g-color-white--hover g-py-4 g-px-10" href="#!">Web Design</a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-white g-brd-around g-brd-white g-bg-white--hover g-color-black--hover g-py-4 g-px-10" href="#!">Marketing</a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-red g-brd-around g-brd-red g-bg-red--hover g-color-white--hover g-py-4 g-px-10" href="#!">Economy</a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-blue g-brd-around g-brd-blue g-bg-blue--hover g-color-white--hover g-py-4 g-px-10" href="#!">Sport</a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-pink g-brd-around g-brd-pink g-bg-pink--hover g-color-white--hover g-py-4 g-px-10" href="#!">Books</a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-purple g-brd-around g-brd-purple g-bg-purple--hover g-color-white--hover g-py-4 g-px-10" href="#!">Elections</a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-aqua g-brd-around g-brd-aqua g-bg-aqua--hover g-color-white--hover g-py-4 g-px-10" href="#!">Web Hosting</a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-orange g-brd-around g-brd-orange g-bg-orange--hover g-color-white--hover g-py-4 g-px-10" href="#!">Flickr</a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-yellow g-brd-around g-brd-yellow g-bg-yellow--hover g-color-black--hover g-py-4 g-px-10" href="#!">Politics</a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-cyan g-brd-around g-brd-cyan g-bg-cyan--hover g-color-white--hover g-py-4 g-px-10" href="#!">Education</a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-deeporange g-brd-around g-brd-deeporange g-bg-deeporange--hover g-color-white--hover g-py-4 g-px-10" href="#!">Art</a>
                      </li>
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-teal g-brd-around g-brd-teal g-bg-teal--hover g-color-white--hover g-py-4 g-px-10" href="#!">Wrapbootstrap</a>
                      </li>
                    </ul>
                  </div>
                  <!-- End Mixed Colors -->
                </div>
              </div>

              {% set contentTarget = "#shortcode14" %}
              {% set modalID = "#modalMarkup" %}
              {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
            </div>
          </div>
          <!-- End Mixed Colors -->
        </div>
      </section>
      <!-- End Icon Tags -->
    </section>

    {% include "html/assets/include/nunjucks/partials/blocks/cta/cta-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
  </main>

  {% include "html/assets/include/nunjucks/partials/blocks/modals/modal-markup.njk" %}

  {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

  <!-- JS Implementing Plugins -->
  <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  {% include "html/assets/include/nunjucks/partials/js/js-dzsparallaxer.njk" %}

  {% include "html/assets/include/nunjucks/partials/js/js-jquery-ui-core.njk" %}

  <!-- jQuery UI Helpers -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>

  <!-- jQuery UI Widgets -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>

  <!-- JS Unify -->
  <script src="{{ root }}assets/js/hs.core.js"></script>

  <script src="{{ root }}assets/js/components/hs.header.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
  <script src="{{ root }}assets/js/components/hs.header-side.js"></script>

  <script src="{{ root }}assets/js/components/hs.autocomplete-local-search.js"></script>
  <script src="{{ root }}assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.shortcode-filter.js"></script>

  <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

  {% include "html/assets/include/nunjucks/partials/js/js-show-code.njk" %}

  <!-- JS Custom -->
  <script src="{{ root }}assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
      $.HSCore.components.HSHeaderSide.init($('#sideNav'));

      // initialization of autocomplet
      $.HSCore.components.HSLocalSearchAutocomplete.init('#u-sidebar-navigation__search-autocomplete');

      // initialization of HSMegaMenu plugin
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });
    });
  </script>
</body>
</html>
