<!-- Show Code -->
<div class="g-font-size-12 g-my-30 {{ SCExtendedClasses }}">
  <a class="js-modal-markup u-link-v5 {% if SCLinkColor %} {{ SCLinkColor }} {% else %} g-color-main {% endif %} g-color-primary--hover g-mr-15" href="#!"
     data-content-target="{{ contentTarget }}"
     data-modal-target="{{ modalID }}"
     data-modal-effect="fadein">
    <i class="fa fa-code"></i>
    Show code
  </a>
  <a class="js-copy u-link-v5 {% if SCLinkColor %} {{ SCLinkColor }} {% else %} g-color-main {% endif %} g-color-primary--hover" href="#!"
     data-content-target="{{ contentTarget }}"
     data-success-text="Copied">
    <i class="fa fa-clone"></i>
    Copy code
  </a>
</div>
<!-- End Show Code -->
