{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "home" %}
{% set mainNavActive_2 = "home-page-7" %}
{% set title = "Home Page 7 | " %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-css.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-icons.njk" %}
    <link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

    {% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
    {% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
  </head>

  <body class="g-overflow-x-hidden">
    <main>
      {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

      <!-- Promo Block -->
      <section class="g-bg-img-hero" style="background-image: url({{ root }}assets/img-temp/1920x1080/img13.jpg);">
        <div class="container g-pos-rel g-z-index-1 g-py-150">
          <div class="g-mb-40">
            <h1 class="g-color-white g-font-weight-700 g-font-size-80 g-font-size-130--md g-line-height-1_2 mb-0">projects</h1>
            <span class="d-block g-color-white g-font-size-20 g-pos-rel g-top-minus-20--md ml-md-5">our branding</span>
          </div>

          <div class="text-right">
            <a class="js-fancybox g-text-underline--none--hover mb-5" href="javascript:;"
               data-src="//www.youtube.com/embed/BNpiwOkKIJ8?autoplay=1"
               data-speed="350"
               data-caption="Our working process">
              <span class="align-middle u-icon-v3 g-bg-white g-color-black g-color-primary--hover g-rounded-50x mr-2">
                <i class="g-font-size-15 g-pos-rel g-left-2 fa fa-play"></i>
              </span>
              <span class="d-inline-block g-brd-bottom g-brd-white g-color-white g-font-weight-600 text-uppercase">Our working process</span>
            </a>
          </div>
        </div>
      </section>
      <!-- End Promo Block -->

      <!-- Gallery -->
      <section class="container-fluid g-px-0">
        <div class="row align-items-center no-gutters">
          <div class="col-md-6">
            <div class="text-center g-pa-15x">
              <div class="mb-5">
                <h3 class="h1 g-color-black mb-4">The Perfect Idea</h3>
                <p class="g-color-gray-dark-v4 g-font-size-16">Understanding who you are and what you want is our strategy for your brand. We are always figuring out ways to capture your vision, so people can get on board.</p>
              </div>
              <a class="btn u-btn-outline-primary g-font-weight-600 g-rounded-50 g-px-30 g-py-13" href="#!">See more
                <i class="ml-2 fa fa-long-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="g-flex-centered g-min-height-600 g-bg-secondary text-center">
              <div class="u-shadow-v19 g-bg-white g-pa-25">
                <img class="img-fluid u-shadow-v21" src="{{ root }}assets/img-temp/400x270/img15.jpg" alt="Image Description">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Gallery -->

      <!-- Gallery -->
      <section class="container-fluid g-px-0">
        <div class="row align-items-center no-gutters">
          <div class="col-md-6 order-md-2">
            <div class="text-center g-pa-15x">
              <div class="mb-5">
                <h3 class="h1 g-color-black mb-4">Goldrush</h3>
                <p class="g-color-gray-dark-v4 g-font-size-16">Understanding who you are and what you want is our strategy for your brand. We are always figuring out ways to capture your vision, so people can get on board.</p>
              </div>
              <a class="btn u-btn-outline-primary g-font-weight-600 g-rounded-50 g-px-30 g-py-13" href="#!">See more
                <i class="ml-2 fa fa-long-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-md-6 order-md-1">
            <div class="g-flex-centered g-min-height-600 g-bg-secondary text-center">
              <div class="u-shadow-v19 g-bg-white g-pa-25">
                <img class="img-fluid u-shadow-v21" src="{{ root }}assets/img-temp/400x270/img13.jpg" alt="Image Description">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Gallery -->

      <!-- Gallery -->
      <section class="container-fluid g-px-0">
        <div class="row align-items-center no-gutters">
          <div class="col-md-6">
            <div class="text-center g-pa-15x">
              <div class="mb-5">
                <h3 class="h1 g-color-black mb-4">The Illusion</h3>
                <p class="g-color-gray-dark-v4 g-font-size-16">Understanding who you are and what you want is our strategy for your brand. We are always figuring out ways to capture your vision, so people can get on board.</p>
              </div>
              <a class="btn u-btn-outline-primary g-font-weight-600 g-rounded-50 g-px-30 g-py-13" href="#!">See more
                <i class="ml-2 fa fa-long-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="g-flex-centered g-min-height-600 g-bg-secondary text-center">
              <div class="u-shadow-v19 g-bg-white g-pa-25">
                <img class="img-fluid u-shadow-v21" src="{{ root }}assets/img-temp/400x270/img16.jpg" alt="Image Description">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Gallery -->

      <!-- Cube Portfolio Blocks -->
      <div class="g-bg-secondary">
        <div class="container-fluid g-py-20">
          <div class="cbp"
               data-controls="#filterControls1"
               data-animation="quicksand"
               data-x-gap="20"
               data-y-gap="20"
               data-media-queries='[{"width": 1500, "cols": 5}, {"width": 1100, "cols": 5}, {"width": 800, "cols": 3}, {"width": 480, "cols": 2}, {"width": 300, "cols": 1}]'>
            <!-- Cube Portfolio Blocks - Item -->
            <div class="cbp-item identity design">
              <div class="u-block-hover">
                <div class="g-bg-cover g-bg-bluegray-gradient-opacity-v2--after">
                  <img class="img-fluid u-block-hover__main--mover-down" src="{{ root }}assets/img-temp/500x650/img3.jpg" alt="Image description">
                </div>
                <div class="d-flex w-100 h-100 g-pos-abs g-top-0 g-left-0">
                  <div class="u-block-hover__additional--partially-slide-up g-transition-0_5 g-pa-20">
                    <div class="d-flex flex-column mt-auto">
                      <h3 class="h4 g-color-white mb-0">Apple Products</h3>
                      <p class="g-color-white-opacity-0_8 mb-0">Mock-up</p>
                    </div>
                  </div>
                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
            </div>
            <!-- End Cube Portfolio Blocks - Item -->

            <!-- Cube Portfolio Blocks - Item -->
            <div class="cbp-item design">
              <div class="u-block-hover">
                <div class="g-bg-cover g-bg-bluegray-gradient-opacity-v2--after">
                  <img class="img-fluid u-block-hover__main--mover-down" src="{{ root }}assets/img-temp/500x650/img2.jpg" alt="Image description">
                </div>
                <div class="d-flex w-100 h-100 g-pos-abs g-top-0 g-left-0">
                  <div class="u-block-hover__additional--partially-slide-up g-transition-0_5 g-pa-20">
                    <div class="d-flex flex-column mt-auto">
                      <h3 class="h4 g-color-white mb-0">House Interior</h3>
                      <p class="g-color-white-opacity-0_8 mb-0">Design, Interior</p>
                    </div>
                  </div>
                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
            </div>
            <!-- End Cube Portfolio Blocks - Item -->

            <!-- Cube Portfolio Blocks - Item -->
            <div class="cbp-item graphic identity">
              <div class="u-block-hover">
                <div class="g-bg-cover g-bg-bluegray-gradient-opacity-v2--after">
                  <img class="img-fluid u-block-hover__main--mover-down" src="{{ root }}assets/img-temp/500x650/img1.jpg" alt="Image description">
                </div>
                <div class="d-flex w-100 h-100 g-pos-abs g-top-0 g-left-0">
                  <div class="u-block-hover__additional--partially-slide-up g-transition-0_5 g-pa-20">
                    <div class="d-flex flex-column mt-auto">
                      <h3 class="h4 g-color-white mb-0">The Art of a Woman</h3>
                      <p class="g-color-white-opacity-0_8 mb-0">Art, Photography</p>
                    </div>
                  </div>
                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
            </div>
            <!-- End Cube Portfolio Blocks - Item -->

            <!-- Cube Portfolio Blocks - Item -->
            <div class="cbp-item graphic">
              <div class="u-block-hover">
                <div class="g-bg-cover g-bg-bluegray-gradient-opacity-v2--after">
                  <img class="img-fluid u-block-hover__main--mover-down" src="{{ root }}assets/img-temp/500x650/img4.jpg" alt="Image description">
                </div>
                <div class="d-flex w-100 h-100 g-pos-abs g-top-0 g-left-0">
                  <div class="u-block-hover__additional--partially-slide-up g-transition-0_5 g-pa-20">
                    <div class="d-flex flex-column mt-auto">
                      <h3 class="h4 g-color-white mb-0">Modern Architecture</h3>
                      <p class="g-color-white-opacity-0_8 mb-0">Architecture</p>
                    </div>
                  </div>
                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
            </div>
            <!-- End Cube Portfolio Blocks - Item -->

            <!-- Cube Portfolio Blocks - Item -->
            <div class="cbp-item identity">
              <div class="u-block-hover">
                <div class="g-bg-cover g-bg-bluegray-gradient-opacity-v2--after">
                  <img class="img-fluid u-block-hover__main--mover-down" src="{{ root }}assets/img-temp/500x650/img5.jpg" alt="Image description">
                </div>
                <div class="d-flex w-100 h-100 g-pos-abs g-top-0 g-left-0">
                  <div class="u-block-hover__additional--partially-slide-up g-transition-0_5 g-pa-20">
                    <div class="d-flex flex-column mt-auto">
                      <h3 class="h4 g-color-white mb-0">Stylish Bottles</h3>
                      <p class="g-color-white-opacity-0_8 mb-0">Photography</p>
                    </div>
                  </div>
                  <a class="u-link-v2" href="#!"></a>
                </div>
              </div>
            </div>
            <!-- End Cube Portfolio Blocks - Item -->
          </div>
        </div>
      </div>
      <!-- End Cube Portfolio Blocks -->

      <!-- Footer -->
      <footer class="g-bg-bluegray">
        <div class="container g-pt-100 g-pb-60">
          <!-- Social Icons -->
          <ul class="list-inline text-center g-mb-80">
            <li class="list-inline-item mx-sm-2">
              <a class="u-icon-v2 u-icon-slide-up--hover g-brd-white g-color-white g-color-primary--hover g-bg-white--hover rounded-circle" href="#!">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item mx-sm-2">
              <a class="u-icon-v2 u-icon-slide-up--hover g-brd-white g-color-white g-color-primary--hover g-bg-white--hover rounded-circle" href="#!">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item mx-sm-2">
              <a class="u-icon-v2 u-icon-slide-up--hover g-brd-white g-color-white g-color-primary--hover g-bg-white--hover rounded-circle" href="#!">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item mx-sm-2">
              <a class="u-icon-v2 u-icon-slide-up--hover g-brd-white g-color-white g-color-primary--hover g-bg-white--hover rounded-circle" href="#!">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!-- End Social Icons -->

          <div class="row justify-content-start g-mb-50 g-mb-70--md">
            <div class="col-md-4 col-lg-3 g-mb-30">
              <h2 class="h3 g-color-white g-font-weight-600 g-mb-15">Contacts</h2>

              <!-- Links -->
              <ul class="list-unstyled">
                <li class="media mb-4">
                  <i class="d-flex g-color-white-opacity-0_7 mt-1 mr-3 icon-hotel-restaurant-235 u-line-icon-pro"></i>
                  <div class="media-body g-color-white-opacity-0_9">
                    Unit 25 Suite 3, 925 Prospect<br>PI New York Avenue
                  </div>
                </li>
                <li class="media mb-4">
                  <i class="d-flex g-color-white-opacity-0_7 mt-1 mr-3 icon-communication-062 u-line-icon-pro"></i>
                  <div class="media-body g-color-white-opacity-0_9">
                    htmlstream@support.com
                  </div>
                </li>
                <li class="media mb-4">
                  <i class="d-flex g-color-white-opacity-0_7 mt-1 mr-3 icon-communication-033 u-line-icon-pro"></i>
                  <div class="media-body g-color-white-opacity-0_9">
                    +32 333 444 555
                  </div>
                </li>
              </ul>
              <!-- End Links -->
            </div>

            <div class="col-md-3 g-mb-30">
              <!-- Links -->
              <ul class="list-unstyled">
                <li class="my-3">
                  <a class="d-inline-block g-color-white-opacity-0_9 g-color-primary--hover rounded g-text-underline--none--hover g-transition-0_5 g-pl-7--hover" href="#!">About</a>
                </li>
                <li class="my-3">
                  <a class="d-inline-block g-color-white-opacity-0_9 g-color-primary--hover rounded g-text-underline--none--hover g-transition-0_5 g-pl-7--hover" href="#!">Services</a>
                </li>
                <li class="my-3">
                  <a class="d-inline-block g-color-white-opacity-0_9 g-color-primary--hover rounded g-text-underline--none--hover g-transition-0_5 g-pl-7--hover" href="#!">Hire Unify</a>
                </li>
                <li class="my-3">
                  <a class="d-inline-block g-color-white-opacity-0_9 g-color-primary--hover rounded g-text-underline--none--hover g-transition-0_5 g-pl-7--hover" href="#!">Support &amp; amp; FAQ</a>
                </li>
                <li class="my-3">
                  <a class="d-inline-block g-color-white-opacity-0_9 g-color-primary--hover rounded g-text-underline--none--hover g-transition-0_5 g-pl-7--hover" href="#!">Privacy Policy</a>
                </li>
              </ul>
              <!-- End Links -->
            </div>

            <div class="col-md-5 col-lg-4 ml-auto g-mb-30">
              <div class="g-mb-25">
                <h2 class="h3 g-color-white g-font-weight-600">Newsletter</h2>
                <p class="g-color-white-opacity-0_7">Do not miss out the latest news, deals and promotions.</p>
              </div>

              <!-- Subscribe Input -->
              <div class="input-group u-shadow-v19 g-rounded-50">
                <input class="form-control g-color-gray-dark-v4 g-placeholder-gray-dark-v3 border-0 g-rounded-left-50 g-px-20" type="email" placeholder="Enter email" aria-label="Enter email">
                <div class="input-group-append g-bg-white border-0 g-rounded-right-50">
                  <button class="btn u-btn-primary g-width-40 g-height-40 rounded-circle" type="submit">
                    <i class="fa fa-send"></i>
                  </button>
                </div>
              </div>
              <!-- End Subscribe Input -->
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-md-6 g-mb-10">
              <p class="g-color-white-opacity-0_7 g-font-size-13">Any references to associated images, mockups or logos are for demonstration purposes only and is not intended to refer to any actual organization or event.</p>
            </div>

            <div class="col-md-6 text-md-right g-mb-10">
              <p class="g-color-white-opacity-0_7 g-font-size-13">Website designed by
                <a class="u-link-v5 g-brd-bottom g-brd-white g-color-white g-color-primary--hover" href="#!">Htmlstream</a>
              </p>
            </div>
          </div>

          <p class="g-color-white-opacity-0_7 g-font-size-13">2018 &copy; Htmlstream. All Rights Reserved.</p>
        </div>
      </footer>
      <!-- End Footer -->

      {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
    </main>

    {% include "html/assets/include/nunjucks/partials/blocks/helpers/outer-spaces-helper.njk" %}

    {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

    <!-- JS Implementing Plugins -->
    <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="{{ root }}assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="{{ root }}assets/vendor/gmaps/gmaps.min.js"></script>
    <script src="{{ root }}assets/vendor/fancybox/jquery.fancybox.min.js"></script>

    <!-- JS Unify -->
    <script src="{{ root }}assets/js/hs.core.js"></script>
    <script src="{{ root }}assets/js/components/hs.header.js"></script>
    <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
    <script src="{{ root }}assets/js/components/hs.tabs.js"></script>
    <script src="{{ root }}assets/js/components/hs.cubeportfolio.js"></script>
    <script src="{{ root }}assets/js/components/hs.popup.js"></script>
    <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="{{ root }}assets/js/custom.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of cubeportfolio
        $.HSCore.components.HSCubeportfolio.init('.cbp');
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
    </script>

    {% set SSCookiePrefix = "unify" %}
    {% set SSDefaultCustomColor = "#72c02c" %}
    {% set SSDefaultOuterSpaces = "0px" %}
    {% set SSDefaultContentFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% set SSDefaultHeadingFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% include "html/assets/include/nunjucks/partials/blocks/style-switcher.njk" %}
  </body>
</html>
