{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "home" %}
{% set mainNavActive_2 = "home-page-2" %}
{% set title = "Home Page 2 | " %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-css.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-icons.njk" %}
    {% include "html/assets/include/nunjucks/partials/css/css-dzsparallaxer.njk" %}
    <link rel="stylesheet" href="{{ root }}assets/vendor/hs-bg-video/hs-bg-video.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

    {% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
    {% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
  </head>

  <body>
    <main>
      {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

      <!-- Promo Block -->
      <section class="container g-pt-50">
        <div class="u-shadow-v24 g-bg-white rounded g-pa-20">
          <div class="g-bg-cover g-bg-img-hero g-bg-black-opacity-0_1--after g-px-20 g-py-200" style="background-image: url({{ root }}assets/img-temp/1500x1000/img1.jpg);">
            <div class="text-center g-pos-rel g-z-index-1">
              <span class="d-block g-color-white g-font-size-20 text-uppercase g-letter-spacing-5 g-mb-50">Hello! We are Unify.</span>
              <h1 class="d-inline-block g-brd-around g-brd-2 g-brd-white g-color-white g-font-weight-700 g-font-size-20 g-font-size-50--md text-uppercase g-line-height-1_2 g-letter-spacing-5 g-py-12 g-px-20 g-mb-50">Creative Studio</h1>
              <p class="g-color-white g-font-size-20 text-uppercase g-letter-spacing-5 mb-0">Jacks of All. Experts in All.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Promo Block -->

      <!-- Icon Blocks -->
      <section class="g-brd-bottom g-brd-gray-light-v4">
        <div class="container g-py-100">
          <h2 class="g-color-black g-font-weight-600 text-center g-mb-60">The Benefits of Unify</h2>

          <!-- Icon Blocks -->
          <div class="row no-gutters g-mb-50">
            <div class="col-sm-6 col-lg-3">
              <!-- Icon Blocks -->
              <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">01</span>
                <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                  <i class="icon-education-087 u-line-icon-pro"></i>
                </span>
                <h3 class="h5 g-color-black g-font-weight-600 mb-3">Creative</h3>
                <p class="g-color-gray-dark-v4">This is where we sit down, grab a cup of coffee and dial in the details.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3">
              <!-- Icon Blocks -->
              <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50  g-ml-minus-1">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">02</span>
                <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                  <i class="icon-education-035 u-line-icon-pro"></i>
                </span>
                <h3 class="h5 g-color-black g-font-weight-600 mb-3">Features</h3>
                <p class="g-color-gray-dark-v4">This is where we sit down, grab a cup of coffee and dial in the details.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3">
              <!-- Icon Blocks -->
              <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50  g-ml-minus-1">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">03</span>
                <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                  <i class="icon-education-141 u-line-icon-pro"></i>
                </span>
                <h3 class="h5 g-color-black g-font-weight-600 mb-3">Responsive</h3>
                <p class="g-color-gray-dark-v4">This is where we sit down, grab a cup of coffee and dial in the details.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-lg-3">
              <!-- Icon Blocks -->
              <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v4 g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50  g-ml-minus-1">
                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">04</span>
                <span class="u-icon-v3 u-shadow-v24 g-bg-white g-color-primary rounded-circle mb-4">
                  <i class="icon-finance-256 u-line-icon-pro"></i>
                </span>
                <h3 class="h5 g-color-black g-font-weight-600 mb-3">Code</h3>
                <p class="g-color-gray-dark-v4">This is where we sit down, grab a cup of coffee and dial in the details.</p>
              </div>
              <!-- End Icon Blocks -->
            </div>
          </div>
          <!-- End Icon Blocks -->

          <div class="text-center">
            <a class="btn u-btn-primary g-rounded-50 g-pl-25 g-pr-20 g-py-12 g-px-25" href="#!">
              <span class="g-pos-rel g-top-2">Features</span>
              <span class="align-middle u-icon-v3 g-width-20 g-height-20 g-color-black g-bg-white g-font-size-12 rounded-circle g-ml-30">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </section>
      <!-- End Icon Blocks -->

      <!-- What People Say -->
      <section class="container g-pt-100 g-pb-40">
        <div class="row justify-content-between">
          <div class="col-lg-5 flex-lg-unordered g-mt-50--lg g-mb-60">
            <div class="mb-2">
              <div class="d-inline-block g-width-20 g-height-2 g-pos-rel g-top-minus-4 g-bg-primary mr-2"></div>
              <span class="g-color-gray-dark-v3 g-font-weight-600 g-font-size-12 text-uppercase">About</span>
            </div>
            <h2 class="h1 g-color-black g-font-weight-600 g-mb-35">
              <span class="g-color-primary">How</span> to<br>Design with <span class="g-color-primary">Unify</span></h2>
            <p class="g-font-size-17">The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
            <p class="g-font-size-17 mb-4">Now that your brand is all dressed up and ready to party, it's time to release it to the world. By the way, let's celebrate already.</p>

            <a class="g-font-weight-600" href="#!">
              Read More
              <span class="align-middle u-icon-v3 g-pos-rel g-top-minus-2 g-width-20 g-height-20 g-color-white g-bg-primary g-font-size-12 rounded-circle ml-3">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>

          <div class="col-lg-6 flex-lg-first g-mb-60">
            <div class="masonry-grid row g-mx-minus-5">
              <div class="masonry-grid-sizer col-sm-1"></div>

              <div class="masonry-grid-item col-sm-5 g-px-5 g-mb-10">
                <img class="img-fluid w-100" src="{{ root }}assets/img-temp/492x780/img1.jpg" alt="Image description">
              </div>

              <div class="masonry-grid-item col-sm-7 g-px-5 g-mb-10">
                <img class="img-fluid w-100" src="{{ root }}assets/img-temp/700x350/img1.jpg" alt="Image description">
              </div>

              <div class="masonry-grid-item col-sm-3 g-px-5 g-mb-10">
                <img class="img-fluid w-100" src="{{ root }}assets/img-temp/350x500/img1.jpg" alt="Image description">
              </div>

              <div class="masonry-grid-item col-sm-4 g-px-5 g-mb-10">
                <img class="img-fluid w-100" src="{{ root }}assets/img-temp/475x500/img1.jpg" alt="Image description">
              </div>

              <div class="masonry-grid-item col-sm-8 g-px-5 g-mb-10">
                <img class="img-fluid w-100" src="{{ root }}assets/img-temp/700x350/img2.jpg" alt="Image description">
              </div>

              <div class="masonry-grid-item col-sm-4 g-px-5 g-mb-10">
                <img class="img-fluid w-100" src="{{ root }}assets/img-temp/490x500/img1.jpg" alt="Image description">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End What People Say -->

      <!-- Video Block -->
      <section class="container">
        <div class="u-shadow-v24 g-bg-white rounded g-pa-20">
          <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-bg-cover g-bg-black-opacity-0_6--after" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
            <!-- Promo Block - Parallax Video -->
            <div class="dzsparallaxer--target" style="width: 100%; height: 200%;" data-forcewidth_ratio="1.77">
              <div class="js-bg-video g-abs w-100 h-100"
                   data-hs-bgv-type="vimeo"
                   data-hs-bgv-id="167434033"
                   data-hs-bgv-loop="1"></div>
            </div>
            <!-- End Promo Block - Parallax Video -->

            <div class="row text-center g-min-height-450 g-flex-centered g-pos-rel g-z-index-1">
              <div class="col-sm-8 px-5 px-sm-0">
                <span class="d-block g-color-white-opacity-0_8 g-font-weight-600 text-uppercase mb-2">Intro</span>
                <h2 class="h1 g-color-white g-font-weight-600 mb-0">This Week's Featured Video</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Video Block -->

      <!-- Testimonials -->
      <section class="container g-py-100 g-pb-70">
        <div class="row justify-content-between">
          <div class="col-lg-5 g-mb-30">
            <div class="mb-2">
              <div class="d-inline-block g-width-20 g-height-2 g-pos-rel g-top-minus-4 g-bg-primary mr-2"></div>

              <span class="g-color-gray-dark-v3 g-font-weight-600 g-font-size-12 text-uppercase">Testimonials</span>
            </div>

            <h2 class="h1 g-color-black g-font-weight-600 g-mb-35">
              <span class="g-color-primary">What</span> People<br>Say about <span class="g-color-primary">Unify</span>
            </h2>

            <!-- Carousel -->
            <div id="carouselCus1" class="js-carousel js-carousel_single-item-thumbs5__slides g-pb-35"
                 data-infinite="true"
                 data-fade="true"
                 data-animation="linear"
                 data-pagi-classes="u-carousel-indicators-v1 g-bottom-0">
              <div class="js-slide">
                <p class="g-font-style-italic g-font-size-17 mb-4">Dear Htmlstream team, I just bought the Unify template some weeks ago. The template is really nice and offers quite a large set of options.</p>

                <div class="media">
                  <img class="d-flex align-self-center g-brd-around g-brd-3 g-brd-white g-width-50 g-height-50 rounded-circle mr-3" src="{{ root }}assets/img-temp/100x100/img4.jpg" alt="Image description">

                  <div class="media-body align-self-center">
                    <h4 class="g-color-black g-font-weight-600 g-font-size-13 text-uppercase g-mb-0">Daniel Ramirez</h4>
                    <span class="d-block g-color-gray-dark-v4 g-font-size-12">Lead Designer, Google Inc.</span>
                  </div>
                </div>
              </div>

              <div class="js-slide">
                <p class="g-font-style-italic g-font-size-17 mb-4">Hi there purchased a couple of days ago and the site looks great, big thanks to the htmlstream guys, they gave me some great help with some fiddly setup issues.</p>

                <div class="media">
                  <img class="d-flex align-self-center g-brd-around g-brd-3 g-brd-white g-width-50 g-height-50 rounded-circle mr-3" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image description">

                  <div class="media-body align-self-center">
                    <h4 class="g-color-black g-font-weight-600 g-font-size-13 text-uppercase g-mb-0">Sara Anderson</h4>
                    <span class="d-block g-color-gray-dark-v4 g-font-size-12">Developer, Microsoft Inc.</span>
                  </div>
                </div>
              </div>

              <div class="js-slide">
                <p class="g-font-style-italic g-font-size-17 mb-4">I'm very impressed with the theme and customer support! Thanks</p>

                <div class="media">
                  <img class="d-flex align-self-center g-brd-around g-brd-3 g-brd-white g-width-50 g-height-50 rounded-circle mr-3" src="{{ root }}assets/img-temp/100x100/img7.jpg" alt="Image description">

                  <div class="media-body align-self-center">
                    <h4 class="g-color-black g-font-weight-600 g-font-size-13 text-uppercase g-mb-0">Alisa Gomez</h4>
                    <span class="d-block g-color-gray-dark-v4 g-font-size-12">HR, Airbnb Inc.</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Carousel -->
          </div>

          <div class="col-lg-6 g-mt-50 g-mb-30">
            <!-- Article -->
            <article class="u-shadow-v24 u-shadow-v21--hover g-pos-rel g-bg-white g-transition-0_3 g-pa-10 rounded">
              <img class="img-fluid w-100" src="{{ root }}assets/img-temp/500x320/img1.jpg" alt="Image description">
              <div class="g-absolute-centered g-px-50 g-py-200">
                <a class="js-fancybox d-inline-block" href="javascript:;"
                   data-src="//www.youtube.com/embed/BNpiwOkKIJ8?autoplay=1"
                   data-speed="350"
                   data-caption="Single Image">
                    <span class="u-icon-v3 g-bg-primary g-color-white g-bg-black--hover g-rounded-50x g-cursor-pointer">
                      <i class="g-font-size-17 g-pos-rel g-left-2 fa fa-play"></i>
                    </span>
                </a>
              </div>
            </article>
            <!-- End Article -->
          </div>
        </div>
      </section>
      <!-- End Testimonials -->

      <!-- Pricing Blocks -->
      <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-pos-rel g-overflow-hidden" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <div class="divimage dzsparallaxer--target w-100" style="height: 110%; background-image: url({{ root }}assets/img-temp/1920x1080/img36.jpg);"></div>

        <div class="g-pos-abs g-top-0 g-left-0"
             data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}px,0)", initial:"-70", mid:"0", final:"70"}]'
             data-animation="fadeInDown"
             data-animation-duration="1500">
          <img class="img-fluid" src="{{ root }}assets/img-temp/1920x1080/img15.png" alt="Image description">
        </div>
        <div class="g-pos-abs g-bottom-minus-70 g-right-0"
             data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}px,0)", initial:"70", mid:"0", final:"-70"}]'
             data-animation="fadeInUp"
             data-animation-duration="1500">
          <img class="img-fluid" src="{{ root }}assets/img-temp/1920x1080/img16.png" alt="Image description">
        </div>

        <div class="container g-z-index-1 g-pt-150 g-pb-120">
          <div class="text-center g-mb-50">
            <span class="g-color-black-opacity-0_8 g-font-weight-600 g-font-size-default text-uppercase mb-2">Plan</span>
            <h2 class="h1 g-color-black g-font-weight-600">Finding Your Perfect Plan</h2>
            <p class="lead g-color-black-opacity-0_8">Now that we've aligned the details, it's time to get things mapped out and organized.</p>
          </div>

          <div class="row align-items-center">
            <div class="col-md-4 g-mb-30">
              <!-- Article -->
              <article class="u-shadow-v21 text-center g-bg-white rounded g-px-20 g-py-80">
                <!-- Article Header -->
                <header class="g-mb-10">
                  <h4 class="h6 g-color-black g-font-weight-700 text-uppercase mb-0">Starter</h4>
                  <span class="g-color-black g-font-weight-700 g-font-size-20">$</span>
                  <span class="g-color-black g-font-weight-600 g-font-size-50">22</span>
                  <span class="g-color-gray-dark-v4 g-font-size-17">/ mnt</span>
                </header>
                <!-- End Article Header -->

                <!-- Article Content -->
                <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30">
                  <li class="my-2"><strong class="g-color-black">2</strong> Changes</li>
                  <li class="my-2"><strong class="g-color-black">22</strong> Reviews</li>
                  <li class="my-2"><strong class="g-color-black">12/5</strong> Support</li>
                </ul>

                <a class="btn u-btn-outline-black g-rounded-50 g-py-12 g-px-30" href="#!">Book now</a>
                <!-- End Article Content -->
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-4 g-mb-30">
              <!-- Article -->
              <article class="u-shadow-v21 text-center g-bg-white rounded g-px-20 g-pt-70 g-pb-100">
                <!-- Article Header -->
                <header class="g-mb-10">
                  <span class="d-block g-color-primary g-font-size-20 mb-4"><i class="fa fa-star-o"></i></span>
                  <h4 class="h6 g-color-black g-font-weight-700 text-uppercase mb-0">Professional</h4>
                  <span class="g-color-black g-font-weight-700 g-font-size-20">$</span>
                  <span class="g-color-black g-font-weight-600 g-font-size-50">33</span>
                  <span class="g-color-gray-dark-v4 g-font-size-17">/ mnt</span>
                </header>
                <!-- End Article Header -->

                <!-- Article Content -->
                <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30">
                  <li class="my-2"><strong class="g-color-black">5</strong> Changes</li>
                  <li class="my-2"><strong class="g-color-black">33</strong> Reviews</li>
                  <li class="my-2"><strong class="g-color-black">12/7</strong> Support</li>
                </ul>

                <a class="btn u-btn-primary g-rounded-50 g-py-12 g-px-30" href="#!">Book now</a>
                <!-- End Article Content -->
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-4 g-mb-30">
              <!-- Article -->
              <article class="u-shadow-v21 text-center g-bg-white rounded g-px-20 g-py-80">
                <!-- Article Header -->
                <header class="g-mb-10">
                  <h4 class="h6 g-color-black g-font-weight-700 text-uppercase mb-0">Business</h4>
                  <span class="g-color-black g-font-weight-700 g-font-size-20">$</span>
                  <span class="g-color-black g-font-weight-600 g-font-size-50">55</span>
                  <span class="g-color-gray-dark-v4 g-font-size-17">/ mnt</span>
                </header>
                <!-- End Article Header -->

                <!-- Article Content -->
                <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30">
                  <li class="my-2"><strong class="g-color-black">Unlimited</strong> Changes</li>
                  <li class="my-2"><strong class="g-color-black">Unlimited</strong> Reviews</li>
                  <li class="my-2"><strong class="g-color-black">24/7</strong> Support</li>
                </ul>

                <a class="btn u-btn-outline-black g-rounded-50 g-py-12 g-px-30" href="#!">Book now</a>
                <!-- End Article Content -->
              </article>
              <!-- End Article -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Pricing Blocks -->

      <!-- Contacts -->
      <section class="g-brd-bottom g-brd-gray-light-v4">
        <div class="container g-pt-100 g-pb-40">
          <div class="row justify-content-between no-gutters">
            <div class="col-lg-6 g-mb-60">
              <div class="mb-5">
                <h2 class="h1 g-color-black g-font-weight-600 g-line-height-1_2 g-mb-35">Contact<br><span class="g-color-primary">Htmlstream</span>
                </h2>
                <p class="lead mb-0">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
              </div>

              <!-- Google Map -->
              <div class="u-shadow-v24 g-bg-white g-pa-10 mb-5">
                <div id="GMapCustomized-light" class="js-g-map embed-responsive embed-responsive-21by9 g-height-300"
                     data-type="custom"
                     data-lat="40.674"
                     data-lng="-73.946"
                     data-zoom="12"
                     data-title="Agency"
                     data-styles='[["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]], ["", "labels", [{"visibility":"on"}]], ["water", "", [{"color":"#bac6cb"}]] ]'
                     data-pin="true"
                     data-pin-icon="{{ root }}assets/img/icons/pin/green.png">
                </div>
              </div>
              <!-- End Google Map -->

              <div class="media">
                <h3 class="d-flex g-color-black g-font-weight-600 g-font-size-default mr-4">Office hours:</h3>
                <div class="media-body">
                  <p class="g-color-gray-dark-v4 g-font-size-12 mb-1">Monday - Friday: 09:00 AM - 06:00 PM</p>
                  <p class="g-color-gray-dark-v4 g-font-size-12 mb-1">Closed on Sunday &amp; Holidays</p>
                </div>
              </div>
            </div>

            <div class="col-lg-5 d-flex align-items-end g-min-height-600 g-bg-cover g-bg-size-cover g-bg-white-gradient-opacity-v2--after g-mb-60" data-bg-img-src="{{ root }}assets/img-temp/600x700/img1.jpg">
              <div class="w-100 text-center g-pos-rel g-z-index-1 g-pa-20 g-pa-50--sm mt-auto">
                <div class="g-mb-30">
                  <h2 class="g-color-white g-font-weight-600">Berlin, <span class="g-color-primary">Germany</span></h2>
                  <p class="g-color-white-opacity-0_8">Unit 25 Suite 3, 925 Prospect PI,<br>Beach Resort, 23001</p>
                </div>

                <div class="g-mb-30">
                  <h3 class="g-color-primary g-font-weight-600 g-font-size-12 text-uppercase">Phone number</h3>
                  <span class="g-color-white g-font-size-20">+01 (0) 333 444 55</span>
                </div>

                <h3 class="g-color-primary g-font-weight-600 g-font-size-12 text-uppercase mb-3">Special deals</h3>
                <div class="input-group">
                  <input class="form-control g-rounded-left-50 border-0 g-pl-20 g-pr-15" type="email" placeholder="Your email">
                  <div class="input-group-btn">
                    <button class="btn u-btn-primary g-font-size-11 text-uppercase g-rounded-right-50 g-px-20 g-py-15" type="submit">Subscribe</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contacts -->

      <!-- Clients -->
      <div class="container g-py-70">
        <div class="js-carousel"
             data-infinite="true"
             data-autoplay="true"
             data-slides-show="6"
             data-responsive='[{
               "breakpoint": 1200,
               "settings": {
                 "slidesToShow": 6
               }
             }, {
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 5
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 4
               }
             }, {
               "breakpoint": 576,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 446,
               "settings": {
                 "slidesToShow": 1
               }
             }]'>
          <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ root }}assets/img-temp/200x100/img1.png" alt="Image description">
          </div>

          <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ root }}assets/img-temp/200x100/img2.png" alt="Image description">
          </div>

          <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ root }}assets/img-temp/200x100/img3.png" alt="Image description">
          </div>

          <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ root }}assets/img-temp/200x100/img4.png" alt="Image description">
          </div>

          <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ root }}assets/img-temp/200x100/img5.png" alt="Image description">
          </div>

          <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ root }}assets/img-temp/200x100/img6.png" alt="Image description">
          </div>

          <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ root }}assets/img-temp/200x100/img7.png" alt="Image description">
          </div>

          <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ root }}assets/img-temp/200x100/img8.png" alt="Image description">
          </div>

          <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_3 g-opacity-1--hover g-cursor-pointer" src="{{ root }}assets/img-temp/200x100/img9.png" alt="Image description">
          </div>
        </div>
      </div>
      <!-- End Clients -->

      {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
      {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}

      {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
    </main>

    {% include "html/assets/include/nunjucks/partials/blocks/helpers/outer-spaces-helper.njk" %}

    {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

    <!-- JS Implementing Plugins -->
    <script src="{{ root }}assets/vendor/appear.js"></script>
    <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    {% include "html/assets/include/nunjucks/partials/js/js-dzsparallaxer.njk" %}
    <script src="{{ root }}assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="{{ root }}assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="{{ root }}assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="{{ root }}assets/vendor/hs-bg-video/hs-bg-video.js"></script>
    <script src="{{ root }}assets/vendor/hs-bg-video/vendor/player.min.js"></script>
    <script src="{{ root }}assets/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="{{ root }}assets/vendor/gmaps/gmaps.min.js"></script>

    <!-- JS Unify -->
    <script src="{{ root }}assets/js/hs.core.js"></script>
    <script src="{{ root }}assets/js/components/hs.header.js"></script>
    <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
    <script src="{{ root }}assets/js/components/hs.tabs.js"></script>
    <script src="{{ root }}assets/js/components/hs.carousel.js"></script>
    <script src="{{ root }}assets/js/helpers/hs.bg-video.js"></script>
    <script src="{{ root }}assets/js/components/hs.popup.js"></script>
    <script src="{{ root }}assets/js/components/gmap/hs.map.js"></script>
    <script src="{{ root }}assets/js/components/hs.onscroll-animation.js"></script>
    <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="{{ root }}assets/js/custom.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      // initialization of google map
      function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
      }

      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of scroll animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of video on background
        $.HSCore.helpers.HSBgVideo.init('.js-bg-video');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of masonry
        $('.masonry-grid').imagesLoaded().then(function () {
          $('.masonry-grid').masonry({
            columnWidth: '.masonry-grid-sizer',
            itemSelector: '.masonry-grid-item',
            percentPosition: true
          });
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
    </script>

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async defer></script>

    {% set SSCookiePrefix = "unify" %}
    {% set SSDefaultCustomColor = "#72c02c" %}
    {% set SSDefaultOuterSpaces = "0px" %}
    {% set SSDefaultContentFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% set SSDefaultHeadingFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% include "html/assets/include/nunjucks/partials/blocks/style-switcher.njk" %}
  </body>
</html>
