/*------------------------------------
  Rounds
------------------------------------*/

.g-rounded {
  &-0 {
    &--top {
      &-left {
        border-top-left-radius: 0 !important;
      }

      &-right {
        border-top-right-radius: 0 !important;
      }
    }

    &--bottom {
      &-left {
        border-bottom-left-radius: 0 !important;
      }

      &-right {
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}