/*------------------------------------
  Heights
------------------------------------*/
.g-height-36 {
  @include px-to-rem(height, 36px !important);
}

.g-height-38 {
  @include px-to-rem(height, 38px !important);
}

.g-min-height-65 {
  @include px-to-rem(min-height, 65px !important);
}

.g-height-230 {
  @include px-to-rem(height, 230px !important);
}

.g-height-780 {
  @include px-to-rem(height, 780px !important);
}

.g-height-800 {
  @include px-to-rem(height, 800px !important);
}

@media (min-width: $g-md) {
  .g-height-48--md {
    height: 48px !important;
  }

  .g-height-50--md {
    height: 50px !important;
  }

  .g-height-55--md {
    height: 55px !important;
  }
}

@media (min-width: $g-lg) {
  .g-height-48--lg {
    height: 48px !important;
  }

  .g-height-55--lg {
    height: 55px !important;
  }

  .g-height-100--lg {
    height: 100px !important;
  }

  .g-height-124--lg {
    height: 124px !important;
  }

  .g-height-130--lg {
    height: 130px !important;
  }

  .g-min-height-200--lg {
    min-height: 200px !important;
  }

  .g-height-350--lg {
    height: 350px !important;
  }

  .g-height-400--lg {
    height: 400px !important;
  }

  .g-height-50vh--lg {
    height: 50vh !important;
  }

  .g-height-59_5vh--lg {
    height: 59.5vh !important;
  }
}
