/*------------------------------------
  Opacities
------------------------------------*/

.g-opacity-1--success {
  [class*="has-success"] & {
    opacity: 1 !important;
  }
}

.g-opacity-1--error {
  [class*="has-error"] & {
    opacity: 1 !important;
  }
}

.g-opacity-1--parent-sibling-checked {
  input:checked + .g-parent & {
    opacity: 1 !important;
  }
}

@media (min-width: $g-sm) {
  .g-opacity-1--sm {
    opacity: 1 !important;
  }
}
