/*------------------------------------
  Position spaces
------------------------------------*/

.g-top {
  &-4 {
    top: 4px !important;

    &--before::before {
      top: 4px !important;
    }
  }

  &-8 {
    top: 8px !important;
  }

  &-100x--before::before {
    top: 100% !important;
  }
}

.g-left {
  &-0 {
    &--before::before {
      left: 0 !important;
    }
  }

  &-3 {
    left: 3px;
  }

  &-25 {
    left: 25px;

    &--before::before {
      @include px-to-rem(left, 25px !important);
    }
  }

  &-50x--before::before {
    left: 50% !important;
  }
}

.g-right {
  &-3 {
    right: 3px;
  }
}
