{# Settings #}
{% set root = "../../../" %}
{% set sidebarNavActive_1 = "shortcode-base-icon-et-line-icon" %}
{% set title = "Elegant Themes 100 Line Icons" %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
{% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
{% include "html/assets/include/nunjucks/partials/core-css.njk" %}
{% include "html/assets/include/nunjucks/partials/core-icons.njk" %}
<link rel="stylesheet" href="{{ root }}assets/vendor/icon-etlinefont/style.css">
{% include "html/assets/include/nunjucks/partials/css/css-dzsparallaxer.njk" %}
<link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/wait-animate.min.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">

{% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
</head>

<body class="u-body--header-side-push-left u-body--header-side-opened u-has-sidebar-navigation g-overflow-x-hidden">
  <main>
    {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/sidebars/sidebar-shortcode-nav.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/page-title/shortcode-page-title/shortcode-page-title-base.njk" %}

    <section class="g-py-100">
      <div class="container">
        <div class="row text-center u-icons-demo g-mx-0">
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-mobile"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-laptop"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-desktop"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-tablet"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-phone"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-document"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-documents"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-search"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-clipboard"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-newspaper"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-notebook"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-book-open"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-browser"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-calendar"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-presentation"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-picture"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-pictures"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-video"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-camera"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-printer"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-toolbox"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-briefcase"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-wallet"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-gift"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-bargraph"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-grid"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-expand"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-focus"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-edit"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-adjustments"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-ribbon"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-hourglass"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-lock"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-megaphone"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-shield"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-trophy"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-flag"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-map"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-puzzle"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-basket"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-envelope"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-streetsign"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-telescope"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-gears"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-key"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-paperclip"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-attachment"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-pricetags"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-lightbulb"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-layers"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-pencil"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-tools"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-tools-2"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-scissors"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-paintbrush"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-magnifying-glass"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-circle-compass"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-linegraph"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-mic"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-strategy"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-beaker"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-caution"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-recycle"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-anchor"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-profile-male"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-profile-female"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-bike"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-wine"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-hotairballoon"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-globe"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-genius"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-map-pin"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-dial"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-chat"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-heart"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-cloud"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-upload"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-download"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-target"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-hazardous"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-piechart"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-speedometer"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-global"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-compass"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-lifesaver"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-clock"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-aperture"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-quote"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-scope"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-alarmclock"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-refresh"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-happy"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-sad"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-facebook"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-twitter"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-googleplus"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-rss"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-tumblr"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-linkedin"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 u-icons-demo__item">
            <span class="u-icon-v1 g-mb-10">
              <i class="et-icon-dribbble"></i>
            </span>
            <input class="js-selecter js-icons-demo-item__value text-truncate u-icons-demo-item__value" type="text" readonly="readonly">
          </div>
        </div>
      </div>
    </section>

    {% include "html/assets/include/nunjucks/partials/blocks/cta/cta-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
  </main>

  {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

  <!-- JS Implementing Plugins -->
  <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  {% include "html/assets/include/nunjucks/partials/js/js-dzsparallaxer.njk" %}
  <script src="{{ root }}assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  {% include "html/assets/include/nunjucks/partials/js/js-jquery-ui-core.njk" %}

  <!-- jQuery UI Helpers -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>

  <!-- jQuery UI Widgets -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>

  <!-- JS Unify -->
  <script src="{{ root }}assets/js/hs.core.js"></script>

  <script src="{{ root }}assets/js/components/hs.header.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
  <script src="{{ root }}assets/js/components/hs.header-side.js"></script>

  <script src="{{ root }}assets/js/helpers/hs.selecter.js"></script>
  <script src="{{ root }}assets/js/demo/hs.demo.icons.js"></script>

  <script src="{{ root }}assets/js/components/hs.autocomplete-local-search.js"></script>
  <script src="{{ root }}assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.shortcode-filter.js"></script>
  <script src="{{ root }}assets/js/components/hs.scrollbar.js"></script>

  <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

  <!-- JS Custom -->
  <script src="{{ root }}assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
      $.HSCore.components.HSHeaderSide.init($('#sideNav'));

      // initialization of autocomplet
      $.HSCore.components.HSLocalSearchAutocomplete.init('#u-sidebar-navigation__search-autocomplete');

      // initialization of HSMegaMenu plugin
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });
    });
  </script>
</body>
</html>
