<!-- Header -->
<header id="js-header" class="u-header u-header--static u-header--floating g-mt-40--lg"
        data-header-fix-moment-classes="g-bg-primary-gradient-opacity-v1">
  <div class="container">
    <div class="u-header__section u-header__section--dark g-bg-primary-gradient-opacity-v1 g-transition-0_3 g-py-10"
         data-header-fix-moment-exclude="g-bg-primary-gradient-opacity-v1 g-py-10"
         data-header-fix-moment-classes="g-py-5">
      <nav class="navbar navbar-expand-lg">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a href="{{ root }}index.html" class="navbar-brand">
          <img src="{{ root }}assets/img/logo/logo-2.png" alt="Image Description">
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--sm" id="navBar">
          <ul class="navbar-nav text-uppercase g-font-weight-600 mx-auto">
            <li class="nav-item g-mx-25--lg{% if mainNavActive_1 == 'home' %} active{% endif %}">
              <a href="#!" class="nav-link px-0">Home
                {% if mainNavActive_1 == 'home' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item g-mx-25--lg{% if mainNavActive_1 == 'features' %} active{% endif %}">
              <a href="#!" class="nav-link px-0">Features
                {% if mainNavActive_1 == 'features' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item g-mx-25--lg{% if mainNavActive_1 == 'shortcodes' %} active{% endif %}">
              <a href="#!" class="nav-link px-0">Shortcodes
                {% if mainNavActive_1 == 'shortcodes' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item g-mx-25--lg{% if mainNavActive_1 == 'pages' %} active{% endif %}">
              <a href="#!" class="nav-link px-0">Pages
                {% if mainNavActive_1 == 'pages' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item g-mx-25--lg{% if mainNavActive_1 == 'demos' %} active{% endif %}">
              <a href="#!" class="nav-link px-0">Demos
                {% if mainNavActive_1 == 'demos' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
            <li class="nav-item g-mx-25--lg g-mr-0--lg{% if mainNavActive_1 == 'whats-new' %} active{% endif %}">
              <a href="#!" class="nav-link px-0">What's New
                {% if mainNavActive_1 == 'whats-new' %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
          </ul>
        </div>
        <!-- End Navigation -->

        <!-- Search -->
        <div class="d-inline-block g-pos-rel g-valign-middle g-ml-30 g-ml-0--lg">
          <a href="#!" class="g-font-size-18 g-color-white"
             aria-haspopup="true"
             aria-expanded="false"
             aria-controls="searchform-1"
             data-dropdown-target="#searchform-1"
             data-dropdown-type="css-animation"
             data-dropdown-duration="300"
             data-dropdown-animation-in="fadeInUp"
             data-dropdown-animation-out="fadeOutDown">
            <i class="fa fa-search"></i>
          </a>

          <!-- Search Form -->
          <form id="searchform-1" class="u-searchform-v1 u-dropdown--css-animation u-dropdown--hidden g-bg-primary-gradient-opacity-v1 g-box-shadow-none g-pa-10 g-mt-25--lg g-mt-20--lg--scrolling">
            <div class="input-group g-brd-primary--focus">
              <input class="form-control rounded-0 u-form-control g-brd-white" type="search" placeholder="Enter Your Search Here...">

              <div class="input-group-addon p-0">
                <button class="btn rounded-0 btn-primary btn-md g-font-size-14 g-px-18" type="submit">Go</button>
              </div>
            </div>
          </form>
          <!-- End Search Form -->
        </div>
        <!-- End Search -->
      </nav>
    </div>
  </div>
</header>
<!-- End Header -->
