{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "blog" %}
{% set mainNavActive_2 = "blog-minimal" %}
{% set mainNavActive_3 = "blog-minimal-2-left-sidebar" %}
{% set title = "Blog Minimal 2 Left Sidebar | " %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-css.njk" %}
    <link rel="stylesheet" href="{{ root }}assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

    {% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
    {% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
  </head>

  <body>
    <main>
      {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

      <!-- Breadcrumbs -->
      <section class="g-bg-gray-light-v5 g-py-80">
        <div class="container text-center">
          <h2 class="h2 g-color-black g-font-weight-600">Blog minimal 2 left sidebar</h2>

          <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5">
              <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Home</a>
              <i class="g-color-gray-light-v2 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-mr-5">
              <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Blog</a>
              <i class="g-color-gray-light-v2 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-color-primary">
              <span>Blog minimal 2 left sidebar</span>
            </li>
          </ul>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- Blog Minimal Blocks -->
      <div class="container g-pt-100 g-pb-20">
        <div class="row justify-content-between">
          <div class="col-lg-9 order-lg-2 g-mb-80">
            <div class="g-pl-20--lg">
              <!-- Blog Minimal Blocks -->
              <article class="g-mb-100">
                <div class="g-mb-30">
                  <div class="media g-mb-25">
                    <img class="d-flex g-width-40 g-height-40 rounded-circle mr-2" src="{{ root }}assets/img-temp/100x100/img7.jpg" alt="Image Description">
                    <div class="media-body">
                      <h4 class="h6 g-color-primary mb-0"><a href="#!">Alex Teseira</a></h4>
                      <span class="d-block g-color-gray-dark-v4 g-font-size-12">May 31 2017 - 5 min read</span>
                    </div>
                  </div>

                  <img class="img-fluid w-100 g-mb-25" src="{{ root }}assets/img-temp/740x380/img1.jpg" alt="Image Description">
                  <h2 class="h4 g-color-black g-font-weight-600 mb-3">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">Exclusive interview with InVision's CEO</a>
                  </h2>
                  <p class="g-color-gray-dark-v4 g-line-height-1_8">Clark Valberg is the founder and CEO of InVision. If you are a designer, you have probably gotten an email from Clark or from InVision at one time or another, but if you’re not familiar with the company.</p>
                  <a class="g-font-size-13" href="#!">Read more...</a>
                </div>

                <ul class="d-flex justify-content-end list-inline g-brd-y g-brd-gray-light-v3 g-font-size-13 g-py-13 mb-0">
                  <li class="list-inline-item mr-auto">
                    <i class="align-middle g-color-primary g-font-size-default mr-1 icon-medical-022 u-line-icon-pro"></i>
                    <a class="g-color-gray-dark-v4 g-color-primary--hover g-transition-0_3 g-text-underline--none--hover" href="#!">5k</a>
                  </li>
                  <li class="list-inline-item mr-4">
                    <i class="align-middle g-color-primary g-font-size-default mr-1 icon-finance-206 u-line-icon-pro"></i>
                    <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">10 Comments</a>
                  </li>
                  <li class="list-inline-item">
                    <i class="align-middle g-color-primary g-font-size-default mr-1 fa fa-bookmark-o"></i>
                    <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">Bookmark</a>
                  </li>
                </ul>
              </article>
              <!-- End Blog Minimal Blocks -->

              <!-- Blog Minimal Blocks -->
              <article class="g-mb-100">
                <div class="g-mb-30">
                  <div class="media g-mb-25">
                    <img class="d-flex g-width-40 g-height-40 rounded-circle mr-2" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
                    <div class="media-body">
                      <h4 class="h6 g-color-primary mb-0"><a href="#!">Sara Kajevnikova</a></h4>
                      <span class="d-block g-color-gray-dark-v4 g-font-size-12">June 1 2017 - 8 min read</span>
                    </div>
                  </div>

                  <img class="img-fluid w-100 g-mb-25" src="{{ root }}assets/img-temp/740x380/img2.jpg" alt="Image Description">
                  <h2 class="h4 g-color-black g-font-weight-600 mb-3">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">Announcing a free plan for small teams</a>
                  </h2>
                  <p class="g-color-gray-dark-v4 g-line-height-1_8">At Wake, our mission has always been focused on bringing openness and transparency to the design process. We’ve always believed that by providing a space where designers can share ongoing work not only empowers them to make better products.</p>
                  <a class="g-font-size-13" href="#!">Read more...</a>
                </div>

                <ul class="d-flex justify-content-end list-inline g-brd-y g-brd-gray-light-v3 g-font-size-13 g-py-13 mb-0">
                  <li class="list-inline-item mr-auto">
                    <i class="align-middle g-color-primary g-font-size-default mr-1 icon-medical-022 u-line-icon-pro"></i>
                    <a class="g-color-gray-dark-v4 g-color-primary--hover g-transition-0_3 g-text-underline--none--hover" href="#!">3.3k</a>
                  </li>
                  <li class="list-inline-item mr-4">
                    <i class="align-middle g-color-primary g-font-size-default mr-1 icon-finance-206 u-line-icon-pro"></i>
                    <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">8 Comments</a>
                  </li>
                  <li class="list-inline-item">
                    <i class="align-middle g-color-primary g-font-size-default mr-1 fa fa-bookmark-o"></i>
                    <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">Bookmark</a>
                  </li>
                </ul>
              </article>
              <!-- End Blog Minimal Blocks -->

              <!-- Blog Minimal Blocks -->
              <article class="g-mb-100">
                <div class="g-mb-30">
                  <div class="media g-mb-25">
                    <img class="d-flex g-width-40 g-height-40 rounded-circle mr-2" src="{{ root }}assets/img-temp/100x100/img7.jpg" alt="Image Description">
                    <div class="media-body">
                      <h4 class="h6 g-color-primary mb-0"><a href="#!">Alex Teseira</a></h4>
                      <span class="d-block g-color-gray-dark-v4 g-font-size-12">June 2 2017 - 4 min read</span>
                    </div>
                  </div>

                  <img class="img-fluid w-100 g-mb-25" src="{{ root }}assets/img-temp/740x380/img3.jpg" alt="Image Description">
                  <h2 class="h4 g-color-black g-font-weight-600 mb-3">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">In the future, design principles won’t be about design</a>
                  </h2>
                  <p class="g-color-gray-dark-v4 g-line-height-1_8">In an attempt to answer those questions, I poured over the biggest collections of design principles on the internet [1][2], and came to the following conclusion: corporate design principles are a set of shared guidelines that reflect the core design values and vision of a company.</p>
                  <a class="g-font-size-13" href="#!">Read more...</a>
                </div>

                <ul class="d-flex justify-content-end list-inline g-brd-y g-brd-gray-light-v3 g-font-size-13 g-py-13 mb-0">
                  <li class="list-inline-item mr-auto">
                    <i class="align-middle g-color-primary g-font-size-default mr-1 icon-medical-022 u-line-icon-pro"></i>
                    <a class="g-color-gray-dark-v4 g-color-primary--hover g-transition-0_3 g-text-underline--none--hover" href="#!">2.1k</a>
                  </li>
                  <li class="list-inline-item mr-4">
                    <i class="align-middle g-color-primary g-font-size-default mr-1 icon-finance-206 u-line-icon-pro"></i>
                    <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">2 Comments</a>
                  </li>
                  <li class="list-inline-item">
                    <i class="align-middle g-color-primary g-font-size-default mr-1 fa fa-bookmark-o"></i>
                    <a class="d-inline-block g-color-gray-dark-v4 g-text-underline--none--hover" href="#!">Bookmark</a>
                  </li>
                </ul>
              </article>
              <!-- End Blog Minimal Blocks -->

              <!-- Pagination -->
              <nav id="stickyblock-end" class="text-center" aria-label="Page Navigation">
                <ul class="list-inline">
                  <li class="list-inline-item float-left g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#!" aria-label="Previous">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i> Previous
                    </span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" href="#!">1</a>
                  </li>
                  <li class="list-inline-item">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#!">2</a>
                  </li>
                  <li class="list-inline-item float-right g-hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#!" aria-label="Next">
                    <span aria-hidden="true">
                      Next <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- End Pagination -->
            </div>
          </div>

          <div class="col-lg-3 order-lg-1 g-brd-right--lg g-brd-gray-light-v4 g-mb-80">
            <div class="g-pr-20--lg">
              <!-- Links -->
              <div class="g-mb-50">
                <h3 class="h5 g-color-black g-font-weight-600 mb-4">Links</h3>
                <ul class="list-unstyled g-font-size-13 mb-0">
                  <li>
                    <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#!"><i class="mr-2 fa fa-angle-right"></i> People</a>
                  </li>
                  <li>
                    <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#!"><i class="mr-2 fa fa-angle-right"></i> News Publications</a>
                  </li>
                  <li>
                    <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#!"><i class="mr-2 fa fa-angle-right"></i> Marketing &amp; IT</a>
                  </li>
                  <li>
                    <a class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#!"><i class="mr-2 fa fa-angle-right"></i> Business Strategy</a>
                  </li>
                  <li>
                    <a class="d-block active u-link-v5 g-color-black g-bg-gray-light-v5 g-font-weight-600 g-rounded-50 g-px-20 g-py-8" href="#!"><i class="mr-2 fa fa-angle-right"></i> Untold Stories</a>
                  </li>
                </ul>
              </div>
              <!-- End Links -->

              <hr class="g-brd-gray-light-v4 g-mt-50 mb-0">

              <div id="stickyblock-start" class="js-sticky-block g-sticky-block--lg g-pt-50" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
                <!-- Publications -->
                <div class="g-mb-50">
                  <h3 class="h5 g-color-black g-font-weight-600 mb-4">Publications</h3>
                  <ul class="list-unstyled g-font-size-13 mb-0">
                    <li>
                      <article class="media g-mb-35">
                        <img class="d-flex g-width-40 g-height-40 rounded-circle mr-3" src="{{ root }}assets/img-temp/100x100/img1.jpg" alt="Image Description">
                        <div class="media-body">
                          <h4 class="h6 g-color-black g-font-weight-600">Htmlstream</h4>
                          <p class="g-color-gray-dark-v4">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                          <a class="btn u-btn-outline-primary g-font-size-11 g-rounded-25" href="#!">Follow</a>
                        </div>
                      </article>
                    </li>
                    <li>
                      <article class="media g-mb-35">
                        <img class="d-flex g-width-40 g-height-40 rounded-circle mr-3" src="{{ root }}assets/img-temp/100x100/img3.jpg" alt="Image Description">
                        <div class="media-body">
                          <h4 class="h6 g-color-black g-font-weight-600">Pixeel</h4>
                          <p class="g-color-gray-dark-v4">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                          <a class="btn u-btn-outline-primary g-font-size-11 g-rounded-25" href="#!">Follow</a>
                        </div>
                      </article>
                    </li>
                    <li>
                      <article class="media">
                        <img class="d-flex g-width-40 g-height-40 rounded-circle mr-3" src="{{ root }}assets/img-temp/100x100/img2.jpg" alt="Image Description">
                        <div class="media-body">
                          <h4 class="h6 g-color-black g-font-weight-600">WrapBootstrap</h4>
                          <p class="g-color-gray-dark-v4">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                          <a class="btn u-btn-outline-primary g-font-size-11 g-rounded-25" href="#!">Follow</a>
                        </div>
                      </article>
                    </li>
                  </ul>
                </div>
                <!-- End Publications -->

                <hr class="g-brd-gray-light-v4 g-my-50">

                <!-- Tags -->
                <div class="g-mb-40">
                  <h3 class="h5 g-color-black g-font-weight-600 mb-4">Tags</h3>
                  <ul class="u-list-inline mb-0">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#!">Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#!">Graphic</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#!">Front End Development</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#!">CSS</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#!">HTML</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-gray-dark-v4 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-12 g-rounded-50 g-py-4 g-px-15" href="#!">Sass</a>
                    </li>
                  </ul>
                </div>
                <!-- End Tags -->

                <hr class="g-brd-gray-light-v4 g-my-50">

                <!-- Newsletter -->
                <div class="g-mb-50">
                  <h3 class="h5 g-color-black g-font-weight-600 mb-4">Newsletter</h3>
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn u-btn-primary g-rounded-left-50 g-py-13 g-px-20">
                        <i class="icon-communication-062 u-line-icon-pro g-pos-rel g-top-1"></i>
                      </button>
                    </span>
                    <input class="form-control g-brd-primary g-placeholder-gray-dark-v5 border-left-0 g-rounded-right-50 g-px-15" type="email" placeholder="Enter your email ...">
                  </div>
                </div>
                <!-- End Newsletter -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Blog Minimal Blocks -->

      {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
      {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
      {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
    </main>

    {% include "html/assets/include/nunjucks/partials/blocks/helpers/outer-spaces-helper.njk" %}

    {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

    <!-- JS Implementing Plugins -->
    <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>

    <!-- JS Unify -->
    <script src="{{ root }}assets/js/hs.core.js"></script>
    <script src="{{ root }}assets/js/components/hs.header.js"></script>
    <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
    <script src="{{ root }}assets/js/components/hs.tabs.js"></script>
    <script src="{{ root }}assets/js/components/hs.sticky-block.js"></script>
    <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="{{ root }}assets/js/custom.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of sticky blocks
        setTimeout(function() {
          $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
        }, 300);
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
    </script>

    {% set SSCookiePrefix = "unify" %}
    {% set SSDefaultCustomColor = "#72c02c" %}
    {% set SSDefaultOuterSpaces = "0px" %}
    {% set SSDefaultContentFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% set SSDefaultHeadingFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% include "html/assets/include/nunjucks/partials/blocks/style-switcher.njk" %}
  </body>
</html>
