{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "blog" %}
{% set mainNavActive_2 = "blog-grid-modern" %}
{% set mainNavActive_3 = "blog-grid-modern-1" %}
{% set title = "Blog Grid Modern 1 | " %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-css.njk" %}
    <link rel="stylesheet" href="{{ root }}assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

    {% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
    {% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
  </head>

  <body>
    <main>
      {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

      <!-- Breadcrumbs -->
      <section class="container text-center g-py-80">
        <h2 class="h2 g-color-black g-font-weight-600">Blog grid modern 1</h2>

        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Blog</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>Blog grid modern 1</span>
          </li>
        </ul>
      </section>
      <!-- End Breadcrumbs -->

      <!-- Blog Grid Blocks -->
      <div class="g-bg-gray-light-v5">
        <div class="container g-py-100">
          <div class="masonry-grid row g-mb-70">
            <div class="masonry-grid-sizer col-sm-1"></div>

            <div class="masonry-grid-item col-sm-12 col-lg-8 g-mb-30">
              <!-- Blog Grid Modern Blocks -->
              <article class="row align-items-stretch no-gutters u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
                <div class="col-md-6 g-bg-white g-rounded-left-5">
                  <div class="g-pa-60">
                    <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                      <li class="list-inline-item mr-0">Alex Teseira</li>
                      <li class="list-inline-item mx-2">&#183;</li>
                      <li class="list-inline-item">5 June 2017</li>
                    </ul>

                    <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                      <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Announcing a free plan for small teams</a>
                    </h2>
                    <p class="g-color-gray-dark-v4 g-line-height-1_8 mb-4">At Wake, our mission has always been focused on bringing openness and transparency to the design process.</p>

                    <ul class="list-inline g-font-size-12 mb-0">
                      <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-lightred g-bg-lightred-opacity-0_1 g-bg-lightred--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Start-Up</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 g-bg-size-cover g-bg-pos-center g-min-height-300 g-rounded-right-5" data-bg-img-src="{{ root }}assets/img-temp/400x500/img1.jpg"></div>
              </article>
              <!-- End Blog Grid Modern Blocks -->
            </div>

            <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30">
              <!-- Blog Grid Modern Blocks -->
              <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
                <img class="img-fluid w-100 g-rounded-top-5" src="{{ root }}assets/img-temp/400x270/img1.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
                  <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                    <li class="list-inline-item mr-0">Alex Teseira</li>
                    <li class="list-inline-item mx-2">&#183;</li>
                    <li class="list-inline-item">7 June 2017</li>
                  </ul>

                  <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                    <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Exclusive interview with InVision's CEO</a>
                  </h2>

                  <ul class="list-inline g-font-size-12 mb-0">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Art</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-yellow g-bg-yellow-opacity-0_1 g-bg-yellow--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Design</a>
                    </li>
                  </ul>
                </div>
              </article>
              <!-- End Blog Grid Modern Blocks -->
            </div>

            <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30">
              <!-- Blog Grid Modern Blocks -->
              <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
                <img class="img-fluid w-100 g-rounded-top-5" src="{{ root }}assets/img-temp/400x270/img2.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
                  <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                    <li class="list-inline-item mr-0">Alex Teseira</li>
                    <li class="list-inline-item mx-2">&#183;</li>
                    <li class="list-inline-item">4 June 2017</li>
                  </ul>

                  <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                    <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Accessibility - Apple</a>
                  </h2>

                  <ul class="list-inline g-font-size-12 mb-0">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-bluegray g-bg-bluegray-opacity-0_1 g-bg-bluegray--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Apple</a>
                    </li>
                  </ul>
                </div>
              </article>
              <!-- End Blog Grid Modern Blocks -->
            </div>

            <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30">
              <!-- Blog Grid Modern Blocks -->
              <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3 g-bg-primary text-center g-rounded-5 g-pa-30 g-py-100">
                <span class="g-color-white-opacity-0_8 g-font-size-60 g-line-height-0">
                  &#8220;
                </span>
                <h2 class="h3 g-color-white g-font-weight-600 mb-4">In the future, design principles won’t be about design</h2>
                <h3 class="g-color-white-opacity-0_8 g-font-size-13 text-uppercase">Alex Teseira</h3>

                <a class="u-link-v2" href="#!"></a>
              </article>
              <!-- End Blog Grid Modern Blocks -->
            </div>

            <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30">
              <!-- Blog Grid Modern Blocks -->
              <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
              <img class="img-fluid w-100 g-rounded-top-5" src="{{ root }}assets/img-temp/400x270/img3.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
                  <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                    <li class="list-inline-item mr-0">Alex Teseira</li>
                    <li class="list-inline-item mx-2">&#183;</li>
                    <li class="list-inline-item">29 May 2017</li>
                  </ul>

                  <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                    <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Basic Patterns of Mobile Navigation</a>
                  </h2>

                  <ul class="list-inline g-font-size-12 mb-0">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-deeporange g-bg-deeporange-opacity-0_1 g-bg-deeporange--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Mobile</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Pattern</a>
                    </li>
                  </ul>
                </div>
              </article>
              <!-- End Blog Grid Modern Blocks -->
            </div>

            <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30">
              <!-- Blog Grid Modern Blocks -->
              <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
                <img class="img-fluid w-100 g-rounded-top-5" src="{{ root }}assets/img-temp/400x270/img7.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
                  <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                    <li class="list-inline-item mr-0">Alex Teseira</li>
                    <li class="list-inline-item mx-2">&#183;</li>
                    <li class="list-inline-item">1 June 2017</li>
                  </ul>

                  <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                    <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">#pillow is the color</a>
                  </h2>

                  <ul class="list-inline g-font-size-12 mb-0">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-primary g-bg-primary-opacity-0_1 g-bg-primary--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">HTML</a>
                    </li>
                  </ul>
                </div>
              </article>
              <!-- End Blog Grid Modern Blocks -->
            </div>

            <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30">
              <!-- Blog Grid Modern Blocks -->
              <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
                <img class="img-fluid w-100 g-rounded-top-5" src="{{ root }}assets/img-temp/400x270/img4.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
                  <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                    <li class="list-inline-item mr-0">Alex Teseira</li>
                    <li class="list-inline-item mx-2">&#183;</li>
                    <li class="list-inline-item">1 June 2017</li>
                  </ul>

                  <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                    <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">A chair for $100</a>
                  </h2>

                  <ul class="list-inline g-font-size-12 mb-0">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-yellow g-bg-yellow-opacity-0_1 g-bg-yellow--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Interior</a>
                    </li>
                  </ul>
                </div>
              </article>
              <!-- End Blog Grid Modern Blocks -->
            </div>

            <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30">
              <!-- Blog Grid Modern Blocks -->
              <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
                <img class="img-fluid w-100 g-rounded-top-5" src="{{ root }}assets/img-temp/400x270/img6.jpg" alt="Image Description">
                <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
                  <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                    <li class="list-inline-item mr-0">Alex Teseira</li>
                    <li class="list-inline-item mx-2">&#183;</li>
                    <li class="list-inline-item">1 June 2017</li>
                  </ul>

                  <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                    <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Stylish office in Manhattan</a>
                  </h2>

                  <ul class="list-inline g-font-size-12 mb-0">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-black g-bg-black-opacity-0_1 g-bg-black--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Office</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-color-cyan g-bg-cyan-opacity-0_1 g-bg-cyan--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#!">Interior</a>
                    </li>
                  </ul>
                </div>
              </article>
              <!-- End Blog Grid Modern Blocks -->
            </div>
          </div>

          <!-- Pagination -->
          <nav class="text-center" aria-label="Page Navigation">
            <ul class="list-inline">
              <li class="list-inline-item float-left g-hidden-xs-down">
                <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#!" aria-label="Previous">
                <span aria-hidden="true">
                  <i class="fa fa-angle-left g-mr-5"></i> Previous
                </span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" href="#!">1</a>
              </li>
              <li class="list-inline-item">
                <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#!">2</a>
              </li>
              <li class="list-inline-item float-right g-hidden-xs-down">
                <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#!" aria-label="Next">
                <span aria-hidden="true">
                  Next <i class="fa fa-angle-right g-ml-5"></i>
                </span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- End Pagination -->
        </div>
      </div>
      <!-- End Blog Grid Blocks -->

      {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
      {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
      {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
    </main>

    {% include "html/assets/include/nunjucks/partials/blocks/helpers/outer-spaces-helper.njk" %}

    {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

    <!-- JS Implementing Plugins -->
    <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="{{ root }}assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="{{ root }}assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <!-- JS Unify -->
    <script src="{{ root }}assets/js/hs.core.js"></script>
    <script src="{{ root }}assets/js/components/hs.header.js"></script>
    <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
    <script src="{{ root }}assets/js/components/hs.tabs.js"></script>
    <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="{{ root }}assets/js/custom.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of masonry
        $('.masonry-grid').imagesLoaded().then(function () {
          $('.masonry-grid').masonry({
            columnWidth: '.masonry-grid-sizer',
            itemSelector: '.masonry-grid-item',
            percentPosition: true
          });
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
    </script>

    {% set SSCookiePrefix = "unify" %}
    {% set SSDefaultCustomColor = "#72c02c" %}
    {% set SSDefaultOuterSpaces = "0px" %}
    {% set SSDefaultContentFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% set SSDefaultHeadingFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% include "html/assets/include/nunjucks/partials/blocks/style-switcher.njk" %}
  </body>
</html>
