{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "blog" %}
{% set mainNavActive_2 = "blog-minimal" %}
{% set mainNavActive_3 = "blog-minimal-4" %}
{% set title = "Blog Minimal 4 | " %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
    {% include "html/assets/include/nunjucks/partials/core-css.njk" %}
    <link rel="stylesheet" href="{{ root }}assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

    {% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
    {% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
  </head>

  <body>
    <main>
      {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

      <!-- Breadcrumbs -->
      <section class="g-bg-gray-light-v5 g-py-80">
        <div class="container text-center">
          <h2 class="h2 g-color-black g-font-weight-600">Blog minimal 4</h2>

          <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5">
              <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Home</a>
              <i class="g-color-gray-light-v2 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-mr-5">
              <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Blog</a>
              <i class="g-color-gray-light-v2 g-ml-5">/</i>
            </li>
            <li class="list-inline-item g-color-primary">
              <span>Blog minimal 4</span>
            </li>
          </ul>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- Blog Minimal Blocks -->
      <div class="container g-pt-100 g-pb-70">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <!-- Blog Minimal Blocks -->
            <article class="g-mx-15 u-block-hover">
              <div class="g-px-100--md g-py-30--md">
                <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                  <li class="list-inline-item mr-0">Alex Teseira</li>
                  <li class="list-inline-item mx-2">&#183;</li>
                  <li class="list-inline-item">5 June 2017</li>
                </ul>
                <h2 class="h2 g-color-black g-font-weight-600 mb-4">
                  <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">Talking Why Her?</a>
                </h2>
              </div>
              <div class="g-overflow-hidden">
                <img class="img-fluid w-100 u-block-hover__main--mover-down" src="{{ root }}assets/img-temp/900x400/img1.jpg" alt="Image Description">
              </div>
              <div class="g-px-100--md g-py-30--md">
                <div class="mb-4">
                  <p class="g-font-size-18 g-line-height-2 mb-0">Working together on the daily requires each individual to let the greater good of the team’s work surface above their own ego. It’s important to stay detail oriented with every project we tackle.</p>
                </div>
                <a class="g-color-gray-dark-v2 g-color-primary--hover g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Read more ...</a>
              </div>
            </article>
            <!-- End Blog Minimal Blocks -->

            <hr class="g-mb-60 g-mx-15">

            <!-- Blog Minimal Blocks -->
            <article class="row align-items-center u-block-hover">
              <div class="col-md-6 g-mb-30">
                <div class="g-overflow-hidden">
                  <img class="img-fluid w-100 u-block-hover__main--mover-down g-mb-minus-6" src="{{ root }}assets/img-temp/400x270/img9.jpg" alt="Image Description">
                </div>
              </div>
              <div class="col-md-6 g-mb-30">
                <div class="g-pa-30--md">
                  <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                    <li class="list-inline-item mr-0">Alex Teseira</li>
                    <li class="list-inline-item mx-2">&#183;</li>
                    <li class="list-inline-item">5 June 2017</li>
                  </ul>
                  <h2 class="h3 g-color-black g-font-weight-600 mb-4">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">Exclusive interview with InVision's CEO</a>
                  </h2>
                  <a class="g-color-gray-dark-v2 g-color-primary--hover g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Read more ...</a>
                </div>
              </div>
            </article>
            <!-- End Blog Minimal Blocks -->

            <hr class="g-mb-60 g-mx-15">

            <!-- Blog Minimal Blocks -->
            <article class="row align-items-center u-block-hover">
              <div class="col-md-6 g-mb-30">
                <div class="g-overflow-hidden">
                  <img class="img-fluid w-100 u-block-hover__main--mover-down g-mb-minus-6" src="{{ root }}assets/img-temp/400x270/img15.jpg" alt="Image Description">
                </div>
              </div>
              <div class="col-md-6 g-mb-30">
                <div class="g-pa-30--md">
                  <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                    <li class="list-inline-item mr-0">Alex Teseira</li>
                    <li class="list-inline-item mx-2">&#183;</li>
                    <li class="list-inline-item">5 June 2017</li>
                  </ul>
                  <h2 class="h3 g-color-black g-font-weight-600 mb-4">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">Announcing a free plan for small teams</a>
                  </h2>
                  <a class="g-color-gray-dark-v2 g-color-primary--hover g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Read more ...</a>
                </div>
              </div>
            </article>
            <!-- End Blog Minimal Blocks -->

            <hr class="g-mb-60 g-mx-15">

            <!-- Blog Minimal Blocks -->
            <article class="g-mx-15 u-block-hover">
              <div class="g-px-100--md g-py-30--md">
                <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                  <li class="list-inline-item mr-0">Alex Teseira</li>
                  <li class="list-inline-item mx-2">&#183;</li>
                  <li class="list-inline-item">5 June 2017</li>
                </ul>
                <h2 class="h2 g-color-black g-font-weight-600 mb-4">
                  <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">Exclusive interview with InVision's CEO</a>
                </h2>
              </div>
              <div class="g-overflow-hidden">
                <img class="img-fluid w-100 u-block-hover__main--mover-down" src="{{ root }}assets/img-temp/900x400/img2.jpg" alt="Image Description">
              </div>
              <div class="g-px-100--md g-py-30--md">
                <div class="mb-4">
                  <p class="g-font-size-18 g-line-height-2 mb-0">Working together on the daily requires each individual to let the greater good of the team’s work surface above their own ego. It’s important to stay detail oriented with every project we tackle.</p>
                </div>
                <a class="g-color-gray-dark-v2 g-color-primary--hover g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Read more ...</a>
              </div>
            </article>
            <!-- End Blog Minimal Blocks -->

            <hr class="g-mb-60 g-mx-15">

            <!-- Blog Minimal Blocks -->
            <article class="row align-items-center u-block-hover">
              <div class="col-md-6 g-mb-30">
                <div class="g-overflow-hidden">
                  <img class="img-fluid w-100 u-block-hover__main--mover-down g-mb-minus-6" src="{{ root }}assets/img-temp/400x270/img16.jpg" alt="Image Description">
                </div>
              </div>
              <div class="col-md-6 g-mb-30">
                <div class="g-pa-30--md">
                  <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                    <li class="list-inline-item mr-0">Alex Teseira</li>
                    <li class="list-inline-item mx-2">&#183;</li>
                    <li class="list-inline-item">5 June 2017</li>
                  </ul>
                  <h2 class="h3 g-color-black g-font-weight-600 mb-4">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">In the future, design principles won’t be about design</a>
                  </h2>
                  <a class="g-color-gray-dark-v2 g-color-primary--hover g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Read more ...</a>
                </div>
              </div>
            </article>
            <!-- End Blog Minimal Blocks -->

            <hr class="g-mb-60 g-mx-15">

            <!-- Blog Minimal Blocks -->
            <article class="row align-items-center u-block-hover">
              <div class="col-md-6 g-mb-30">
                <div class="g-overflow-hidden">
                  <img class="img-fluid w-100 u-block-hover__main--mover-down g-mb-minus-6" src="{{ root }}assets/img-temp/400x270/img2.jpg" alt="Image Description">
                </div>
              </div>
              <div class="col-md-6 g-mb-30">
                <div class="g-pa-30--md">
                  <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                    <li class="list-inline-item mr-0">Alex Teseira</li>
                    <li class="list-inline-item mx-2">&#183;</li>
                    <li class="list-inline-item">5 June 2017</li>
                  </ul>
                  <h2 class="h3 g-color-black g-font-weight-600 mb-4">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">#c0ffee is the color</a>
                  </h2>
                  <a class="g-color-gray-dark-v2 g-color-primary--hover g-font-weight-600 g-font-size-12 g-text-underline--none--hover text-uppercase" href="#!">Read more ...</a>
                </div>
              </div>
            </article>
            <!-- End Blog Minimal Blocks -->
          </div>
        </div>
      </div>
      <!-- End Blog Minimal Blocks -->

      <!-- Pagination -->
      <div class="container g-pb-100">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <!-- Pagination -->
            <nav class="text-center" aria-label="Page Navigation">
              <ul class="list-inline">
                <li class="list-inline-item float-left g-hidden-xs-down">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#!" aria-label="Previous">
                  <span aria-hidden="true">
                    <i class="fa fa-angle-left g-mr-5"></i> Previous
                  </span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" href="#!">1</a>
                </li>
                <li class="list-inline-item">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#!">2</a>
                </li>
                <li class="list-inline-item float-right g-hidden-xs-down">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#!" aria-label="Next">
                  <span aria-hidden="true">
                    Next <i class="fa fa-angle-right g-ml-5"></i>
                  </span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
      <!-- End Pagination -->

      {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
      {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
      {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
    </main>

    {% include "html/assets/include/nunjucks/partials/blocks/helpers/outer-spaces-helper.njk" %}

    {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

    <!-- JS Implementing Plugins -->
    <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>

    <!-- JS Unify -->
    <script src="{{ root }}assets/js/hs.core.js"></script>
    <script src="{{ root }}assets/js/components/hs.header.js"></script>
    <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
    <script src="{{ root }}assets/js/components/hs.tabs.js"></script>
    <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="{{ root }}assets/js/custom.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
    </script>

    {% set SSCookiePrefix = "unify" %}
    {% set SSDefaultCustomColor = "#72c02c" %}
    {% set SSDefaultOuterSpaces = "0px" %}
    {% set SSDefaultContentFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% set SSDefaultHeadingFont = "Open Sans, Helvetica, Arial, sans-serif" %}
    {% include "html/assets/include/nunjucks/partials/blocks/style-switcher.njk" %}
  </body>
</html>
