<!-- About Card -->
<div class="card g-brd-gray-light-v7 {% if bodyTheme == 'u-card-v1' %}{{ bodyTheme }} {% endif %}g-pa-15 g-pa-25-30--md g-mb-30">
  <section class="g-mb-20">
    <h3 class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">About me</h3>

    <div class="g-font-weight-300 g-color-gray-dark-v6 g-mb-20">
      <span class="g-font-size-40 g-color-black">9.8</span>
      <span class="g-font-size-18 g-mr-6">/ 10.0</span>
      Overall Rating
    </div>

    <p class="g-font-weight-300 g-color-gray-dark-v6 mb-0">A Pocket PC is a handheld computer, which features many of the same capabilities as a modern PC. These handy little devices allow individuals to retrieve and store e-mail messages, create a
      contact file, appointments, surf the internet, exchange text messages and more. Every product that is labeled as a Pocket PC must be accompanied with specific software to operate the unit and must feature a touchscreen.</p>
  </section>

  <section class="row">
    <div class="col-md-6 g-mb-20 g-mb-0--md">
      <h3 class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">Skills</h3>

      <ul class="u-list-inline mb-0">
        <li class="list-inline-item g-mb-6 g-mr-2">
          <a class="u-tags-v1 g-bg-lightblue-v3--hover g-color-gray-dark-v6 g-color-white--hover g-brd-around g-brd-gray-light-v4 g-brd-lightblue-v3--hover g-rounded-50 g-px-10 g-px-20--md g-py-2" href="#!">developer</a>
        </li>
        <li class="list-inline-item g-mb-6 g-mr-2">
          <a class="u-tags-v1 g-bg-lightblue-v3--hover g-color-gray-dark-v6 g-color-white--hover g-brd-around g-brd-gray-light-v4 g-brd-lightblue-v3--hover g-rounded-50 g-px-10 g-px-20--md g-py-2" href="#!">html</a>
        </li>
        <li class="list-inline-item g-mb-6 g-mr-2">
          <a class="u-tags-v1 g-bg-lightblue-v3--hover g-color-gray-dark-v6 g-color-white--hover g-brd-around g-brd-gray-light-v4 g-brd-lightblue-v3--hover g-rounded-50 g-px-10 g-px-20--md g-py-2" href="#!">bootstrap</a>
        </li>
        <li class="list-inline-item g-mb-6 g-mr-2">
          <a class="u-tags-v1 g-bg-lightblue-v3--hover g-color-gray-dark-v6 g-color-white--hover g-brd-around g-brd-gray-light-v4 g-brd-lightblue-v3--hover g-rounded-50 g-px-10 g-px-20--md g-py-2" href="#!">php</a>
        </li>
        <li class="list-inline-item g-mb-6 g-mr-2">
          <a class="u-tags-v1 g-bg-lightblue-v3--hover g-color-gray-dark-v6 g-color-white--hover g-brd-around g-brd-gray-light-v4 g-brd-lightblue-v3--hover g-rounded-50 g-px-10 g-px-20--md g-py-2" href="#!">management</a>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3 class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black g-mb-20">50 Recommended</h3>

      <ul class="list-inline mb-0">
        <li class="list-inline-item g-mb-10 g-mb-0--sm">
          <img class="g-width-30 g-width-48--md g-height-30 g-height-48--md rounded-circle" src="{{ root }}assets/img-temp/100x100/img5.jpg" alt="Image Description">
        </li>
        <li class="list-inline-item g-mb-10 g-mb-0--sm">
          <img class="g-width-30 g-width-48--md g-height-30 g-height-48--md rounded-circle" src="{{ root }}assets/img-temp/100x100/img6.jpg" alt="Image Description">
        </li>
        <li class="list-inline-item g-mb-10 g-mb-0--sm">
          <img class="g-width-30 g-width-48--md g-height-30 g-height-48--md rounded-circle" src="{{ root }}assets/img-temp/100x100/img14.jpg" alt="Image Description">
        </li>
        <li class="list-inline-item g-mb-10 g-mb-0--sm">
          <img class="g-width-30 g-width-48--md g-height-30 g-height-48--md rounded-circle" src="{{ root }}assets/img-temp/100x100/img16.jpg" alt="Image Description">
        </li>
        <li class="list-inline-item g-mb-10 g-mb-0--sm">
          <div class="d-flex align-items-center justify-content-center g-width-30 g-width-48--md g-height-30 g-height-48--md g-bg-lightblue-v4 g-font-size-14 g-font-size-16--md g-color-white rounded-circle">+42</div>
        </li>
      </ul>
    </div>
  </section>
</div>
<!-- End About Card -->
