<!-- Calendar Card -->
<div class="{% if bodyTheme == 'u-card-v1' %}{{ bodyTheme }} g-rounded-4 g-overflow-hidden {% endif %}g-mb-30">
  <header class="u-bg-overlay g-bg-img-hero g-bg-black-opacity-0_5--after{% if bodyTheme !== 'u-card-v1' %} g-rounded-4 g-rounded-0--bottom-left g-rounded-0--bottom-right g-overflow-hidden{% endif %}" style="background-image: url({{ root }}assets/img-temp/400x270/img3.jpg);">
    <div class="u-bg-overlay__inner g-color-white g-pa-30">
      <h3 class="g-font-weight-300 g-font-size-28 g-color-white g-mb-35">
        Friday 3rd
        <span class="d-block g-font-size-16">January 2017</span>
      </h3>
      <a class="btn btn-md text-uppercase u-btn-outline-white" href="#">Add event</a>
    </div>
  </header>

  <section class="{% if bodyTheme !== 'u-card-v1' %}g-brd-around g-brd-top-none g-brd-gray-light-v7 g-rounded-4 g-rounded-0--top-left g-rounded-0--top-right{% endif %}">
    <div class="g-pa-10 g-pa-20--md">
      <div id="datepicker" class="u-datepicker--v2"></div>
    </div>

    <ul class="list-unstyled">
      <li class="media g-bg-gray-light-v8 g-brd-left g-brd-2 g-brd-darkblue-v2 g-px-30 g-py-15 g-mb-2 g-ml-minus-1">
        <strong class="d-flex align-self-center g-width-80 g-color-black">8:00am</strong>

        <div class="media-body g-font-weight-300 g-color-black">Build My Own Website</div>
      </li>
      <li class="media g-bg-gray-light-v8 g-brd-left g-brd-2 g-brd-lightblue-v4 g-px-30 g-py-15 g-mb-2 g-ml-minus-1">
        <strong class="d-flex align-self-center g-width-80 g-color-black">9:00am</strong>

        <div class="media-body g-font-weight-300 g-color-black">Create New Content</div>
      </li>
      <li class="media g-bg-gray-light-v8 g-brd-left g-brd-2 g-brd-darkblue-v2 g-px-30 g-py-15 g-mb-2 g-ml-minus-1">
        <strong class="d-flex align-self-center g-width-80 g-color-black">10:00am</strong>

        <div class="media-body g-font-weight-300 g-color-black">Check Unify Profile Updates</div>
      </li>
    </ul>
  </section>
</div>
<!-- End Calendar Card -->