<!-- Income Project Card -->
<div class="card g-brd-gray-light-v7 {% if bodyTheme == 'u-card-v1' %}{{ bodyTheme }} {% endif %}g-pa-15 g-px-30--md g-py-25--md g-mb-30">
  <header class="media g-mb-20">
    <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0">Projects income</h3>

    <div class="media-body d-flex justify-content-end">August</div>
  </header>

  <section class="media g-mb-20">
    <div class="media-body align-self-end g-line-height-1_3 g-font-weight-300 g-font-size-40 g-color-black">
      10
      <span class="g-font-size-16 g-color-gray-dark-v7">+3%</span>
      <h5 class="g-font-weight-300 g-font-size-default g-font-size-16--md g-color-gray-dark-v6 mb-0">New Projects</h5>
    </div>

    <div class="d-flex align-self-end ml-auto">
      <div class="d-block text-right g-font-size-16">
        <span class="d-block g-color-black">$49,000</span>
        <span class="d-block g-color-lightblue-v3">+$19,000</span>
      </div>
    </div>

    <div class="d-flex align-self-end g-ml-12 g-mb-7">
      <svg class="g-fill-gray-dark-v9" width="12px" height="20px" viewBox="0 0 12 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g transform="translate(-21.000000, -751.000000)">
          <g transform="translate(0.000000, 64.000000)">
            <g transform="translate(20.000000, 619.000000)">
              <g transform="translate(1.000000, 68.000000)">
                <polygon points="6 20 0 13.9709049 0.576828937 13.3911999 5.59205874 18.430615 5.59205874 0 6.40794126 0 6.40794126 18.430615 11.4223552 13.3911999 12 13.9709049"></polygon>
              </g>
            </g>
          </g>
        </g>
      </svg>
      <svg class="g-fill-lightblue-v3" width="12px" height="20px" viewBox="0 0 12 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g transform="translate(-33.000000, -751.000000)">
          <g transform="translate(0.000000, 64.000000)">
            <g transform="translate(20.000000, 619.000000)">
              <g transform="translate(1.000000, 68.000000)">
                <polygon transform="translate(18.000000, 10.000000) scale(1, -1) translate(-18.000000, -10.000000)" points="18 20 12 13.9709049 12.5768289 13.3911999 17.5920587 18.430615 17.5920587 0 18.4079413 0 18.4079413 18.430615 23.4223552 13.3911999 24 13.9709049"></polygon>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </section>

  <section class="media">
    <div class="media-body align-self-end g-line-height-1_3 g-font-weight-300 g-font-size-40 g-color-black">
      15
      <span class="g-font-size-16 g-color-gray-dark-v7">-2%</span>
      <h5 class="g-font-weight-300 g-font-size-default g-font-size-16--md g-color-gray-dark-v6 mb-0">New Clients</h5>
    </div>

    <div class="d-flex align-self-end ml-auto">
      <div class="d-block text-right g-font-size-16">
        <span class="d-block g-color-black">$49,000</span>
        <span class="d-block g-color-lightred-v2">-$19,000</span>
      </div>
    </div>

    <div class="d-flex align-self-end g-ml-12 g-mb-7">
      <svg class="g-fill-lightred-v2" width="12px" height="20px" viewBox="0 0 12 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g transform="translate(-21.000000, -751.000000)">
          <g transform="translate(0.000000, 64.000000)">
            <g transform="translate(20.000000, 619.000000)">
              <g transform="translate(1.000000, 68.000000)">
                <polygon points="6 20 0 13.9709049 0.576828937 13.3911999 5.59205874 18.430615 5.59205874 0 6.40794126 0 6.40794126 18.430615 11.4223552 13.3911999 12 13.9709049"></polygon>
              </g>
            </g>
          </g>
        </g>
      </svg>
      <svg class="g-fill-gray-dark-v9" width="12px" height="20px" viewBox="0 0 12 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g transform="translate(-33.000000, -751.000000)">
          <g transform="translate(0.000000, 64.000000)">
            <g transform="translate(20.000000, 619.000000)">
              <g transform="translate(1.000000, 68.000000)">
                <polygon transform="translate(18.000000, 10.000000) scale(1, -1) translate(-18.000000, -10.000000)" points="18 20 12 13.9709049 12.5768289 13.3911999 17.5920587 18.430615 17.5920587 0 18.4079413 0 18.4079413 18.430615 23.4223552 13.3911999 24 13.9709049"></polygon>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </section>
</div>
<!-- End Income Project Card -->