<!-- Plan Card -->
<div class="card g-brd-gray-light-v7 {% if bodyTheme == 'u-card-v1' %}{{ bodyTheme }} {% endif %}g-pa-15 g-pa-25-30--md g-mb-30">
  <header class="media g-mb-20">
    <h3 class="d-flex align-self-center text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0">Cloud storage plan</h3>

    <div class="media-body d-flex justify-content-end">
      <a class="hs-admin-panel u-link-v5 g-font-size-20 g-color-gray-light-v3 g-color-lightblue-v3--hover" href="#!"></a>
      <a class="hs-admin-reload u-link-v5 g-font-size-20 g-color-gray-light-v3 g-color-lightblue-v3--hover g-ml-20" href="#!"></a>
    </div>
  </header>

  <section class="text-center g-mb-30">
    <strong class="d-block g-font-weight-300 g-font-size-28 g-color-lightblue-v3 g-mb-25">15gb</strong>

    <div class="js-donut-chart g-pos-rel mx-auto" style="width: 128px; height: 128px;"
         data-series='[70, 40]'
         data-border-width="4"
         data-start-angle="0"
         data-fill-colors='["#1cc9e4","#f1f5f5"]'>
      <i class="hs-admin-cloud-down g-absolute-centered g-font-size-40 g-color-gray-light-v3"></i>
    </div>
  </section>

  <section class="media">
    <h3 class="media-body align-self-center g-font-weight-300 g-font-size-22 g-font-size-28--md g-color-black mb-0">5gb</h3>

    <div class="d-flex align-self-center align-items-center justify-content-end">
      <span class="g-font-weight-300 g-font-size-16 g-color-gray-dark-v6">Remaining Space</span>
      <span class="d-flex align-self-center g-ml-12">
        <svg class="g-fill-lightred-v2" width="12px" height="20px" viewBox="0 0 12 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g transform="translate(-21.000000, -751.000000)">
            <g transform="translate(0.000000, 64.000000)">
              <g transform="translate(20.000000, 619.000000)">
                <g transform="translate(1.000000, 68.000000)">
                  <polygon points="6 20 0 13.9709049 0.576828937 13.3911999 5.59205874 18.430615 5.59205874 0 6.40794126 0 6.40794126 18.430615 11.4223552 13.3911999 12 13.9709049"></polygon>
                </g>
              </g>
            </g>
          </g>
        </svg>
        <svg class="g-fill-gray-dark-v9" width="12px" height="20px" viewBox="0 0 12 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g transform="translate(-33.000000, -751.000000)">
            <g transform="translate(0.000000, 64.000000)">
              <g transform="translate(20.000000, 619.000000)">
                <g transform="translate(1.000000, 68.000000)">
                  <polygon transform="translate(18.000000, 10.000000) scale(1, -1) translate(-18.000000, -10.000000)" points="18 20 12 13.9709049 12.5768289 13.3911999 17.5920587 18.430615 17.5920587 0 18.4079413 0 18.4079413 18.430615 23.4223552 13.3911999 24 13.9709049"></polygon>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </span>
    </div>
  </section>
</div>
<!-- End Plan Card -->