<!-- Sidebar Nav -->
<div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--{% if layoutTheme == 'dark' %}dark{% else %}light{% endif %}">
	<ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
		{% include "html/admin-template/assets/include/nunjucks/partials/blocks/navs/nav-main.njk" %}
	</ul>
</div>
<!-- End Sidebar Nav -->
